airtable-leads-visita-cl-to-zap-(novo-agendamento)-VBxRe5oSVmbCbFYZ.json
{"updatedAt":"2025-03-12T18:33:50.680Z","createdAt":"2025-03-12T16:26:55.543Z","id":"VBxRe5oSVmbCbFYZ","name":"Airtable Leads Visita CL to Zap (Novo Agendamento)","active":true,"isArchived":false,"nodes":[{"parameters":{"base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblag7S42K0GZhAWB","mode":"list","cachedResultName":"Leads Clientes (Calendly)","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB"},"id":"={{ $json.airtable_recordID }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-680,20],"id":"baeb86a5-e25a-4c77-9607-9b916d50cefe","name":"Airtable","credentials":null},{"parameters":{"resource":"messages-api","instanceName":"cl_bot","remoteJid":"={{ $('Airtable').item.json.Telefone }}","messageText":"=A reunião está confirmada para {{ DateTime.fromISO($('Airtable').item.json['Calendly Start Date & Time']).setZone('Europe/Lisbon').toFormat('dd-MM-yyyy HH:mm') }} (Hora de Lisboa). Este é o link da reunião: {{ $json.linkMeet }} \n*Por favor confirme o recebimento desta mensagem com um OK*.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-20,-100],"id":"b7933943-5ea9-4ddf-9c1d-6e61b4ce50ff","name":"Evo send first message","credentials":null},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[160,220],"id":"c16702ad-af71-41db-9d09-38f8cabf31be","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"95c9a1a1-23b0-47c0-8e05-bb77667cd82b","leftValue":"={{ $json['Event Type Name'] }}","rightValue":"Unknown","operator":{"type":"string","operation":"notEquals"}},{"id":"c6bb88c8-3100-4a0e-a5ee-c1878a9438e4","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-520,20],"id":"04287933-37c4-4daa-8e19-1d2f5470c1ba","name":"If - is not Unknown"},{"parameters":{"assignments":{"assignments":[{"id":"67967355-b1aa-428b-97e5-3445cf5d08b4","name":"airtable_recordID","value":"={{ $json.body.recordID }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-860,20],"id":"9be64c06-2bcd-4940-9963-cab3d7a19b12","name":"Set Variables"},{"parameters":{"httpMethod":"POST","path":"516cd570-c30b-4493-a660-44b8cdb5978d","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1080,20],"id":"e6bc4f5b-ccfe-4f15-9bad-d613405f6dae","name":"Webhook","webhookId":"516cd570-c30b-4493-a660-44b8cdb5978d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aad5f172-daa2-4e3d-b288-1c8c1956697d","leftValue":"={{ $json['Event Type Name'] }}","rightValue":"Visita Casas de Lisboa","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-300,-80],"id":"442fe7eb-2fa7-4098-9d73-b88995e0332a","name":"If - Event is Visita Casas de Lisboa"}],"connections":{"Airtable":{"main":[[{"node":"If - is not Unknown","type":"main","index":0}]]},"If - is not Unknown":{"main":[[{"node":"If - Event is Visita Casas de Lisboa","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Set Variables":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Set Variables","type":"main","index":0}]]},"If - Event is Visita Casas de Lisboa":{"main":[[{"node":"Evo send first message","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a6bc5b22-25b9-44b3-9f2b-7999ee408655","triggerCount":1,"shared":[{"updatedAt":"2025-03-12T16:26:55.543Z","createdAt":"2025-03-12T16:26:55.543Z","role":"workflow:owner","workflowId":"VBxRe5oSVmbCbFYZ","projectId":"LSMTPZdkzijhKOW0"}],"tags":[]}