autobot-assistant-com-function-calling-real-estate-expert-yEJtsOYu1VGan3zN.json
{"updatedAt":"2025-12-27T17:57:07.472Z","createdAt":"2025-02-25T14:45:55.431Z","id":"yEJtsOYu1VGan3zN","name":"Autobot Assistant com Function Calling Real Estate Expert","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo').item.json.fields.thread_id_openai }}/runs/{{ $('List Runs').item.json[\"first_id\"] }}/cancel ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"ea22b3d4-ad3e-43a8-8050-4c42fc14a90f","name":"Cancel a Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1872,2000]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo').item.json.fields.thread_id_openai }}/runs   ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"22c106d3-e75d-4b2f-ae6b-952be201483e","name":"List Runs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1712,2000]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $('Separa Argumentos de uma Tool Call').item.json.arguments.email }}","Obs":"Lead conversou com bot por Whatsapp que salvou seu email no banco de dados","id":"={{ $('Airtable - Search User 3').item.json.AirtableID }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Airtable ID","displayName":"Airtable ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}]},"options":{}},"id":"73d7c441-0af7-4ffd-8182-1d29afae4a8c","name":"Airtable - Save User Data","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[5648,1344],"alwaysOutputData":true},{"parameters":{"amount":4},"id":"d5801bf6-5d43-476e-af51-6aeaeba9bc25","name":"Wait 4s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3648,1968],"webhookId":"aa1b52d0-c977-4026-b078-23092a7ae25f"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/messages?order=desc ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"f7556900-b768-4921-a488-e8bea9db1630","name":"Pega a ultima mensagem OpenAI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4448,2848]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"15503b08-9fd6-4ecb-a885-8ac93b9c1e5a","name":"Cria thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3760,2064]},{"parameters":{"base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"id":"={{ $('Airtable - Update ThreadID de novo').item.json.fields.AirtableID }}","options":{}},"id":"3947fbe7-2b9c-4426-a18e-c3e7f70ab071","name":"Airtable - Get User Data","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[5648,1088],"alwaysOutputData":true},{"parameters":{"jsCode":"return items.map(item => {\n    const args = item.json.arguments;  // Assuming the arguments are stored here\n    let formulaParts = [];\n\n    // Loop over each argument to create part of the formula\n    for (const key in args) {\n        const value = args[***\n        if (typeof value === 'number' || typeof value === 'boolean') {\n            formulaParts.push(`{${*** = ${value}`);\n        } else {\n            formulaParts.push(`{${*** = '${value.replace(/'/g, \"\\\\'\")}'`); // Escape single quotes in values\n        }\n    }\n\n    // Combine all parts with AND\n    const formula = formulaParts.length > 0 ? `AND(${formulaParts.join(', ')})` : \"\";\n    return { json: { formula } };\n});\n"},"id":"61f42cd6-18b2-442c-be6e-370a37edfa95","name":"Code - Dynamic Search Formula","type":"n8n-nodes-base.code","typeVersion":2,"position":[5648,880],"alwaysOutputData":true},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"output\": \"name: {{ $json[\"Tag_Name\"] }} address: {{ $json[\"Morada\"] }} city: {{ $json[\"Cidade\"] }} area: {{ $json[\"Area (m2)\"] }} number_rooms: {{ $json[\"N_Quartos\"] }} number_bathrooms: {{ $json[\"N_Banheiros\"] }} price: {{ $json[\"Asking_Price\"] }}\"\n}\n","options":{}},"id":"0d94308e-786f-4287-b45d-4cc1744900dd","name":"Output get_property","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[6128,880]},{"parameters":{"name":"=myaudiofile_{{ $json.id }}.ogg ","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"12EeR4MJLtsKk68X-vy36sWLf-JxHY4Zp","mode":"list","cachedResultName":"Compartiháveis","cachedResultUrl":"https://drive.google.com/drive/folders/12EeR4MJLtsKk68X-vy36sWLf-JxHY4Zp"},"options":{}},"id":"cce647a9-1fcc-442e-8365-dd797b8165d1","name":"Upload to Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-304,128],"notesInFlow":false},{"parameters":{"method":"POST","url":"https://api.convertio.co/convert","sendBody":true,"bodyParameters":{"parameters":[{"name":"file","value":"={{ $('Webhook').item.json.body.audio.audioUrl }}"},{"name":"input","value":"url"},{"name":"outputformat","value":"mp3"},{"name":"apikey","value":"b8c73a5ca5b6dd2e0e5fb74928f64d1c"}]},"options":{}},"id":"382e10b5-7fe6-45cb-9677-694facdd231b","name":"Convertio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,128]},{"parameters":{"url":"=https://api.convertio.co/convert/{{ $('Get Step').item.json.data.id }}/status  ","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"e6492b18-b843-4b72-a9ab-6f00b9a37f5d","name":"Get File","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[752,80]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"018d37bf-2a88-4f24-a748-5eeaec24ab18","leftValue":"={{ $json.data.step }}","rightValue":"finish","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"a79a521e-1e29-4ab0-96d7-b78d56ea6c3f","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[544,128]},{"parameters":{"url":"=https://api.convertio.co/convert/{{ $json.data.id }}/status ","options":{}},"id":"655ffb65-9d40-4792-8dbd-3da5ec46cad7","name":"Get Step","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,128]},{"parameters":{"amount":10},"id":"c0e831c6-91ea-444b-b02c-77d8ba0d74c7","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[752,240],"webhookId":"dc81e9b7-40bf-4e0f-baef-6bb2ae849564"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"abdc51b1-c595-49d4-8bcb-f47ed719dec4","leftValue":"={{ $('Airtable - Search User').item.json.AirtableID }}","rightValue":"1999-12-31T19:00:00.000-05:00","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"344c9acb-fc79-4841-ac6c-be5e475d493d","name":"If - User is in Leads","type":"n8n-nodes-base.if","typeVersion":2,"position":[-3888,1792]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tbl1KUBXh9510d3eJ","mode":"list","cachedResultName":"Listings","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tbl1KUBXh9510d3eJ"},"filterByFormula":"={{$node[\"Code - Dynamic Search Formula\"].json[\"formula\"]}}","options":{}},"id":"10a2cbae-57f9-4f38-a26c-25161237c695","name":"Airtable - Search Listings","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[5888,880],"alwaysOutputData":true},{"parameters":{"jsCode":"const data = items[0].json.collection;\nconst low_availability_threshold = 1;\nconst availableTimes = data.slice(0, low_availability_threshold);\n\nreturn availableTimes.map(time => ({ json: time }));\n"},"id":"81b68175-c38a-44c5-ba75-ac0584e168ad","name":"Get First Option","type":"n8n-nodes-base.code","typeVersion":2,"position":[5888,1744],"alwaysOutputData":true},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"output\": \"date: {{ new Date($json.start_time).toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' }) }} time: {{ new Date($json.start_time).toLocaleTimeString('en-GB', { hour: '2-digit', minute: '2-digit', hour12: false }) }} link: {{ $json.scheduling_url }}\"\n}","options":{}},"id":"8d638cc2-d201-440a-8ffc-08eea5d7e32f","name":"Output appointment_booking","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[6112,1744]},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"Token_Usage_Total":0,"Whatsapp":"={{ $('Normalizacao').item.json.user_phone }}","Name":"={{ $('Normalizacao').item.json.user_name }}","thread_id_openai":"={{ $('Cria thread').item.json.id }}","concat_Messages":"Início","thread_id_created":"={{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }}"},"matchingColumns":[],"schema":[{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Counter_Messages","displayName":"Counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"AirtableID","displayName":"AirtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}]},"options":{}},"id":"e95e745a-2b98-4829-9644-2bbada53a007","name":"Airtable - Create User","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-3424,2064]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"46585015-202f-48e9-8e3e-e9d0a75649c0","leftValue":"={{ $('Normalizacao').item.json['from me?'] }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"4892ec14-3dba-4147-b7d6-7fbbe90da6ba","name":"If - From me","type":"n8n-nodes-base.if","typeVersion":2,"position":[-4608,1760]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"bc590144-e352-4b1b-9530-1541496352d8","leftValue":"={{ $('Airtable - Update ThreadID de novo').item.json.off_Bot }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c75dd951-5d7e-4958-9d88-122b2f16dc05","name":"If - On-Bot Leads","type":"n8n-nodes-base.if","typeVersion":2,"position":[1040,1840]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"4fbc5f93-0475-4fe3-8daa-59150e0afcd6","leftValue":"={{ $json.status }}","rightValue":"queued","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"5e37e566-5e2a-4961-a7c4-19362f5b71f7","leftValue":"={{ $json.status }}","rightValue":"in_progress","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"048d6902-f2b0-4a5d-b8a2-6ba09d9ccc9a","name":"If - Run Status queued or in_progress","type":"n8n-nodes-base.if","typeVersion":2,"position":[3488,1792]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"526284ff-e692-48f1-9050-04099c43d627","leftValue":"={{ $('Get Run Status').item.json.status }}","rightValue":"requires_action","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"0f4f798c-bc96-4477-bcda-815b69a1e00e","name":"If If - Run Status requires_action","type":"n8n-nodes-base.if","typeVersion":2,"position":[3872,1808]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"thread_id_openai":"={{ $json.thread_id_openai }}","AirtableID":"={{ $json.AirtableID }}"},"matchingColumns":["AirtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"AirtableID","displayName":"AirtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}]},"options":{}},"id":"096920e7-984f-4e9f-bd2c-9b07da31969d","name":"Airtable - Update ThreadID de novo","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-1056,1808]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"Token_Usage_Total":"={{ Number($('Airtable - Update ThreadID de novo').item.json.fields.Token_Usage_Total) + Number($('Get Run Status').last().json.usage.total_tokens) }} ","last_Message":"=Data: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: {{ $('Pega a ultima mensagem OpenAI').item.json.data[0].content[0].text.value }}","concat_Messages":"={{ $('Airtable - Update RunID').item.json.fields.concat_Messages }}\n\nData: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: {{ $('Pega a ultima mensagem OpenAI').item.json.data[0].content[0].text.value }}","id":"={{ $('Airtable - Search User 3').item.json.AirtableID }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}]},"options":{}},"id":"2639f7ab-9510-4f01-b680-f1e6f6f8bd17","name":"Airtable - Update Text last_Message e concat_Message Text e Token Usage","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[5600,2704]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"filterByFormula":"=RIGHT({Whatsapp}, 8) = {{ $('Normalizacao').item.json.user_phone.slice(-8) }}","options":{}},"id":"de0d22b7-7aa3-4d3a-b06b-5f0a5cf992cb","name":"Airtable - Search User","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-4880,1760],"alwaysOutputData":true},{"parameters":{},"id":"76289b8b-f100-48a3-8154-465ba05fe9ed","name":"Queue Message Text","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2672,1952]},{"parameters":{"url":"https://api.calendly.com/event_type_available_times","authentication":"predefinedCredentialType","nodeCredentialType":"calendlyApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"start_time","value":"={{ new Date(Date.now() + 1 * 24 * 60 * 60 * 1000).toISOString().replace('.000Z', '.000000Z') }}"},{"name":"end_time","value":"={{ new Date(Date.now() + 6 * 24 * 60 * 60 * 1000).toISOString().replace('.000Z', '.000000Z') }}\n"},{"name":"event_type","value":"https://api.calendly.com/event_types/CDGLZIB2I6ENF6CN"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"b1405002-e132-44fd-8aaa-94621db93fd1","name":"Get Event Availability","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5648,1760],"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/instances/{{ $('Z-api Credentials').item.json['z-api_instanciaID'] }}/*** $('Z-api Credentials').item.json['z-api_instancia***'] }}/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"={{ $('Z-api Credentials').item.json['z-api_client_token'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Normalizacao').item.json.user_phone }}\",\n  \"message\": \"Agende Reunião\",\n  \"image\": \"https://source.unsplash.com/random/1080x1080/?business\",\n  \"linkUrl\": \"https://www.casasdelisboa.com.br/calendlyvisita\",\n  \"title\": \"Casas de Lisboa\",\n  \"linkDescription\": \"Book an Appointment\"\n} ","options":{}},"id":"f90f855e-8389-4d3f-9c8a-500eef6e2a4e","name":"Envia resposta Zap Link Agendamento","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6112,1968]},{"parameters":{"options":{}},"id":"83a59edd-268f-4192-9734-e503ec71e89d","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5360,2864]},{"parameters":{"assignments":{"assignments":[{"id":"b85d717a-4655-4c22-9d0e-74a5b659b128","name":"msgs","value":"={{ $json.data[0].content[0].text.value }}","type":"string"}]},"options":{}},"id":"2e9397bf-684c-48b1-83a5-14871c50ff5c","name":"Msgs","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[4912,2864]},{"parameters":{"jsCode":"// Função para dividir o texto em mensagens com base em duas quebras de linha consecutivas\nfunction splitTextIntoMessages(text) {\n    if (typeof text !== 'string') {\n        console.log('Invalid input: text is not a string', text);\n        throw new Error('Invalid input: text must be a string');\n    }\n    return text.split('\\n\\n').map(part => part.trim()).filter(part => part.length > 0).map(part => {\n        return { json: { message: part } };\n    });\n}\n\n// Log the input data for debugging\nconsole.log('Input items:', JSON.stringify(items, null, 2));\n\n// Check if msgs_output exists and is a string\nconst inputText = items[0]?.json?.msgs;\n\nif (typeof inputText !== 'string') {\n    console.log('Invalid input: items[0].json.msgs_output is not a valid string', inputText);\n    throw new Error('Invalid input: items[0].json.msgs_output is not a valid string');\n}\n\n// Split the text into messages\nconst messages = splitTextIntoMessages(inputText);\n\n// Return the messages as n8n items\nreturn messages;\n"},"id":"032be2df-9a40-4565-bc93-830f1c16a02f","name":"Quebra Mensagem","type":"n8n-nodes-base.code","typeVersion":2,"position":[5120,2864]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"last_Run":"={{ $json.id }}","AirtableID":"={{ $('Airtable - Search User 3').item.json.AirtableID }}"},"matchingColumns":["AirtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"AirtableID","displayName":"AirtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}]},"options":{}},"id":"614132e3-b1e3-4ed9-b240-756d1017702c","name":"Airtable - Update RunID","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[3104,1792]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo').item.json.fields.thread_id_openai }}/runs/{{ $('Run Assistant').item.json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"d40a7655-3d18-4d6f-9332-427748c75390","name":"Get Run Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3312,1792]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update RunID').item.json.fields.thread_id_openai }}/messages       ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"assistant"},{"name":"content","value":"=Agende reunião no link https://www.casasdelisboa.com.br/calendlyvisita"}]},"options":{}},"id":"3b5746bd-2a5c-4498-a356-239f823e43d4","name":"Create Message Zap Link Agendamento","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6448,1968]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"AirtableID":"={{ $('Airtable - Search User 3').item.json.AirtableID }}","concat_Messages":"={{ $('Airtable - Search User').item.json.concat_Messages }} \n\nData: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: Agende reunião no link https://www.casasdelisboa.com.br/calendlyvisita","last_Message":"=Data: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: Agende reunião no link https://www.casasdelisboa.com.br/calendlyvisita"},"matchingColumns":["AirtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"AirtableID","displayName":"AirtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}]},"options":{}},"id":"8494af49-080a-4502-b9f8-1dbcdc9a88fe","name":"Airtable - Update Off-Bot New Message Zap Link Agendamento","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[6624,1968]},{"parameters":{"assignments":{"assignments":[{"id":"beddbea7-a1e9-48a2-84fb-7d843eded789","name":"message","value":"={{ $('Webhook').item.json.body.text.message }}","type":"string"}]},"options":{}},"id":"bf35979d-d0d1-4733-b9a7-d88e8db0145b","name":"Set Message From Text","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[0,1824]},{"parameters":{},"id":"2e997f4c-8d41-444b-be3f-dd47871d9fd1","name":"Merge Messages","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[800,1840]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo').item.json.fields.thread_id_openai }}/messages     ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.payload_openai }}","options":{}},"id":"1b090654-0f5b-4fa4-b19c-a3d67bcd3a3c","name":"Create Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1584,1824],"onError":"continueErrorOutput"},{"parameters":{"amount":15},"id":"90be92b5-9f73-464f-bbea-fa4e86c266bf","name":"Wait 15s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2144,1808],"webhookId":"1533d748-525c-4e0b-a82b-849a56d4a5b8"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo').item.json.fields.thread_id_openai }}/messages ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"a67e75f6-7de6-4d0d-a020-f9bd224cd4af","name":"List Messages","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2304,1808]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"396adb2d-4693-4395-bf0c-410c069cbaae","leftValue":"={{ $('Create Message').item.json.id }}","rightValue":"={{ $json.data[0].id }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"481f9d03-a775-40da-91a2-6b0f7ae8a726","name":"If - Last message equal to first message - Fila de Mensagens","type":"n8n-nodes-base.if","typeVersion":2,"position":[2464,1808]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e0051e94-14ac-4315-bff0-f218625bf2c1","leftValue":"={{ $('Get Run Status').item.json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8dcf0331-73d1-4a07-a4b6-83850d0a379e","leftValue":"={{ $('Get Run Status').item.json.status }}","rightValue":"expired","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expired"}]},"options":{}},"id":"4ef53a7b-cbe7-4db2-a48a-2e094e6299d2","name":"Switch - Run Status Completed","type":"n8n-nodes-base.switch","typeVersion":3,"position":[4224,2864],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"15bd43a9-2c70-4d83-aa49-f14e0a44f03e","name":"tool_calls","value":"={{ $json.required_action.submit_tool_outputs.tool_calls }}","type":"array"}]},"options":{}},"id":"2afcefe7-17fc-4627-95f0-3434f02b0b1a","name":"Captura Tool Calls","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[4224,1344],"alwaysOutputData":false},{"parameters":{"fieldToSplitOut":"tool_calls","options":{"destinationFieldName":"properties"}},"id":"d7f4fcb6-93d8-4d3c-8222-5aada47d661a","name":"Split Out Tool Calls","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[4448,1344]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"703d0797-5599-4506-ad0e-6a5694856bc5","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4880,672]},{"parameters":{},"id":"641af78b-1d85-4e52-8913-4c23ccd3938a","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1280,2000]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update concat_Message').item.json.fields.thread_id_openai }}/runs  ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"},{"name":"additional_instructions","value":"=O Nome deste Usuário é {{ $('Airtable - Update ThreadID de novo').item.json.fields.Name }}. Responda sempre na mesma língua do usuário: {{ $('Airtable - Update ThreadID de novo').item.json.fields.Language }}. Seguem informações importantes: A Data e hora de agora é {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }}. O Link para Cancelamento da Reunião Evento de Agendamento: {{ $('Airtable - Update ThreadID de novo').item.json.calendly_cancel_url }} e o Link para Reagendamento da Reunião Evento de Agendamento: {{ $('Airtable - Update ThreadID de novo').item.json.calendly_reschedule_url }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"={{ $('AI').item.json.openai_assistant_id }}"}]},"options":{}},"id":"2c877aa9-019f-4616-96f0-9c75f78c1c26","name":"Run Assistant","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2912,1792]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"off_Bot":true,"AirtableID":"={{ $('Airtable - Search User').item.json.AirtableID }}"},"matchingColumns":["AirtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"AirtableID","displayName":"AirtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}]},"options":{}},"id":"984ceeee-77a6-4ec5-8cb3-acc327f0ba03","name":"Airtable - Update Bot Off","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-4224,1632]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"off_Bot":false,"AirtableID":"={{ $('Airtable - Search User').item.json.AirtableID }}"},"matchingColumns":["AirtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"AirtableID","displayName":"AirtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}]},"options":{}},"id":"9bf51ded-78ba-4875-a483-53e1f4c9da8f","name":"Airtable - Update Bot On","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-4224,1328]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"df4d145d-6bac-48cd-a15e-3a3c525baf03","leftValue":"={{ $('Webhook').item.json.body.audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"0edc9fc4-c4fd-4d3b-8fa5-da47e09a4b02","name":"If - É Áudio","type":"n8n-nodes-base.if","typeVersion":2,"position":[4640,2848]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"Token_Usage_Total":"={{ Number($('Airtable - Update ThreadID de novo').item.json.fields.Token_Usage_Total) + Number($('Get Run Status').last().json.usage.total_tokens) }} ","last_Message":"=Data: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: {{ $('Pega a ultima mensagem OpenAI').item.json.data[0].content[0].text.value }}","concat_Messages":"={{ $('Airtable - Update RunID').item.json.fields.concat_Messages }}\n\nData: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: {{ $('Pega a ultima mensagem OpenAI').item.json.data[0].content[0].text.value }}","id":"={{ $('Airtable - Search User 3').item.json.AirtableID }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}]},"options":{}},"id":"fa95f900-5c86-4702-acae-91b92f791083","name":"Airtable - Update Text last_Message e concat_Message Text e Token Usage1","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[4848,3632]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update RunID').item.json.fields.thread_id_openai }}/runs/{{ $('Airtable - Update RunID').item.json.fields.last_Run }}/cancel   ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"0c281fdb-871b-4aad-8945-96af92c940aa","name":"Cancel a Run1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5888,1968]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"output"}]},"options":{"outputFormat":"singleItem"}},"id":"0d84b43f-0b29-42a1-b927-43f779f8706f","name":"Summarize Search","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[6528,1488]},{"parameters":{"method":"POST","url":"=https://api.calendly.com/scheduled_events/{{ $json.uuid }}/cancellation","authentication":"predefinedCredentialType","nodeCredentialType":"calendlyApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"reason\": \"REUNIÃO CANCELADA PELO USUÁRIO\"\n}","options":{}},"id":"66b45a9b-30f9-498f-96c7-20968bbfacf0","name":"Cancel Event","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5808,2240]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"Notas":"REUNIÃO CANCELADA PELO USUÁRIO","AirtableID":"={{ $('Airtable - Search User 3').item.json.AirtableID }}"},"matchingColumns":["AirtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Counter_Messages","displayName":"Counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"AirtableID","displayName":"AirtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}]},"options":{}},"id":"fb34414d-03a6-4358-bf87-c401d803af53","name":"Airtable - Update Reunião Cancelada","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[5968,2240],"alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.properties.function.name }}","rightValue":"get_property","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_property"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"d6820d31-01fe-4999-a577-bc90bbe48c85","leftValue":"={{ $json.properties.function.name }}","rightValue":"get_user_data","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_user_data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a97545de-ccbf-4863-b9e4-10c9b1a34860","leftValue":"={{ $json.properties.function.name }}","rightValue":"save_user_data","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"save_user_data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"f79b85a2-05d1-4471-b506-07573b2434c0","leftValue":"={{ $json.properties.function.name }}","rightValue":"appointment_booking","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"booking"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"4d22cee2-3c36-4b75-acfe-0fc4bbfadb2e","leftValue":"={{ $json.properties.function.name }}","rightValue":"cancel_booking","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancel_booking"}]},"options":{}},"id":"69eb3453-512e-4921-8fe4-8f313b625f8f","name":"Escolha da Tool Function","type":"n8n-nodes-base.switch","typeVersion":3,"position":[5248,1344]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"concat_Messages":"={{ $('Airtable - Update ThreadID de novo').item.json.fields.concat_Messages }}\n\nData: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: {{ $('Normalizacao').item.json.user_name }} - Message: {{ $('Merge Messages').item.json.message }}","AirtableID":"={{ $('Airtable - Search User 3').item.json.AirtableID }}","last_Message":"=Data: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: {{ $('Normalizacao').item.json.user_name }} - Message: {{ $('Merge Messages').item.json.message }}"},"matchingColumns":["AirtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"AirtableID","displayName":"AirtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}]},"options":{}},"id":"fba41b79-555b-408b-ba15-5817260bc9e3","name":"Airtable - Update concat_Message","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[1872,1808]},{"parameters":{"content":"## Ativar/Desativar Bot","height":732.4140750421333,"width":676.8992889485663},"id":"a2a7135b-7878-4bd8-b5e3-9553f5d61168","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-4640,1264],"typeVersion":1},{"parameters":{"content":"## Criar e Gerir Usuário","height":657.933109152216,"width":1134.868517165519},"id":"85403266-9c24-4ad8-a3ab-46f7260b730e","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-3920,1712],"typeVersion":1},{"parameters":{"content":"## Gerir Media Types da Mensagem","height":2368.5455581724195,"width":1823.859671002569},"id":"8ab573d4-5d58-44ae-937f-fe6d67d6f675","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-928,592],"typeVersion":1},{"parameters":{"content":"## Aguarda Mensagens Picadas pra enviar tudo de uma vez","height":390.29870597180127,"width":724.8749270254123},"id":"342ce23c-4afb-480d-820c-51cb8e057ed8","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2112,1712],"typeVersion":1},{"parameters":{"content":"## Run Assistant OpenAI","height":505.68354057384374,"width":927.5780148398112},"id":"61823f13-d536-4f05-be6a-93947a80acec","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[2864,1712],"typeVersion":1},{"parameters":{"content":"## Create Message Assistant OpenAI","height":505.68354057384374,"width":612.5780148398112},"id":"4018bb96-2fa0-4d39-ad2f-d70a04c290a2","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1472,1728],"typeVersion":1},{"parameters":{"content":"## Converte texto em audio (TTS)","height":288.916580814899,"width":449.2389626469021},"id":"71890d70-f5e3-4d3e-b0d0-9e5c0aa01685","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[4784,3552],"typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"30709591-c9a0-4a59-8e36-43b031179021","leftValue":"={{ $json.thread_id_openai }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"dc60590e-e394-44eb-b1f5-d45c472a6932","name":"No Thread","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2560,1792]},{"parameters":{},"id":"cf4c6b57-2ce6-4709-85ea-52582be4b5af","name":"Merge User","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-1360,1808]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"59b73642-e068-4193-9e69-fb409a452042","leftValue":"={{ DateTime.fromISO($('Airtable - Search User 2').item.json['Last Modified']).setZone('Europe/Lisbon').toISO() }}","rightValue":"={{ $now.setZone('Europe/Lisbon').minus(1, 'days').toISO() }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"id":"ea72e726-50af-43c1-870b-156b96d6537b","name":"If - Mensagem há menos de 24h","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2400,1808]},{"parameters":{"content":"## Gerir Thread do Usuário na OpenAI (Cria nova thread se última mensagem há mais de 24h)","height":630.5355044698322,"width":1673.9950564483302},"id":"c8c2c2df-9c4f-40bd-a4b6-740c296216b1","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[-2608,1392],"typeVersion":1},{"parameters":{},"id":"7aaacb2d-2de1-42ae-bc5e-1a5287e4540f","name":"Merge - User","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-2928,1792]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"f3700aa3-e818-41aa-83b8-87aa949297c4","name":"Cria thread de novo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2288,1552]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Cria thread de novo').item.json.id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"assistant"},{"name":"content","value":"=Olá. Eu sou o Max e conduzirei o seu atendimento!"}]},"options":{}},"id":"979bab45-e466-4b56-b70a-f5ff792ea464","name":"Create Message Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2096,1552]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Cria thread').item.json.id }}/messages ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"assistant"},{"name":"content","value":"=Olá. Eu sou o Max e conduzirei o seu atendimento daqui pra frente!"}]},"options":{}},"id":"b7d164a7-d367-4ed8-a207-9a9f82bf29d2","name":"Create First Message Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3600,2064]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"Whatsapp":"={{ $('Normalizacao').item.json.user_phone }}","Token_Usage_Total":0,"thread_id_openai":"={{ $('Cria thread de novo').item.json.id }}","thread_id_created":"={{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }}","concat_Messages":"Início"},"matchingColumns":["Whatsapp"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Counter_Messages","displayName":"Counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"AirtableID","displayName":"AirtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"}],"readOnly":false,"removed":false}]},"options":{}},"id":"1fe80fca-274a-48b9-a790-0dfc5885ad65","name":"Airtable - Update User","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-1904,1552]},{"parameters":{"content":"## Responde em Texto picado no Zap","height":797.9913908649237,"width":1745.589292958556},"id":"51a91c4d-3c42-436b-b4ab-5163beff9552","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[4160,2624],"typeVersion":1},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"filterByFormula":"=RIGHT({Whatsapp}, 8) = {{ $('Normalizacao').item.json.user_phone.slice(-8) }}","options":{}},"id":"43749c0e-98c3-4c95-9d47-bd1b19ad0f12","name":"Airtable - Search User 2","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-2736,1792],"alwaysOutputData":true},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"filterByFormula":"=RIGHT({Whatsapp}, 8) = {{ $('Normalizacao').item.json.user_phone.slice(-8) }}","options":{}},"id":"de1b9ea1-e0d0-45be-9ffc-767d3c92eb7d","name":"Airtable - Search User 3","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-1216,1808],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"b0a7008a-6be9-4f46-9c9f-aac0047e566b","name":"user_phone","value":"={{ $('Webhook').item.json.body?.phone || $('Webhook').item.json.body?.data?.key.remoteJid.replace(/@.*/, '') }}","type":"string"},{"id":"ee8753a0-3e64-4130-a806-b70eae5ecf8d","name":"url_zap_provider","value":"={{ $('Webhook').item.json.body?.server_url || $('Webhook').item.json.headers?.origin || \"unknown\" }}","type":"string"},{"id":"58cacd80-861f-46d3-8c67-2258d6e0966b","name":"Nome instancia","value":"={{ $('Webhook').item.json.body.instance ? $('Webhook').item.json.body.instance + ($('Webhook').item.json.body.connectedPhone ? \"tj_Bot\" : \"\") : ($('Webhook').item.json.body.connectedPhone ? \"tj_Bot\" : \"unknown\") }}","type":"string"},{"id":"de91b4ae-4164-41ba-a7c2-3edb6ee4ba3e","name":"message_id","value":"={{ $('Webhook').item.json.body?.data?.key?.id || $('Webhook').item.json.body?.messageId }}","type":"string"},{"id":"364824f0-a0c0-42d7-bf1d-d2f0be203c4d","name":"chat_id","value":"={{ $('Webhook').item.json.body?.data?.key?.remoteJid || $('Webhook').item.json.body?.chatLid }}","type":"string"},{"id":"9bfc8bb3-6f77-42b4-8269-8043298e8888","name":"content_type","value":"={{ $('Webhook').item.json.body?.data?.message?.extendedTextMessage ? \"text\" : \"\" || $('Webhook').item.json.body?.data?.message?.conversation ? \"text\" : \"\" || $('Webhook').item.json.body?.data?.message?.audioMessage ? \"audio\" : \"\" || $('Webhook').item.json.body?.data?.message?.imageMessage ? \"image\" : \"\" || $('Webhook').item.json.body?.data?.message?.documentMessage ? \"document\" : \"\" || $('Webhook').item.json.body?.text?.message ? \"text\" : \"\" || $('Webhook').item.json.body?.image?.imageUrl ? \"image\" : \"\" || $('Webhook').item.json.body?.audio?.audioUrl ? \"audio\" : \"\" || $('Webhook').item.json.body?.document?.documentUrl ? \"document\" : \"\" || \"unknown\" }}\n\n\n","type":"string"},{"id":"2449a6b4-4e21-4c13-8236-61ff1956a554","name":"timestamp","value":"={{ $('Webhook').item.json.body?.data?.messageTimestamp || $('Webhook').item.json.body?.momment }}","type":"number"},{"id":"359220da-80ca-4bf5-a5ed-4623cad6ad63","name":"content_url","value":"={{ $('Webhook').item.json.body?.data?.message?.audioMessage?.url || $('Webhook').item.json.body?.data?.message?.imageMessage?.url || $('Webhook').item.json.body?.data?.message?.documentMessage?.url || $('Webhook').item.json.body?.image?.imageUrl || $('Webhook').item.json.body?.audio?.audioUrl || $('Webhook').item.json.body?.document?.documentUrl || null }}","type":"string"},{"id":"157701bc-a841-4ae4-8e70-d8853aee0795","name":"message_object_zapi","value":"={{ $('Webhook').item.json.body?.text || $('Webhook').item.json.body?.image || $('Webhook').item.json.body?.audio || $('Webhook').item.json.body?.document || null }}","type":"object"},{"id":"b111a750-e08a-4466-94ef-58d67c898523","name":"user_name","value":"={{ $('Webhook').item.json.body?.data?.pushName || $('Webhook').item.json.body?.senderName || \"not available\" }}","type":"string"},{"id":"5ebacbea-17a4-442a-838e-85743c6cbe05","name":"from me?","value":"={{ $('Webhook').item.json.body.data?.key?.fromMe ?? $('Webhook').item.json.body?.fromMe ?? \"unknown\" }}","type":"string"},{"id":"7cc49509-38ba-4722-b708-bfb1cf5b88a1","name":"is status reply?","value":"={{ $('Webhook').item.json.body.isStatusReply ?? $('Webhook').item.json.body?.isStatusReply ?? \"unknown\" }}","type":"string"},{"id":"562aaf1b-614f-47ec-8194-1eb30a6f51b3","name":"message_object_evo","value":"={{ $('Webhook').item.json.body.data?.message !== undefined ? $('Webhook').item.json.body.data.message : null }}","type":"object"},{"id":"40916090-12b1-4aa1-9daf-a41a2523eb5c","name":"is group?","value":"={{ $('Webhook').item.json.body.data?.key?.isGroup ?? $('Webhook').item.json.body?.isGroup ?? \"unknown\" }}","type":"string"}]},"options":{}},"id":"1372861d-d21f-4627-a117-924e5f7699a5","name":"Normalizacao","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-5296,1792]},{"parameters":{"assignments":{"assignments":[{"id":"2a177ef5-8f2b-48d6-aa14-74f8cb1e049a","name":"GEMINI_API_KEY","value":"AIzaSyC5XbEFTLwEIahTLuDa21AM45jZzgmrt5g","type":"string"},{"id":"4e393e46-5476-46b0-bec4-f29277efc038","name":"openai_assistant_id","value":"asst_LrLgRRta7vFmhFo7bBXYcHwA","type":"string"}]},"options":{}},"id":"80ec986b-c085-46e3-b51a-c8d41148c05c","name":"AI","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-5488,1792]},{"parameters":{"assignments":{"assignments":[{"id":"9a2c10c4-74b4-48d0-a8c5-ebe095e7eab5","name":"EVO_API_KEY","value":"2vGHmKALc8VcXLSIuKQO","type":"string"},{"id":"840baa4a-ba9c-49f9-b08b-928815b93a34","name":"evo_instanciaID","value":"476507AE5B21-4045-A4CA-8E9068675087","type":"string"}]},"options":{}},"id":"cf5db5df-e576-47a2-9b14-b986baa638e6","name":"Evo Credentials","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-5824,1792]},{"parameters":{"assignments":{"assignments":[{"id":"503b2c0f-f889-4a71-8d96-136dc6d2773d","name":"z-api_instanciaID","value":"3CE1F33CC7D0F0A61DE9EEE17BD0D626","type":"string"},{"id":"5d692ded-8de3-4878-b1a1-91f8de4e26ec","name":"z-api_instancia_tokenID","value":"E1A4AE25C2EBBD6AA4380791","type":"string"},{"id":"241a5052-bd42-4a99-b99d-180bc4033312","name":"z-api_client_token","value":"F424e60c3a35c47fdb94513e0bb06e501S","type":"string"}]},"options":{}},"id":"213b0c15-0394-4292-b493-ea00b01f9062","name":"Z-api Credentials","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-5648,1792]},{"parameters":{"content":"## Dados de Entrada","height":323.04700735874474,"width":884.5492508169516},"id":"5676ae4b-515e-48ca-a4b6-89e309dd2436","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[-6048,1664],"typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"5c692fd3-172f-4728-87c8-d0d076d61ffe","leftValue":"={{ $('Normalizacao').item.json['is group?'] }}","rightValue":"true","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"08668643-a3e7-42aa-a9ce-7b07d7b7b210","name":"If - Is not Group","type":"n8n-nodes-base.if","typeVersion":2,"position":[-5104,1792]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Normalizacao').item.json.message_object_zapi?.message ?? $('Normalizacao').item.json.message_object_evo?.conversation }}","rightValue":"#on","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"#on"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"dcb23115-2ee0-4eb5-94f6-c6b3bc0e3ceb","leftValue":"={{ $('Normalizacao').item.json.message_object_zapi?.message ?? $('Normalizacao').item.json.message_object_evo?.conversation }}","rightValue":"#off","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"#off"}]},"options":{}},"id":"6efc7000-40d9-499c-b518-025e0bb69f61","name":"Verifica Comando","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-4416,1488]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/instances/{{ $('Z-api Credentials').item.json['z-api_instanciaID'] }}/*** $('Z-api Credentials').item.json['z-api_instancia***'] }}/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"={{ $('Z-api Credentials').item.json['z-api_client_token'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Normalizacao').item.json.user_phone }}\",\n  \"message\": \"Por favor envie uma mensagem de texto\"\n} ","options":{}},"id":"627bcfa5-8237-42e8-81a6-be8b908c6073","name":"Envia mensagem por z-api - Texts Only","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-320,2704]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/message/sendText/{{ $('Normalizacao').item.json['Nome instancia'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json, text/plain, */*"},{"name":"apikey","value":"={{ $('Evo Credentials').item.json.EVO_API_KEY }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Normalizacao').item.json.chat_id }}"},{"name":"text","value":"Por favor envie uma mensagem de texto"}]},"options":{}},"id":"807df022-00be-493c-b1dd-354d6ca4cb0b","name":"Envia mensagem por evo - Texts Only","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-320,2544]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Normalizacao').item.json.url_zap_provider }}","rightValue":"coletiv","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"evolution"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bce400e6-4afe-41cc-9c27-c89ddd5396f4","leftValue":"={{ $('Normalizacao').item.json.url_zap_provider }}","rightValue":"z-api","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"z-api"}]},"options":{}},"id":"badf7cc2-3de0-4711-9c35-8b115d278ad2","name":"Switch Zap API Provider","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-528,2688]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Normalizacao').item.json.url_zap_provider }}","rightValue":"coletiv","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"evolution"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bce400e6-4afe-41cc-9c27-c89ddd5396f4","leftValue":"={{ $('Normalizacao').item.json.url_zap_provider }}","rightValue":"z-api","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"z-api"}]},"options":{}},"id":"7b4928af-f66e-4360-bcb9-8c816cad09d7","name":"Switch Zap API Provider - ","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-528,2144]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/instances/{{ $('Z-api Credentials').item.json['z-api_instanciaID'] }}/*** $('Z-api Credentials').item.json['z-api_instancia***'] }}/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"={{ $('Z-api Credentials').item.json['z-api_client_token'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=  {\n  \"phone\": {{ $('Normalizacao').item.json.user_phone }},\n  \"message\": \"*Descrição da imagem*: {{ $('Open AI Vision z-api').item.json.choices[0].message.content }}\"\n} ","options":{}},"id":"bcf048e7-f179-4c9c-9ad7-eda4689169d4","name":"Envia mensagem por z-api - Imagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,2288]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/message/sendText/{{ $('Normalizacao').item.json['Nome instancia'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json, text/plain, */*"},{"name":"apikey","value":"={{ $('Evo Credentials').item.json.EVO_API_KEY }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Normalizacao').item.json.chat_id }}"},{"name":"text","value":"=Descrição da imagem: {{ $('Open AI Vision evo').item.json.choices[0].message.content }}"}]},"options":{}},"id":"b36b262c-89ad-4590-9d66-148bdbe114cc","name":"Envia mensagem por evo - Imagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[272,2048]},{"parameters":{"assignments":{"assignments":[{"id":"beddbea7-a1e9-48a2-84fb-7d843eded789","name":"message","value":"=O usuário enviou uma imagem. Descrição da imagem: {{ $('Open AI Vision z-api').item.json.choices[0].message.content }}","type":"string"}]},"options":{}},"id":"c928cd10-7816-4189-b6aa-801e91292584","name":"Set Message From Image","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[640,2160]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/chat/getBase64FromMediaMessage/{{ $('Normalizacao').item.json['Nome instancia'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Evo Credentials').item.json.EVO_API_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('Normalizacao').item.json.message_id }}\"\n        }\n    },\n    \"convertToMp4\": false\n} ","options":{}},"id":"063f17f9-77e3-4448-819e-f62ebf46c610","name":"Get Base64 From Image Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-304,2048]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Analyse the image provided. Create a prompt for an AI Image Generator. If the image is a photo, describe it like an award winning professional photographer with extreme technical details and use this formula to write the prompt: [subject and action (example: Land Rover Defender)], [environment (example: vibrant Cusco Peru)], [film/camera/lens (example: Kodak portra 400)], [lightning style (example: motivated lightning)]Include specific camera lens and camera settings and be specific with details. Use short and powerful *** and phrases. Do not use full sentences. Just write the prompt with no explanations.\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"{{ $('Normalizacao').item.json.message_object_zapi.imageUrl }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"max***\": 300\n} ","options":{}},"id":"d8ce0c50-c8eb-41a0-8a75-3b45776e4039","name":"Open AI Vision z-api","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-304,2288]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Analyse the image provided. Create a prompt for an AI Image Generator. If the image is a photo, describe it like an award winning professional photographer with extreme technical details and use this formula to write the prompt: [subject and action (example: Land Rover Defender)], [environment (example: vibrant Cusco Peru)], [film/camera/lens (example: Kodak portra 400)], [lightning style (example: motivated lightning)]Include specific camera lens and camera settings and be specific with details. Use short and powerful *** and phrases. Do not use full sentences. Just write the prompt with no explanations.\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/jpeg;base64,{{ $('Get Base64 From Image Message').item.json.base64 }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"max***\": 300\n}","options":{}},"id":"e6fb3de0-46ef-4d96-a37a-ef2e759f8b21","name":"Open AI Vision evo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-128,2048]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo Autobot').item.json.fields.thread_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"assistant"},{"name":"content","value":"=Sender: Assistant - Message: User enviou uma imagem que tem a seguinte descrição: {{ $('Open AI Vision evo').item.json.choices[0].message.content }}"}]},"options":{}},"id":"f5764b1c-8818-4c1c-99de-89dcb2e4a38d","name":"Create Message Thread - Imagem evo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[64,2048]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo').item.json.fields.thread_id_openai }}/messages      ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"assistant"},{"name":"content","value":"=Sender: Assistant - Message: User enviou uma imagem que tem a seguinte descrição {{ $('Open AI Vision z-api').item.json.choices[0].message.content }}"}]},"options":{}},"id":"1d796a6f-8b93-4e7d-b411-905f38bee8a5","name":"Create Message Thread - Imagem z-api","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-16,2288]},{"parameters":{},"id":"c3e1f5b4-cd28-4a53-8156-2af9e5a2fa45","name":"Wait 5s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-560,928],"webhookId":"dc81e9b7-40bf-4e0f-baef-6bb2ae849564"},{"parameters":{"method":"POST","url":"https://api.cloudconvert.com/v2/jobs","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiODczNTNkYzlhMmVlNjU4ZDUxOWViMWM3ZmFkNTk5YTE2ZTE5OTk5ODk3ZDAxNmEyY2QzODFjYzFmZGNjZGIwZTE1NzJiM2UxYjczZmZjODgiLCJpYXQiOjE2OTEzMTI4OTAuNDk1MTExLCJuYmYiOjE2OTEzMTI4OTAuNDk1MTEyLCJleHAiOjQ4NDY5ODY0OTAuNDg3ODc2LCJzdWIiOiI0NDg5MzAwOSIsInNjb3BlcyI6WyJ1c2VyLnJlYWQiLCJ1c2VyLndyaXRlIiwidGFzay5yZWFkIiwidGFzay53cml0ZSIsIndlYmhvb2sucmVhZCIsIndlYmhvb2sud3JpdGUiLCJwcmVzZXQucmVhZCIsInByZXNldC53cml0ZSJdfQ.Dty-l3L4I70eo5o3PUbIFOhiRSz-b3pgp1hHCaUgJu3G4i-rQj-f2wlKzmpShkXWPSAeoS5WxpErAwAN3kFyX9-eU7nr3Ks2HwUFsPije-pX448ghwlXImY3atelkhbGBsCpPxxe3rXM4xWtDYlxYhOIzARki2NKAIVkSfMDmv2oV104wYtt_CJd6--8YN79CDCIocPDaPQOtzFFRLowbCFHR8wAbN3fVzPzKA_eFBbhSUY70VjXQVWsWj49i50NMut_CGrWKYGWtBT-SPnvxdgPHDh6L2REpMZuKLmWnwWgfeLoVNjgJ1FJFRhzSRzVjfEk5A45CNDBOLf4F83HMB-Rck6Rdq1FMyQaIWRKEpi10s_hupMoP6iRHPJRJwZdEAK9JtsZNa4LZs9czVECLMd81gyAbKRMI9k6Mee-LmKdO3oN3kwLPjXclSP8Pj-6jft8sqHHKUq8SI3LGezbWknz6f7JQcY_vEhz1gv3h5cUGiVlWLgmOsPaU_uB4iAPbjbfimjYQKaJzLM8XddXZ26iTOu7_o-4ONd0ZJu6IzfFR1R85WM6NkTybbp9Z9W_rhaOk_Yp5jAlA2vZADBoRtvI89Yn-_RAotYLQx5HiHUDWL6HSG1L2MntuwVMu1utTRbLAJGnNpwLlMk_UDb_yMD2jROPLI_wm3laRz_9-W4"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"tasks\": {\n        \"import_audio\": {\n            \"operation\": \"import/url\",\n            \"url\": \"{{ $('Normalizacao').item.json.message_object_zapi.audioUrl }}\",\n            \"filename\": \"audio-{{ $('Normalizacao').item.json.message_id }}.ogg\"\n        },\n        \"convert_audio\": {\n            \"operation\": \"convert\",\n            \"input_format\": \"ogg\",\n            \"output_format\": \"mp3\",\n            \"engine\": \"ffmpeg\",\n            \"input\": [\"import_audio\"],\n            \"audio_codec\": \"mp3\",\n            \"audio_qscale\": 0,\n            \"engine_version\": \"6.0.1\",\n            \"filename\": \"audio-$('Normalizacao').item.json.message_id }}.mp3\",\n            \"timeout\": 120\n        },\n        \"export_audio\": {\n            \"operation\": \"export/url\",\n            \"input\": [\"convert_audio\"],\n            \"archive_multiple_files\": false\n        }\n    },\n    \"tag\": \"jobbuilder\"\n}","options":{}},"id":"1e06b9b2-b534-4e75-a992-2d1cd02b3085","name":"ogg to mp3 Create a Job no CloudConvert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-736,928]},{"parameters":{"url":"=https://api.cloudconvert.com/v2/jobs/{{ $('ogg to mp3 Create a Job no CloudConvert').item.json.data.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiODczNTNkYzlhMmVlNjU4ZDUxOWViMWM3ZmFkNTk5YTE2ZTE5OTk5ODk3ZDAxNmEyY2QzODFjYzFmZGNjZGIwZTE1NzJiM2UxYjczZmZjODgiLCJpYXQiOjE2OTEzMTI4OTAuNDk1MTExLCJuYmYiOjE2OTEzMTI4OTAuNDk1MTEyLCJleHAiOjQ4NDY5ODY0OTAuNDg3ODc2LCJzdWIiOiI0NDg5MzAwOSIsInNjb3BlcyI6WyJ1c2VyLnJlYWQiLCJ1c2VyLndyaXRlIiwidGFzay5yZWFkIiwidGFzay53cml0ZSIsIndlYmhvb2sucmVhZCIsIndlYmhvb2sud3JpdGUiLCJwcmVzZXQucmVhZCIsInByZXNldC53cml0ZSJdfQ.Dty-l3L4I70eo5o3PUbIFOhiRSz-b3pgp1hHCaUgJu3G4i-rQj-f2wlKzmpShkXWPSAeoS5WxpErAwAN3kFyX9-eU7nr3Ks2HwUFsPije-pX448ghwlXImY3atelkhbGBsCpPxxe3rXM4xWtDYlxYhOIzARki2NKAIVkSfMDmv2oV104wYtt_CJd6--8YN79CDCIocPDaPQOtzFFRLowbCFHR8wAbN3fVzPzKA_eFBbhSUY70VjXQVWsWj49i50NMut_CGrWKYGWtBT-SPnvxdgPHDh6L2REpMZuKLmWnwWgfeLoVNjgJ1FJFRhzSRzVjfEk5A45CNDBOLf4F83HMB-Rck6Rdq1FMyQaIWRKEpi10s_hupMoP6iRHPJRJwZdEAK9JtsZNa4LZs9czVECLMd81gyAbKRMI9k6Mee-LmKdO3oN3kwLPjXclSP8Pj-6jft8sqHHKUq8SI3LGezbWknz6f7JQcY_vEhz1gv3h5cUGiVlWLgmOsPaU_uB4iAPbjbfimjYQKaJzLM8XddXZ26iTOu7_o-4ONd0ZJu6IzfFR1R85WM6NkTybbp9Z9W_rhaOk_Yp5jAlA2vZADBoRtvI89Yn-_RAotYLQx5HiHUDWL6HSG1L2MntuwVMu1utTRbLAJGnNpwLlMk_UDb_yMD2jROPLI_wm3laRz_9-W4"}]},"options":{}},"id":"0f1bdb5a-fa9c-40bc-ad95-a5be4efda4ac","name":"Show a Job in CloudConvert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-384,928]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"018d37bf-2a88-4f24-a748-5eeaec24ab18","leftValue":"={{ $json.data.status }}","rightValue":"finished","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"fed68e29-4079-4ab7-819d-6704001277df","name":"If Status Finished","type":"n8n-nodes-base.if","typeVersion":2,"position":[-208,928]},{"parameters":{"url":"=https://sync.api.cloudconvert.com/v2/jobs/{{ $('Show a Job in CloudConvert').item.json.data.tasks[0].job_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiODczNTNkYzlhMmVlNjU4ZDUxOWViMWM3ZmFkNTk5YTE2ZTE5OTk5ODk3ZDAxNmEyY2QzODFjYzFmZGNjZGIwZTE1NzJiM2UxYjczZmZjODgiLCJpYXQiOjE2OTEzMTI4OTAuNDk1MTExLCJuYmYiOjE2OTEzMTI4OTAuNDk1MTEyLCJleHAiOjQ4NDY5ODY0OTAuNDg3ODc2LCJzdWIiOiI0NDg5MzAwOSIsInNjb3BlcyI6WyJ1c2VyLnJlYWQiLCJ1c2VyLndyaXRlIiwidGFzay5yZWFkIiwidGFzay53cml0ZSIsIndlYmhvb2sucmVhZCIsIndlYmhvb2sud3JpdGUiLCJwcmVzZXQucmVhZCIsInByZXNldC53cml0ZSJdfQ.Dty-l3L4I70eo5o3PUbIFOhiRSz-b3pgp1hHCaUgJu3G4i-rQj-f2wlKzmpShkXWPSAeoS5WxpErAwAN3kFyX9-eU7nr3Ks2HwUFsPije-pX448ghwlXImY3atelkhbGBsCpPxxe3rXM4xWtDYlxYhOIzARki2NKAIVkSfMDmv2oV104wYtt_CJd6--8YN79CDCIocPDaPQOtzFFRLowbCFHR8wAbN3fVzPzKA_eFBbhSUY70VjXQVWsWj49i50NMut_CGrWKYGWtBT-SPnvxdgPHDh6L2REpMZuKLmWnwWgfeLoVNjgJ1FJFRhzSRzVjfEk5A45CNDBOLf4F83HMB-Rck6Rdq1FMyQaIWRKEpi10s_hupMoP6iRHPJRJwZdEAK9JtsZNa4LZs9czVECLMd81gyAbKRMI9k6Mee-LmKdO3oN3kwLPjXclSP8Pj-6jft8sqHHKUq8SI3LGezbWknz6f7JQcY_vEhz1gv3h5cUGiVlWLgmOsPaU_uB4iAPbjbfimjYQKaJzLM8XddXZ26iTOu7_o-4ONd0ZJu6IzfFR1R85WM6NkTybbp9Z9W_rhaOk_Yp5jAlA2vZADBoRtvI89Yn-_RAotYLQx5HiHUDWL6HSG1L2MntuwVMu1utTRbLAJGnNpwLlMk_UDb_yMD2jROPLI_wm3laRz_9-W4"}]},"options":{}},"id":"6aa08f3d-52e6-42e2-942c-25bd37097c8a","name":"Get JSON from CloudConvert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-48,784]},{"parameters":{"url":"={{ $json.data.tasks[0].result.files[0].url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"2d5b2e73-dccf-4b01-8663-9bf6a78441cb","name":"Get mp3 File","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,784],"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"model","value":"whisper-1"}]},"options":{"response":{}}},"id":"2bdae9d4-c555-4bb9-9e90-7c2b5b334e0a","name":"Create Transcription OpenAI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,768]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/instances/{{ $('Z-api Credentials').item.json['z-api_instanciaID'] }}/*** $('Z-api Credentials').item.json['z-api_instancia***'] }}/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"={{ $('Z-api Credentials').item.json['z-api_client_token'] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=phone","value":"={{ $('Normalizacao').item.json.user_phone }}"},{"name":"message","value":"=*Transcrição do Audio:* \n{{ $json.text }}"}]},"options":{}},"id":"ff6a0730-fcee-4276-98a6-6510fea6a650","name":"Envia transcrição do audio Zap User","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,768]},{"parameters":{"assignments":{"assignments":[{"id":"beddbea7-a1e9-48a2-84fb-7d843eded789","name":"message","value":"={{ $('Create Transcription OpenAI').item.json.text }}","type":"string"}]},"options":{}},"id":"8c9b7465-13b1-47b6-a003-848958d83501","name":"Set Message From Audio","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[640,768]},{"parameters":{"assignments":{"assignments":[{"id":"c5405552-2f77-4c16-9599-477bc72223e6","name":"output","value":"={{ $json.data }}","type":"string"}]},"options":{}},"id":"ed536a1b-6ed4-41fa-afa4-16fa5ffd2fdf","name":"Concatenar todos outputs em uma string","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[5104,672]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo').item.json.fields.thread_id_openai }}/runs/{{ $('Get Run Status').last().json[\"id\"] }}/submit_tool_outputs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"tool_outputs\": {{ $json.output }}\n} ","options":{}},"id":"9dd0077f-c7bb-468b-b90c-fb943fad8f2a","name":"Insert Outputs das functions na OpenAI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5312,672]},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Tool Calls\"].context[\"Done\"] }}"}},"id":"fc24c9bd-3318-4b9b-b30c-1d8c9f292568","name":"Loop Over Tool Calls","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4688,1344]},{"parameters":{"assignments":{"assignments":[{"id":"b5868dac-c776-4a8b-9e44-d5275d06d1c4","name":"arguments","value":"={{ $json.properties.function.arguments }}","type":"object"}]},"includeOtherFields":true,"options":{}},"id":"e432b743-17eb-498f-8fe6-0a205f98eca8","name":"Separa Argumentos de uma Tool Call","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[4944,1360]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"tool_call_id\": \"{{ $('Separa Argumentos de uma Tool Call').item.json['properties']['id'] }}\",\n  \"output\": \"{{ $json.concatenated_output }}\"\n}","options":{}},"id":"0d1f0063-d731-4f12-bc53-bd48cd905b82","name":"Set Tool Call ID","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[6832,1488]},{"parameters":{"assignments":{"assignments":[{"id":"503f68f8-831b-4d46-98eb-299d99a5d8e5","name":"uuid","value":"={{ $('Airtable - Update ThreadID de novo Lead a Qualificar').item.json.fields.linkMeet.split('/').slice(-2, -1)[0] }}","type":"string"}]},"options":{}},"id":"02fc2e16-6075-4342-8826-c299600cfa40","name":"Get uuid to cancel event","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[5648,2240]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"output\": \"Get user data\"\n}\n","options":{}},"id":"7c2aef06-9210-4794-ad34-4ccfe16e0b51","name":"Output get_user_data","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[5872,1088]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"output\": \"Save user data: {{ $('Separa Argumentos de uma Tool Call').item.json.arguments.email }}\"\n}\n","options":{}},"id":"0c7f1397-818f-4536-bcb8-4143bf6fa098","name":"Output save_user_data","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[5872,1344],"alwaysOutputData":false},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"output\": \"Reunião cancelada pelo usuário\"\n}\n","options":{}},"id":"21df60e1-7445-47d8-9bfd-b2fff843f74e","name":"Output cancel_event","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[6144,2240]},{"parameters":{"content":"## TRANSCREVE AUDIO - CLOUDCONVERT","height":741.208271837386,"width":1623.1860832548105,"color":6},"id":"3d9303d6-3eb0-40fb-a686-8a047c194a40","name":"Sticky Note34","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-800,640]},{"parameters":{"content":"## TRANSCREVE AUDIO - CONVERTIO","height":483.5504999023549,"width":989.4609262062467,"color":6},"id":"959183a7-5140-49d2-b4e7-61d5a7ebbe24","name":"Sticky Note35","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"## ENTENDE IMAGEM","height":483.5504999023549,"width":810.526764216064,"color":6},"id":"9273f0ee-0805-4e8e-9d4d-82eb375abdc6","name":"Sticky Note36","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,1984]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-1"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"d9e64c3d-9c44-48a8-a2e0-f6f20978fda7","name":"transcreve_audio - openai","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-528,1552],"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"5c627414-b02a-4a56-9fcc-3f3864e9f0d0","name":"payload_openai","value":"={\n\"role\": \"user\",\n\"content\": \n  [{\n      \"type\": \"text\",\n      \"text\": \"{{ $('Merge Messages').item.json.text || $('Merge Messages').item.json.message }} - Data e hora de agora: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }}\"\n   }]\n}","type":"string"},{"id":"324c6977-37b7-4a0e-b202-f7e93542c14d","name":"message","value":"={{ $('Merge Messages').item.json.text || $('Merge Messages').item.json.message }} - Data e hora de agora: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }}","type":"string"}]},"options":{}},"id":"27df11fd-0829-436d-9b15-7f04e400731e","name":"Payload to OpenAI","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1280,1824]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Normalizacao').item.json.content_type }}","rightValue":"audio","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52bbb4cb-7a7e-4bac-9159-5fe4fc170430","leftValue":"={{ $('Normalizacao').item.json.content_type }}","rightValue":"image","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9171f9e2-e0a5-4152-ad3d-62eac8392e6d","leftValue":"={{ $('Normalizacao').item.json.content_type }}","rightValue":"text","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"a940a7c6-9747-435f-bdbf-9818e5df455b","leftValue":"={{ $('Normalizacao').item.json.content_type }}","rightValue":"document","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"document"}]},"options":{"fallbackOutput":"extra"}},"id":"1362fd70-0048-4835-be3e-6df88fefead2","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-896,1808]},{"parameters":{"content":"## TRANSCREVE AUDIO - OPENAI","height":275.56167274236066,"width":659.421997514351,"color":6},"id":"68fe8173-33de-40ca-8784-00d39074d0b3","name":"Sticky Note37","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-816,1488]},{"parameters":{"url":"={{ $('Normalizacao').item.json.content_url }}","options":{}},"id":"4104fcbf-81a0-4b3a-a0e4-860c1daf4d8c","name":"Download Audio Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-720,1552]},{"parameters":{"httpMethod":"POST","path":"messageCL","options":{}},"id":"3498b23c-62e3-4e04-b7d0-61bc4d3ac547","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-6000,1792],"webhookId":"5295f9ed-39dc-4232-9131-278e0adfe212"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Normalizacao').item.json.url_zap_provider }}","rightValue":"coletiv","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"evolution"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bce400e6-4afe-41cc-9c27-c89ddd5396f4","leftValue":"={{ $('Normalizacao').item.json.url_zap_provider }}","rightValue":"z-api","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"z-api"}]},"options":{}},"id":"1ffc6d83-0d41-4af8-8ac1-1273b7a43203","name":"Switch Zap API Provider2","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[272,1088]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/instances/{{ $('Z-api Credentials').item.json['z-api_instanciaID'] }}/*** $('Z-api Credentials').item.json['z-api_instancia***'] }}/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"={{ $('Z-api Credentials').item.json['z-api_client_token'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Normalizacao').item.json.user_phone }}\",\n  \"message\": \"Eu sou o Max e conduzirei o seu atendimento!\"\n} ","options":{}},"id":"81e548e8-1998-4504-a41e-2bcf23a3021c","name":"Envia mensagem por z-api - Texts Only3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1568,1664]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Normalizacao').item.json.url_zap_provider }}","rightValue":"coletiv","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"evolution"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bce400e6-4afe-41cc-9c27-c89ddd5396f4","leftValue":"={{ $('Normalizacao').item.json.url_zap_provider }}","rightValue":"z-api","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"z-api"}]},"options":{}},"id":"f51f6866-9a87-4d69-bcbf-0650461b51ed","name":"Switch Zap API Provider3","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1744,1552]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Normalizacao').item.json.url_zap_provider }}","rightValue":"coletiv","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"evolution"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bce400e6-4afe-41cc-9c27-c89ddd5396f4","leftValue":"={{ $('Normalizacao').item.json.url_zap_provider }}","rightValue":"z-api","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"z-api"}]},"options":{}},"id":"b0dfc496-4127-4d86-8d04-2af623db7ac0","name":"Switch Zap API Provider4","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3264,2064]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/instances/{{ $('Z-api Credentials').item.json['z-api_instanciaID'] }}/*** $('Z-api Credentials').item.json['z-api_instancia***'] }}/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"={{ $('Z-api Credentials').item.json['z-api_client_token'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Normalizacao').item.json.user_phone }}\",\n  \"message\": \"Eu sou o Max e conduzirei o seu atendimento daqui pra frente!\"\n} ","options":{}},"id":"e3c42586-9292-45f9-ae11-d3aa5aa60617","name":"Envia primeira mensagem por z-api","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3120,2192]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/message/sendText/{{ $('Normalizacao').item.json['Nome instancia'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json, text/plain, */*"},{"name":"apikey","value":"={{ $('Evo Credentials').item.json.EVO_API_KEY }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Normalizacao').item.json.chat_id }}"},{"name":"text","value":"Eu sou o Max e conduzirei o seu atendimento daqui pra frente!"}]},"options":{}},"id":"5787902f-f29d-4192-8a10-0e2f926cb7f5","name":"Envia primeira mensagem por evo","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-3120,1952]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/message/sendText/{{ $('Normalizacao').item.json['Nome instancia'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json, text/plain, */*"},{"name":"apikey","value":"={{ $('Evo Credentials').item.json.EVO_API_KEY }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Normalizacao').item.json.chat_id }}"},{"name":"text","value":"Eu sou o Max e conduzirei o seu atendimento!"}]},"options":{}},"id":"dc649c0b-d894-442a-8de2-5c15c494e40b","name":"Envia mensagem por evo","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1568,1424]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/message/sendText/{{ $('Normalizacao').item.json['Nome instancia'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json, text/plain, */*"},{"name":"apikey","value":"={{ $('Evo Credentials').item.json.EVO_API_KEY }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Normalizacao').item.json.chat_id }}"},{"name":"text","value":"Não conseguimos entender. Por favor envie a mensagem por texto."}]},"options":{}},"id":"9b1d6119-a1d7-4173-bad6-8c5a2bd1fe3a","name":"Envia mensagem por evo - Erro no Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[464,960]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/instances/{{ $('Z-api Credentials').item.json['z-api_instanciaID'] }}/*** $('Z-api Credentials').item.json['z-api_instancia***'] }}/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"={{ $('Z-api Credentials').item.json['z-api_client_token'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Normalizacao').item.json.user_phone }}\",\n  \"message\": \"Não conseguimos entender. Por favor envie a mensagem por texto.\"\n} ","options":{}},"id":"ef0f6d84-a53a-48f7-9856-417018f7ac0a","name":"Envia mensagem por z-api - Erro no Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,1200]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/instances/{{ $('Z-api Credentials').item.json['z-api_instanciaID'] }}/*** $('Z-api Credentials').item.json['z-api_instancia***'] }}/send-audio","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"={{ $('Z-api Credentials').item.json['z-api_client_token'] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=phone","value":"={{ $('Normalizacao').item.json.user_phone }}"},{"name":"audio","value":"=data:audio/mp3;base64,{{ $('Converte para base').item.json.data }}"}]},"options":{}},"id":"6e3b6f09-4c58-456a-856b-1f941f5f3605","name":"Resposta principal por audio z-api","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6592,3760]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/message/sendWhatsAppAudio/{{ $('Normalizacao').item.json['Nome instancia'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json, text/plain, */*"},{"name":"apikey","value":"={{ $('Evo Credentials').item.json.EVO_API_KEY }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Normalizacao').item.json.chat_id }}"},{"name":"audio","value":"={{ $('Converte para base').item.json.data }}"}]},"options":{}},"id":"9a831f84-5de5-4159-8d8e-5a15191c429f","name":"Resposta principal por audio evo","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[6592,3552]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/instances/{{ $('Z-api Credentials').item.json['z-api_instanciaID'] }}/*** $('Z-api Credentials').item.json['z-api_instancia***'] }}/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"={{ $('Z-api Credentials').item.json['z-api_client_token'] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=phone","value":"={{ $('Normalizacao').item.json.user_phone }}"},{"name":"message","value":"=*Transcrição do Audio:* \n{{ $('Pega a ultima mensagem OpenAI').item.json.data[0].content[0].text.value.replace(/\\*\\*/g, '*') }}"}]},"options":{}},"id":"8d6c4a73-7d35-4ae0-ae0f-7f15120ffc08","name":"Envia transcricao do audio z-api","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6784,3760]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/message/sendText/{{ $('Normalizacao').item.json['Nome instancia'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json, text/plain, */*"},{"name":"apikey","value":"={{ $('Evo Credentials').item.json.EVO_API_KEY }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Normalizacao').item.json.chat_id }}"},{"name":"text","value":"=*Transcrição do Audio:* \n{{ $('Pega a ultima mensagem OpenAI').item.json.data[0].content[0].text.value }}"}]},"options":{}},"id":"c549c963-8bed-4ae7-b67d-17a9ba8b68e6","name":"Envia transcricao do audio evo","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[6784,3552]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Normalizacao').item.json.url_zap_provider }}","rightValue":"coletiv","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"evolution"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bce400e6-4afe-41cc-9c27-c89ddd5396f4","leftValue":"={{ $('Normalizacao').item.json.url_zap_provider }}","rightValue":"z-api","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"z-api"}]},"options":{}},"id":"ca45aec1-9710-499f-ab41-7a005ec44532","name":"Switch Zap API Provider - 7","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[6368,3632]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/speech","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"tts-1"},{"name":"input","value":"={{ $('Pega a ultima mensagem OpenAI').item.json.data[0].content[0].text.value }}"},{"name":"voice","value":"alloy"},{"name":"format","value":"ogg"}]},"options":{}},"id":"0062eb73-9ed2-4bc4-8096-3843bbb6228a","name":"Gerar Audio do texto (TTS)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5040,3632]},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"49f21605-cc3a-4199-b52c-61ba2910793e","name":"Converte para base","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[5632,3632]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/message/sendText/{{ $('Normalizacao').item.json['Nome instancia'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json, text/plain, */*"},{"name":"apikey","value":"={{ $('Evo Credentials').item.json.EVO_API_KEY }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Normalizacao').item.json.chat_id }}"},{"name":"text","value":"={{ $json.message }}"}]},"options":{}},"id":"041d722e-08f4-495d-9bf0-4a37979a6a7d","name":"Resposta principal por texto evo","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[5728,2992]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Normalizacao').item.json.url_zap_provider }}","rightValue":"coletiv","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"evolution"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bce400e6-4afe-41cc-9c27-c89ddd5396f4","leftValue":"={{ $('Normalizacao').item.json.url_zap_provider }}","rightValue":"z-api","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"z-api"}]},"options":{}},"id":"a1d3cb5e-00aa-42ce-b4fa-a295be1689ea","name":"Switch Zap API Provider - 6","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[5520,3008]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/instances/{{ $('Z-api Credentials').item.json['z-api_instanciaID'] }}/*** $('Z-api Credentials').item.json['z-api_instancia***'] }}/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"={{ $('Z-api Credentials').item.json['z-api_client_token'] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=phone","value":"={{ $('Normalizacao').item.json.user_phone }}"},{"name":"message","value":"={{ $json.message.replace(/\\*\\*/g, '*') }}"}]},"options":{}},"id":"393e8ed8-e01a-4151-a184-e9ac664d1235","name":"Resposta principal em texto z-api","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5728,3168]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Normalizacao').item.json.url_zap_provider }}","rightValue":"coletiv","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"evolution"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bce400e6-4afe-41cc-9c27-c89ddd5396f4","leftValue":"={{ $('Normalizacao').item.json.url_zap_provider }}","rightValue":"z-api","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"z-api"}]},"options":{}},"id":"eaa98f66-28c7-4a84-9604-e637f0fbf3d1","name":"Switch Zap API Provider1","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4432,3120]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/message/sendText/{{ $('Normalizacao').item.json['Nome instancia'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json, text/plain, */*"},{"name":"apikey","value":"={{ $('Evo Credentials').item.json.EVO_API_KEY }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Normalizacao').item.json.chat_id }}"},{"name":"text","value":"Tivemos um problema ao processar sua mensagem. Por favor repita ou aguarde um pouco."}]},"options":{}},"id":"34507141-9c9c-475b-9b21-b24c24156b6b","name":"Envia mensagem Zap de erro por evo","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[4560,3008]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/instances/{{ $('Z-api Credentials').item.json['z-api_instanciaID'] }}/*** $('Z-api Credentials').item.json['z-api_instancia***'] }}/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"={{ $('Z-api Credentials').item.json['z-api_client_token'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Normalizacao').item.json.user_phone }}\",\n  \"message\": \"Tivemos um problema ao processar sua mensagem. Por favor repita ou aguarde um pouco.\"\n} ","options":{}},"id":"36316e3f-b8e3-4f65-a67f-9c1c18ab1dd3","name":"Envia mensagem Zap de erro por z-api","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4560,3248]},{"parameters":{"assignments":{"assignments":[{"id":"beddbea7-a1e9-48a2-84fb-7d843eded789","name":"message","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"8530d54c-d2f7-4792-b995-119d907b0858","name":"Set Message From Audio1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-320,1520]},{"parameters":{"method":"POST","url":"={{ \"https://qbaqalgwyzoypypbcfga.supabase.co/storage/v1/object/n8nrailway/speech\"+Date.now()+\"\"  }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"id":"d3707065-a362-433d-8f5e-2844bba12a7c","name":"Upload Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5408,4032]},{"parameters":{"assignments":{"assignments":[{"id":"874847db-f371-42fa-bd1a-1e3227dde614","name":"url_file","value":"={{ \"https://qbaqalgwyzoypypbcfga.supabase.co/storage/v1/object/public/\"+$json.Key }}","type":"string"}]},"options":{}},"id":"19882002-d0eb-46d2-b267-db90a5116d28","name":"Cria File URL","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5632,4032]},{"parameters":{"method":"DELETE","url":"={{  \"https://qbaqalgwyzoypypbcfga.supabase.co/storage/v1/object/\"+$('Upload Supabase').item.json.***","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","options":{}},"id":"f7594b1c-c657-4ca2-ae6f-8cf08e1e2c32","name":"Delete File","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6048,4032]},{"parameters":{"content":"## Get url in Supabase - Sobe arquivo, pega url e deleta arquivo","height":274.51849997104216,"width":961.3312707621544},"id":"af2f9182-1f6c-4596-8c07-1c37032c13e8","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[5328,3952],"typeVersion":1},{"parameters":{"content":"## Envia mensagem de áudio e a transcrição deste áudio","height":479.5899294199817,"width":691.1324076630997},"id":"5a3fa5fe-b457-40f2-bf62-51b203f3d1d8","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[6320,3472],"typeVersion":1}],"connections":{"Cancel a Run":{"main":[[{"node":"Create Message","type":"main","index":0}]]},"List Runs":{"main":[[{"node":"Cancel a Run","type":"main","index":0}]]},"Airtable - Save User Data":{"main":[[{"node":"Output save_user_data","type":"main","index":0}]]},"Wait 4s":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Pega a ultima mensagem OpenAI":{"main":[[{"node":"If - É Áudio","type":"main","index":0}]]},"Cria thread":{"main":[[{"node":"Create First Message Thread","type":"main","index":0}]]},"Airtable - Get User Data":{"main":[[{"node":"Output get_user_data","type":"main","index":0}]]},"Code - Dynamic Search Formula":{"main":[[{"node":"Airtable - Search Listings","type":"main","index":0}]]},"Output get_property":{"main":[[{"node":"Summarize Search","type":"main","index":0}]]},"Convertio":{"main":[[{"node":"Get Step","type":"main","index":0}]]},"If":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Get Step":{"main":[[{"node":"If","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Get Step","type":"main","index":0}]]},"If - User is in Leads":{"main":[[{"node":"Merge - User","type":"main","index":0}],[{"node":"Cria thread","type":"main","index":0}]]},"Airtable - Search Listings":{"main":[[{"node":"Output get_property","type":"main","index":0}]]},"Get First Option":{"main":[[{"node":"Output appointment_booking","type":"main","index":0}]]},"Airtable - Create User":{"main":[[{"node":"Switch Zap API Provider4","type":"main","index":0}]]},"If - From me":{"main":[[{"node":"Verifica Comando","type":"main","index":0}],[{"node":"If - User is in Leads","type":"main","index":0}]]},"If - On-Bot Leads":{"main":[[{"node":"Payload to OpenAI","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If - Run Status queued or in_progress":{"main":[[{"node":"Wait 4s","type":"main","index":0}],[{"node":"If If - Run Status requires_action","type":"main","index":0}]]},"If If - Run Status requires_action":{"main":[[{"node":"Captura Tool Calls","type":"main","index":0}],[{"node":"Switch - Run Status Completed","type":"main","index":0}]]},"Airtable - Search User":{"main":[[{"node":"If - From me","type":"main","index":0}]]},"Get Event Availability":{"main":[[{"node":"Get First Option","type":"main","index":0}],[{"node":"Cancel a Run1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Airtable - Update Text last_Message e concat_Message Text e Token Usage","type":"main","index":0}],[{"node":"Switch Zap API Provider - 6","type":"main","index":0}]]},"Msgs":{"main":[[{"node":"Quebra Mensagem","type":"main","index":0}]]},"Quebra Mensagem":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Airtable - Update RunID":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Get Run Status":{"main":[[{"node":"If - Run Status queued or in_progress","type":"main","index":0}]]},"Envia resposta Zap Link Agendamento":{"main":[[{"node":"Create Message Zap Link Agendamento","type":"main","index":0}]]},"Create Message Zap Link Agendamento":{"main":[[{"node":"Airtable - Update Off-Bot New Message Zap Link Agendamento","type":"main","index":0}]]},"Set Message From Text":{"main":[[{"node":"Merge Messages","type":"main","index":0}]]},"Merge Messages":{"main":[[{"node":"If - On-Bot Leads","type":"main","index":0}]]},"Create Message":{"main":[[{"node":"Airtable - Update concat_Message","type":"main","index":0}],[{"node":"List Runs","type":"main","index":0}]]},"Wait 15s":{"main":[[{"node":"List Messages","type":"main","index":0}]]},"List Messages":{"main":[[{"node":"If - Last message equal to first message - Fila de Mensagens","type":"main","index":0}]]},"If - Last message equal to first message - Fila de Mensagens":{"main":[[{"node":"Run Assistant","type":"main","index":0}],[{"node":"Queue Message Text","type":"main","index":0}]]},"Switch - Run Status Completed":{"main":[[{"node":"Pega a ultima mensagem OpenAI","type":"main","index":0}],[{"node":"Switch Zap API Provider1","type":"main","index":0}]]},"Captura Tool Calls":{"main":[[{"node":"Split Out Tool Calls","type":"main","index":0}]]},"Split Out Tool Calls":{"main":[[{"node":"Loop Over Tool Calls","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Concatenar todos outputs em uma string","type":"main","index":0}]]},"Run Assistant":{"main":[[{"node":"Airtable - Update RunID","type":"main","index":0}]]},"If - É Áudio":{"main":[[{"node":"Airtable - Update Text last_Message e concat_Message Text e Token Usage1","type":"main","index":0}],[{"node":"Msgs","type":"main","index":0}]]},"Cancel a Run1":{"main":[[{"node":"Envia resposta Zap Link Agendamento","type":"main","index":0}]]},"Summarize Search":{"main":[[{"node":"Set Tool Call ID","type":"main","index":0}]]},"Cancel Event":{"main":[[{"node":"Airtable - Update Reunião Cancelada","type":"main","index":0}]]},"Escolha da Tool Function":{"main":[[{"node":"Code - Dynamic Search Formula","type":"main","index":0}],[{"node":"Airtable - Get User Data","type":"main","index":0}],[{"node":"Airtable - Save User Data","type":"main","index":0}],[{"node":"Get Event Availability","type":"main","index":0}],[{"node":"Get uuid to cancel event","type":"main","index":0}]]},"Airtable - Update concat_Message":{"main":[[{"node":"Wait 15s","type":"main","index":0}]]},"No Thread":{"main":[[{"node":"Cria thread de novo","type":"main","index":0}],[{"node":"If - Mensagem há menos de 24h","type":"main","index":0}]]},"Merge User":{"main":[[{"node":"Airtable - Search User 3","type":"main","index":0}]]},"If - Mensagem há menos de 24h":{"main":[[{"node":"Merge User","type":"main","index":0}],[{"node":"Cria thread de novo","type":"main","index":0}]]},"Merge - User":{"main":[[{"node":"Airtable - Search User 2","type":"main","index":0}]]},"Cria thread de novo":{"main":[[{"node":"Create Message Thread","type":"main","index":0}]]},"Create Message Thread":{"main":[[{"node":"Airtable - Update User","type":"main","index":0}]]},"Create First Message Thread":{"main":[[{"node":"Airtable - Create User","type":"main","index":0}]]},"Airtable - Update User":{"main":[[{"node":"Switch Zap API Provider3","type":"main","index":0}]]},"Airtable - Search User 2":{"main":[[{"node":"No Thread","type":"main","index":0}]]},"Airtable - Search User 3":{"main":[[{"node":"Airtable - Update ThreadID de novo","type":"main","index":0}]]},"AI":{"main":[[{"node":"Normalizacao","type":"main","index":0}]]},"Evo Credentials":{"main":[[{"node":"Z-api Credentials","type":"main","index":0}]]},"Z-api Credentials":{"main":[[{"node":"AI","type":"main","index":0}]]},"If - Is not Group":{"main":[[{"node":"Airtable - Search User","type":"main","index":0}]]},"Normalizacao":{"main":[[{"node":"If - Is not Group","type":"main","index":0}]]},"Verifica Comando":{"main":[[{"node":"Airtable - Update Bot On","type":"main","index":0}],[{"node":"Airtable - Update Bot Off","type":"main","index":0}]]},"Switch Zap API Provider":{"main":[[{"node":"Envia mensagem por evo - Texts Only","type":"main","index":0}],[{"node":"Envia mensagem por z-api - Texts Only","type":"main","index":0}]]},"Switch Zap API Provider - ":{"main":[[{"node":"Get Base64 From Image Message","type":"main","index":0}],[{"node":"Open AI Vision z-api","type":"main","index":0}]]},"Envia mensagem por z-api - Imagem":{"main":[[{"node":"Set Message From Image","type":"main","index":0}]]},"Envia mensagem por evo - Imagem":{"main":[[{"node":"Set Message From Image","type":"main","index":0}]]},"Set Message From Image":{"main":[[{"node":"Merge Messages","type":"main","index":1}]]},"Get Base64 From Image Message":{"main":[[{"node":"Open AI Vision evo","type":"main","index":0}]]},"Open AI Vision z-api":{"main":[[{"node":"Create Message Thread - Imagem z-api","type":"main","index":0}]]},"Open AI Vision evo":{"main":[[{"node":"Create Message Thread - Imagem evo","type":"main","index":0}]]},"Create Message Thread - Imagem evo":{"main":[[{"node":"Envia mensagem por evo - Imagem","type":"main","index":0}]]},"Create Message Thread - Imagem z-api":{"main":[[{"node":"Envia mensagem por z-api - Imagem","type":"main","index":0}]]},"Wait 5s":{"main":[[{"node":"Show a Job in CloudConvert","type":"main","index":0}]]},"ogg to mp3 Create a Job no CloudConvert":{"main":[[{"node":"Wait 5s","type":"main","index":0}]]},"Show a Job in CloudConvert":{"main":[[{"node":"If Status Finished","type":"main","index":0}]]},"If Status Finished":{"main":[[{"node":"Get JSON from CloudConvert","type":"main","index":0}],[{"node":"Switch Zap API Provider2","type":"main","index":0}]]},"Get JSON from CloudConvert":{"main":[[{"node":"Get mp3 File","type":"main","index":0}]]},"Get mp3 File":{"main":[[{"node":"Create Transcription OpenAI","type":"main","index":0}],[{"node":"Switch Zap API Provider2","type":"main","index":0}]]},"Create Transcription OpenAI":{"main":[[{"node":"Envia transcrição do audio Zap User","type":"main","index":0}]]},"Envia transcrição do audio Zap User":{"main":[[{"node":"Set Message From Audio","type":"main","index":0}]]},"Set Message From Audio":{"main":[[{"node":"Merge Messages","type":"main","index":0}]]},"Airtable - Update ThreadID de novo":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Concatenar todos outputs em uma string":{"main":[[{"node":"Insert Outputs das functions na OpenAI","type":"main","index":0}]]},"Insert Outputs das functions na OpenAI":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Loop Over Tool Calls":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Separa Argumentos de uma Tool Call","type":"main","index":0}]]},"Separa Argumentos de uma Tool Call":{"main":[[{"node":"Escolha da Tool Function","type":"main","index":0}]]},"Set Tool Call ID":{"main":[[{"node":"Loop Over Tool Calls","type":"main","index":0}]]},"Output appointment_booking":{"main":[[{"node":"Summarize Search","type":"main","index":0}]]},"Get uuid to cancel event":{"main":[[{"node":"Cancel Event","type":"main","index":0}]]},"Airtable - Update Reunião Cancelada":{"main":[[{"node":"Output cancel_event","type":"main","index":0}]]},"Output get_user_data":{"main":[[{"node":"Summarize Search","type":"main","index":0}]]},"Output save_user_data":{"main":[[{"node":"Summarize Search","type":"main","index":0}]]},"Output cancel_event":{"main":[[{"node":"Summarize Search","type":"main","index":0}]]},"Payload to OpenAI":{"main":[[{"node":"Create Message","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download Audio Message","type":"main","index":0}],[{"node":"Switch Zap API Provider - ","type":"main","index":0}],[{"node":"Set Message From Text","type":"main","index":0}],[{"node":"Switch Zap API Provider","type":"main","index":0}]]},"transcreve_audio - openai":{"main":[[{"node":"Set Message From Audio1","type":"main","index":0}],[{"node":"ogg to mp3 Create a Job no CloudConvert","type":"main","index":0}]]},"Download Audio Message":{"main":[[{"node":"transcreve_audio - openai","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Evo Credentials","type":"main","index":0}]]},"Switch Zap API Provider2":{"main":[[{"node":"Envia mensagem por evo - Erro no Audio","type":"main","index":0}],[{"node":"Envia mensagem por z-api - Erro no Audio","type":"main","index":0}]]},"Switch Zap API Provider3":{"main":[[{"node":"Envia mensagem por evo","type":"main","index":0}],[{"node":"Envia mensagem por z-api - Texts Only3","type":"main","index":0}]]},"Switch Zap API Provider4":{"main":[[{"node":"Envia primeira mensagem por evo","type":"main","index":0}],[{"node":"Envia primeira mensagem por z-api","type":"main","index":0}]]},"Envia primeira mensagem por evo":{"main":[[{"node":"Merge - User","type":"main","index":1}]]},"Envia primeira mensagem por z-api":{"main":[[{"node":"Merge - User","type":"main","index":1}]]},"Envia mensagem por z-api - Texts Only3":{"main":[[{"node":"Merge User","type":"main","index":1}]]},"Envia mensagem por evo":{"main":[[{"node":"Merge User","type":"main","index":1}]]},"Envia mensagem por z-api - Erro no Audio":{"main":[[{"node":"Merge Messages","type":"main","index":0}]]},"Envia mensagem por evo - Erro no Audio":{"main":[[{"node":"Merge Messages","type":"main","index":0}]]},"Resposta principal por audio z-api":{"main":[[{"node":"Envia transcricao do audio z-api","type":"main","index":0}]]},"Resposta principal por audio evo":{"main":[[{"node":"Envia transcricao do audio evo","type":"main","index":0}]]},"Switch Zap API Provider - 7":{"main":[[{"node":"Resposta principal por audio evo","type":"main","index":0}],[{"node":"Resposta principal por audio z-api","type":"main","index":0}]]},"Gerar Audio do texto (TTS)":{"main":[[{"node":"Converte para base","type":"main","index":0}]]},"Converte para base":{"main":[[{"node":"Switch Zap API Provider - 7","type":"main","index":0}]]},"Airtable - Update Text last_Message e concat_Message Text e Token Usage1":{"main":[[{"node":"Gerar Audio do texto (TTS)","type":"main","index":0}]]},"Switch Zap API Provider - 6":{"main":[[{"node":"Resposta principal por texto evo","type":"main","index":0}],[{"node":"Resposta principal em texto z-api","type":"main","index":0}]]},"Resposta principal em texto z-api":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Resposta principal por texto evo":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch Zap API Provider1":{"main":[[{"node":"Envia mensagem Zap de erro por evo","type":"main","index":0}],[{"node":"Envia mensagem Zap de erro por z-api","type":"main","index":0}]]},"Set Message From Audio1":{"main":[[{"node":"Merge Messages","type":"main","index":0}]]},"Upload Supabase":{"main":[[{"node":"Cria File URL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"018d0188-88ba-4059-af58-585fe7fbce6d","triggerCount":0,"shared":[{"updatedAt":"2025-02-25T14:45:55.431Z","createdAt":"2025-02-25T14:45:55.431Z","role":"workflow:owner","workflowId":"yEJtsOYu1VGan3zN","projectId":"LSMTPZdkzijhKOW0"}],"tags":[]}