climob-schedule-daily-at-11am-4nqi3bHOIvn9zsks.json
{"createdAt":"2025-02-25T14:08:12.643Z","updatedAt":"2025-02-25T14:08:12.643Z","id":"4nqi3bHOIvn9zsks","name":"CLImob Schedule daily at 11am","active":false,"nodes":[{"parameters":{"content":"## Schedule daily at 11am","height":285.66037735849045,"width":415.1489825776344},"id":"dda941d1-f028-4ba3-99eb-6600aa7e27e5","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-2160,360],"typeVersion":1},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblag7S42K0GZhAWB","mode":"list","cachedResultName":"Leads Clientes (Calendly)","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB"},"options":{}},"id":"d8d6732f-1d7b-494a-aaab-94a48175eda2","name":"Airtable - Search User in Leads","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-1680,500],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"db0201a3-08e6-4edc-b5fd-269d2bf37191","leftValue":"={{ $('Airtable - Search User in Leads').item.json.resposta5 }}","rightValue":true,"operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"301bd06f-f36e-46eb-b79f-6ed597918b71","name":"If - Já Qualificou o Lead?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-300,460]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"db0201a3-08e6-4edc-b5fd-269d2bf37191","leftValue":"={{ $('Airtable - Search User in Leads').item.json['Event Type Name'] }}","rightValue":"Reunião Mentoria Advogar em Portugal","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"b78433bc-49c0-445c-9e0c-7fd52927535f","name":"If - Lead Mentoria","type":"n8n-nodes-base.if","typeVersion":2,"position":[-680,440]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"512dbc68-cc47-4e97-b1ee-fe53c20e3f9a","leftValue":"={{ $json['Event Type Name'] }}","rightValue":"Fale Conosco CF","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"f535521a-420e-4dc8-bda2-507e0de16afe","leftValue":"={{ $json['Event Type Name'] }}","rightValue":"Impostos (Taxes)","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"81b70def-72cd-4833-9805-764d05233e58","leftValue":"={{ $json['Event Type Name'] }}","rightValue":"Vistos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"76482026-969b-4ca7-ba5d-4e1ac6d53b39","leftValue":"={{ $json['Event Type Name'] }}","rightValue":"Nacionalidade Portuguesa","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"42fc1dfe-070f-4f4c-bd32-00286142b7b4","leftValue":"={{ $json['Event Type Name'] }}","rightValue":"Reunião Mentoria Advogar em Portugal","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"e3ee6eae-6e60-4b6d-bf8a-5f07e97693d0","leftValue":"={{ $json['Event Type Name'] }}","rightValue":"Evento Teste","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"e95c2b2e-dc55-40e8-a35d-ecf30ada1c07","name":"If - Lead CF","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1000,460]},{"parameters":{},"id":"7abf9533-3772-45d1-817a-c37e2896213e","name":"No Operation, do nothing6","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-680,720]},{"parameters":{},"id":"2383f166-61b9-4180-8e23-1bd9ccfed665","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-160,200]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Search User in Leads').item.json.thread_id_openai }}/messages   ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"assistant"},{"name":"content","value":"=Data: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: Podemos falar agora? Can we talk now?"}]},"options":{}},"id":"5388f433-2448-4fa5-a650-2998ccb53de8","name":"Create Message OpenAI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,500]},{"parameters":{},"id":"2abff6fc-dad5-4d1a-a3fb-fc47eb4f1c6c","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1000,720]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"1dfd8761-7106-4c2e-812b-181486736027","leftValue":"={{ DateTime.now().toISODate() }}","rightValue":"={{ DateTime.fromISO($json['Calendly Start Date & Time']).toISODate() }}","operator":{"type":"dateTime","operation":"before"}},{"id":"43413f8f-30f5-4305-8d6d-4217defa5ded","leftValue":"={{ $('Airtable - Search User in Leads').item.json['Obs'] }}","rightValue":"REUNIÃO CANCELADA","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"172537f3-aefd-4459-bd13-13aa8d7fa87c","name":"If - Antes da reunião","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1240,480]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"30709591-c9a0-4a59-8e36-43b031179021","leftValue":"={{ $('Airtable - Search User in Leads').item.json.thread_id_openai }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"9ea660fb-1bbb-4424-869c-47aa216e5f3c","name":"No Thread","type":"n8n-nodes-base.if","typeVersion":2,"position":[40,480]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"35aae8c4-2853-47d1-860e-d699301695cd","name":"Cria thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[180,220]},{"parameters":{"assignments":{"assignments":[{"id":"c9521597-3e54-43f1-b90d-9d2d8872cb2b","name":"threadIDVariable","value":"={{ $json.thread_id_openai }}","type":"string"}]},"options":{}},"id":"c2f87a1a-ed97-4ae3-b09e-75d7e6b19348","name":"ThreadID","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1520,500],"alwaysOutputData":true},{"parameters":{},"id":"95a067bd-813d-426a-a118-c5712c426abd","name":"Merge User","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1340,500]},{"parameters":{"content":"## Gerir Thread do Usuário na OpenAI","height":692.1647686317599,"width":1647.2045670992293},"id":"e57bbf5b-9c1a-4c64-a72f-7eb1495a5128","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblag7S42K0GZhAWB","mode":"list","cachedResultName":"Leads Clientes (Calendly)","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB"},"columns":{"mappingMode":"defineBelow","value":{"Airtable ID ":"={{ $('Airtable - Search User in Leads').item.json['Airtable ID '] }}","thread_id_created":"={{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }}","thread_id_openai":"={{ $('Cria thread').item.json.id }}","token_Usage_Total":0,"counter_Messages":0},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Enviar Proposta?","displayName":"Enviar Proposta?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cliente?","displayName":"Cliente?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Cliente de quem?","displayName":"Cliente de quem?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Emails","displayName":"Emails","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Qualification Calls","displayName":"Qualification Calls","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Status (from Qualification Calls)","displayName":"Status (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Summary (from Qualification Calls)","displayName":"Summary (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Recording_url (from Qualification Calls)","displayName":"Recording_url (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"b4d77cfb-9a7d-4917-b8dc-b243f788a1be","name":"Airtable - Update User in Leads","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[1140,220]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblag7S42K0GZhAWB","mode":"list","cachedResultName":"Leads Clientes (Calendly)","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB"},"columns":{"mappingMode":"defineBelow","value":{"Airtable ID ":"={{ $('Merge User').item.json['Airtable ID '] }}","thread_id_openai":"={{ $json.threadIDVariable }}"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Enviar Proposta?","displayName":"Enviar Proposta?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cliente?","displayName":"Cliente?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Cliente de quem?","displayName":"Cliente de quem?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Emails","displayName":"Emails","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Qualification Calls","displayName":"Qualification Calls","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Status (from Qualification Calls)","displayName":"Status (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Summary (from Qualification Calls)","displayName":"Summary (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Recording_url (from Qualification Calls)","displayName":"Recording_url (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"6d7f031f-79cf-4b68-ba4c-106a1a090402","name":"Airtable - Update ThreadID de novo Leads","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[1840,500]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5f3ddb4a-e42e-470f-91df-157dc16fa5dd","leftValue":"={{ $('Airtable - Search User in Leads').item.json.Language }}","rightValue":"English","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"2eb67ff2-cb21-42f1-841b-00941b2fb04f","name":"If - Language is Portuguese","type":"n8n-nodes-base.if","typeVersion":2,"position":[420,220]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Cria thread').item.json.id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"assistant"},{"name":"content","value":"Bom dia! Temos algumas perguntas pendentes antes da reunião. É oportuno falarmos agora?"}]},"options":{}},"id":"c7c6ef2a-1228-4379-a734-8be8f6570a58","name":"Create First Message Thread - Portuguese","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,100]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Cria thread').item.json.id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"assistant"},{"name":"content","value":"Good morning! We have some questions to ask before our meeting. Can we talk now?"}]},"options":{}},"id":"51794251-34c2-4b96-9305-888e5c99d6ca","name":"Create First Message Thread - English","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,320]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3BA420DED68C40D7E2682E99D8C4921B/token/11C80E39098BB6AEB4EEE997/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"F424e60c3a35c47fdb94513e0bb06e501S"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=  {\n  \"phone\": {{ $('Airtable - Search User in Leads').item.json.Telefone }},\n  \"message\": \"Bom dia! Temos algumas perguntas pendentes antes da reunião. É oportuno falarmos agora?\"\n}  ","options":{}},"id":"f51c82fb-9608-4b16-b2bb-843c70a0145c","name":"Envia primeira mensagem Zap - Português","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,100]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3BA420DED68C40D7E2682E99D8C4921B/token/11C80E39098BB6AEB4EEE997/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"F424e60c3a35c47fdb94513e0bb06e501S"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=  {\n  \"phone\": {{ $('Airtable - Search User in Leads').item.json.Telefone }},\n  \"message\": \"Good morning! We have some questions to ask before our meeting. Can we talk now?\"\n}  ","options":{}},"id":"77ceb140-c7fb-4e15-8b33-e9ec68cc5e4a","name":"Envia primeira mensagem Zap - English","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,320]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3BA420DED68C40D7E2682E99D8C4921B/token/11C80E39098BB6AEB4EEE997/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"F424e60c3a35c47fdb94513e0bb06e501S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=phone","value":"={{ $('Airtable - Search User in Leads').item.json.Telefone }}"},{"name":"message","value":"Bom dia! Podemos falar agora?"}]},"options":{}},"id":"84238e87-0a1a-46b7-a211-56b8b475fbeb","name":"Envia mensagem Inatividade Zap - Português","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,360]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3BA420DED68C40D7E2682E99D8C4921B/token/11C80E39098BB6AEB4EEE997/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"F424e60c3a35c47fdb94513e0bb06e501S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=phone","value":"={{ $('Airtable - Search User in Leads').item.json.Telefone }}"},{"name":"message","value":"Good morning! Can we talk now?"}]},"options":{}},"id":"cb582a39-3b3f-4f6a-930c-5fc432bfbc20","name":"Envia mensagem Inatividade Zap - English","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,620]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 10 * * 1-5"}]}},"id":"0152b2f4-796b-4f41-8c69-fbde8ca69bd0","name":"Schedule Trigger 11am","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-1940,500]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblag7S42K0GZhAWB","mode":"list","cachedResultName":"Leads Clientes (Calendly)","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB"},"columns":{"mappingMode":"defineBelow","value":{"Airtable ID ":"={{ $('Airtable - Search User in Leads').item.json['Airtable ID '] }}","concat_Messages":"={{ $('Airtable - Search User in Leads').item.json.concat_Messages }}\n\nData: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: Podemos falar agora? Can we talk now?"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Enviar Proposta?","displayName":"Enviar Proposta?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cliente?","displayName":"Cliente?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Cliente de quem?","displayName":"Cliente de quem?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Emails","displayName":"Emails","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Qualification Calls","displayName":"Qualification Calls","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Status (from Qualification Calls)","displayName":"Status (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Summary (from Qualification Calls)","displayName":"Summary (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Recording_url (from Qualification Calls)","displayName":"Recording_url (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}]},"options":{}},"id":"3d519abf-a814-40c0-a1a2-10cf380cbffe","name":"Airtable - Update Text concat_Message","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[2360,500]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"5f3ddb4a-e42e-470f-91df-157dc16fa5dd","leftValue":"={{ $('Airtable - Search User in Leads').item.json.Language }}","rightValue":"English","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"73f006ce-06fa-4665-8623-708f4f463031","name":"If - Language is Portuguese2","type":"n8n-nodes-base.if","typeVersion":2,"position":[2600,500]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"43413f8f-30f5-4305-8d6d-4217defa5ded","leftValue":"={{ $('Airtable - Search User in Leads').item.json['Obs'] }}","rightValue":"NO SHOW","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"ff7c3c50-91a0-4c2d-84f8-8cd66b9ebfbd","name":"If - No Show?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1460,500]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1240,720],"id":"02bb7640-bc7c-4c77-bb54-af484df936c3","name":"No Operation, do nothing2"}],"connections":{"If - Lead Mentoria":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"If - Já Qualificou o Lead?","type":"main","index":0}]]},"If - Lead CF":{"main":[[{"node":"If - Lead Mentoria","type":"main","index":0}],[{"node":"No Operation, do nothing6","type":"main","index":0}]]},"Airtable - Search User in Leads":{"main":[[{"node":"If - No Show?","type":"main","index":0}]]},"Create Message OpenAI":{"main":[[{"node":"Airtable - Update Text concat_Message","type":"main","index":0}]]},"If - Já Qualificou o Lead?":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Thread","type":"main","index":0}]]},"If - Antes da reunião":{"main":[[{"node":"If - Lead CF","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"No Thread":{"main":[[{"node":"Cria thread","type":"main","index":0}],[{"node":"Merge User","type":"main","index":0}]]},"Cria thread":{"main":[[{"node":"If - Language is Portuguese","type":"main","index":0}]]},"ThreadID":{"main":[[{"node":"Airtable - Update ThreadID de novo Leads","type":"main","index":0}]]},"Merge User":{"main":[[{"node":"ThreadID","type":"main","index":0}]]},"Airtable - Update User in Leads":{"main":[[{"node":"Merge User","type":"main","index":1}]]},"Airtable - Update ThreadID de novo Leads":{"main":[[{"node":"Create Message OpenAI","type":"main","index":0}]]},"If - Language is Portuguese":{"main":[[{"node":"Create First Message Thread - Portuguese","type":"main","index":0}],[{"node":"Create First Message Thread - English","type":"main","index":0}]]},"Create First Message Thread - Portuguese":{"main":[[{"node":"Envia primeira mensagem Zap - Português","type":"main","index":0}]]},"Envia primeira mensagem Zap - Português":{"main":[[{"node":"Airtable - Update User in Leads","type":"main","index":0}]]},"Create First Message Thread - English":{"main":[[{"node":"Envia primeira mensagem Zap - English","type":"main","index":0}]]},"Envia primeira mensagem Zap - English":{"main":[[{"node":"Airtable - Update User in Leads","type":"main","index":0}]]},"Schedule Trigger 11am":{"main":[[{"node":"Airtable - Search User in Leads","type":"main","index":0}]]},"Airtable - Update Text concat_Message":{"main":[[{"node":"If - Language is Portuguese2","type":"main","index":0}]]},"If - Language is Portuguese2":{"main":[[{"node":"Envia mensagem Inatividade Zap - Português","type":"main","index":0}],[{"node":"Envia mensagem Inatividade Zap - English","type":"main","index":0}]]},"If - No Show?":{"main":[[{"node":"If - Antes da reunião","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Schedule Trigger 11am":[{"json":{"timestamp":"2025-02-24T10:00:00.033+00:00","Readable date":"February 24th 2025, 10:00:00 am","Readable time":"10:00:00 am","Day of week":"Monday","Year":"2025","Month":"February","Day of month":"24","Hour":"10","Minute":"00","Second":"00","Timezone":"Europe/Lisbon (UTC+00:00)"}}]},"versionId":"547c76a2-7d11-45af-b66d-b01a3737eb12","triggerCount":0,"tags":[]}