climob-zap-to-rabbitmq-10g8MSyJri2Hf9Bx.json
{"updatedAt":"2025-03-13T14:08:08.076Z","createdAt":"2025-03-13T14:04:07.403Z","id":"10g8MSyJri2Hf9Bx","name":"CLImob Zap to RabbitMQ","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"a2558648-714d-466a-b76a-2b3f023ac5f9","options":{}},"id":"88a76e8f-ffb2-444b-a6c8-5c5db3d48f51","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-8400,4620],"webhookId":"a2558648-714d-466a-b76a-2b3f023ac5f9"},{"parameters":{"queue":"cl_atendimento_oracle.webhook","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]}}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[-7960,4620],"id":"00a2778f-005e-436a-abe2-33cd3b8eca0e","name":"RabbitMQ","credentials":null},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3d25254-6432-4509-b56e-3aa3359f09e8","leftValue":"={{ $json.body.event }}","rightValue":"messages.upsert","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-8180,4620],"id":"1fe6f361-9f55-44f1-a46f-ecbc982ff3bf","name":"Filter"}],"connections":{"Webhook":{"main":[[{"node":"Filter","type":"main","index":0}]]},"RabbitMQ":{"main":[[]]},"Filter":{"main":[[{"node":"RabbitMQ","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"32dbc886-5ec4-4eb4-8a4a-19a8edd3f5b6","triggerCount":1,"shared":[{"updatedAt":"2025-03-13T14:04:07.403Z","createdAt":"2025-03-13T14:04:07.403Z","role":"workflow:owner","workflowId":"10g8MSyJri2Hf9Bx","projectId":"LSMTPZdkzijhKOW0"}],"tags":[]}