climob-ig-lead-qualification-9cYQn6FZTZCevNYj.json
{"updatedAt":"2025-12-27T17:56:21.936Z","createdAt":"2025-03-25T15:38:26.316Z","id":"9cYQn6FZTZCevNYj","name":"CLImob IG Lead Qualification","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"messageIGNunoCF","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3200,48],"id":"40b43305-f167-4ef1-b84b-e34ed28b2cb9","name":"Webhook","webhookId":"e4ce2bb9-1592-427e-8a43-7838901b1c9c"},{"parameters":{"assignments":{"assignments":[{"id":"2a177ef5-8f2b-48d6-aa14-74f8cb1e049a","name":"gemini_api_key","value":"AIzaSyC5XbEFTLwEIahTLuDa21AM45jZzgmrt5g","type":"string"},{"id":"4e393e46-5476-46b0-bec4-f29277efc038","name":"openai_assistant_id","value":"asst_LrLgRRta7vFmhFo7bBXYcHwA","type":"string"},{"id":"24e7ecdc-b178-42ec-afec-a8518adb2dc1","name":"chatbase_agent_id","value":"IQbeXUUeT8mAJqvC7K7dA","type":"string"}]},"options":{}},"id":"d2401e24-9d1c-4dfe-b99c-f860d08ce947","name":"AI","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-3024,48],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"6bbe5ad9-d123-42fd-90ac-d817904908c4","name":"baseUrl","value":"=https://hub.notificame.com.br/v1/channels/{{ $('Webhook').item.json.body.channel }}/messages","type":"string"},{"id":"46c3d2ef-69aa-4215-9043-c68ccc756f9e","name":"apiTokenAccount","value":"bbab379a-06f8-11f0-998a-02106e640295","type":"string"},{"id":"4903bc98-6c53-495e-80e6-e7ee8ab54544","name":"apiTokenChannel","value":"78daa5c9-ae21-4465-80a1-5b3f19a63430","type":"string"},{"id":"8ca84400-8f6a-4239-8978-a7f2922d39b8","name":"accountOwner","value":"casasdelisboa","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2848,48],"id":"ac0e465e-ac09-47c8-b0e9-ff66df4c351f","name":"Notificamehub","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"8c28dad7-08af-4f65-8218-0f1f8e219a2f","name":"igName","value":"={{ $('Webhook').item.json.body.message?.visitor?.name || $('Webhook').item.json.body.visitor?.name }}","type":"string"},{"id":"6404c851-9ba9-4447-8a50-283f0e9053c7","name":"igPicture","value":"={{ $('Webhook').item.json.body.message?.visitor?.picture || $('Webhook').item.json.body.visitor?.picture }}","type":"string"},{"id":"c5de6e28-c520-48a1-9ea4-35c53bf6b1b2","name":"igContentType","value":"={{ $('Webhook').item.json.body.message.contents[0].type }}","type":"string"},{"id":"b24bd5d8-ee06-4b20-bb69-6ddbc6875853","name":"igContentTextMessage","value":"={{ $('Webhook').item.json.body.message.contents[0].text }}","type":"string"},{"id":"f0a39b8c-69bc-4904-ae9e-b6214619324d","name":"timestamp","value":"={{ $('Webhook').item.json.body.message?.timestamp || $('Webhook').item.json.body?.timestamp }}","type":"string"},{"id":"0e802e92-7e81-469a-9678-ce2c993c9ad4","name":"idMessage","value":"={{ $('Webhook').item.json.body?.id || $('Webhook').item.json.body?.messageId }}","type":"string"},{"id":"ab06f925-7168-430f-b4b1-1ccbacb4cd11","name":"hubAccessToken","value":"={{ $('Webhook').item.json.query.hub_access_token }}","type":"string"},{"id":"30fc1247-e6e1-49c6-8034-ae23fe5dd3d0","name":"fromidDestinatario","value":"={{ $('Webhook').item.json.body.message.from }}","type":"string"},{"id":"821f2a84-2849-4e2c-8040-f8402f951696","name":"firstName","value":"={{ $('Webhook').item.json.body.message.visitor.firstName }}","type":"string"},{"id":"ab7d281b-dd22-41b0-8cda-7bfdcdfe55c4","name":"lastName","value":"={{ $('Webhook').item.json.body.message.visitor.lastName }}","type":"string"},{"id":"eb53c713-d1b7-4fc8-98fa-1985d7f00408","name":"idComment","value":"={{ $('Webhook').item.json.body.message.contents[0].id }}","type":"string"},{"id":"4cec3b82-5176-4cd6-99be-372896ae61fb","name":"fileUrl","value":"={{ $('Webhook').item.json.body.message.contents[0].fileUrl }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2656,48],"id":"5469edc6-9353-4700-b92e-61ddce4bc1a5","name":"Normalizacao"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Normalizacao').item.json.igContentType }}","rightValue":"comment","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"comment"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f7e4176c-0d0e-4186-9ce3-48e72f89928c","leftValue":"={{ $('Normalizacao').item.json.igContentType }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e3a6aec-c804-41d9-80f4-b882be6a4f9c","leftValue":"={{ $('Normalizacao').item.json.igContentType }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"232feec9-5fe0-4d59-a210-bae92252b0c3","leftValue":"={{ $('Normalizacao').item.json.igContentType }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-144,0],"id":"6b39a06d-b262-4608-8d22-52ea66750c28","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"abdc51b1-c595-49d4-8bcb-f47ed719dec4","leftValue":"={{ $('Airtable - Search User in Leads0').item.json.airtableID }}","rightValue":"1999-12-31T19:00:00.000-05:00","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"ea2e8798-cf9c-4870-b8ca-f9045cf3a48b","name":"If - User is in Leads","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1776,32]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"6689029a-36dd-4c4a-b81a-17bc21e65d31","name":"Cria thread1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1456,48],"credentials":null},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblx92yORlGihE5Oy","mode":"list","cachedResultName":"Leads Instagram","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblx92yORlGihE5Oy"},"columns":{"mappingMode":"defineBelow","value":{"thread_id_openai":"={{ $('Cria thread1').item.json.id }}","concat_Messages":"Início\n\nUser: {{ $('Normalizacao').item.json.igContentTextMessage }}\n\nAssistant: Olá, sou o Max, assistente virtual da imobiliária Casas de Lisboa, especialista no mercado imobiliário de Portugal.","thread_id_created":"={{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }}","counter_Messages":0,"token_Usage_Total":0,"tags":"[\"Entrou no Fluxo\"]","last_Message":"={{ $('Normalizacao').item.json.igContentTextMessage }}\n\nOlá, sou o Max, assistente virtual da imobiliária Casas de Lisboa, especialista no mercado imobiliário de Portugal.","igName":"={{ $('Normalizacao').item.json.igName }}","obs":"Contato do Instagram criado","cliente":"={{ $('Notificamehub').item.json.accountOwner }}"},"matchingColumns":[],"schema":[{"id":"airtableID","displayName":"airtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"igName","displayName":"igName","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"language","displayName":"language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"obs","displayName":"obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"37752e51-2538-4dd6-88a5-b28d14e0323d","name":"Airtable - Create User","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-656,48],"credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"c9521597-3e54-43f1-b90d-9d2d8872cb2b","name":"threadIDVariable","value":"={{ $json.thread_id_openai }}","type":"string"}]},"options":{}},"id":"27028923-e31a-4cf5-b463-0f952a320b3d","name":"ThreadID","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-656,-208],"alwaysOutputData":true},{"parameters":{"content":"## Criar e Gerir Usuário","height":848,"width":1856},"id":"e4c63cc4-adfc-4064-9490-7e78159950f6","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[-2096,-496],"typeVersion":1},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblx92yORlGihE5Oy","mode":"list","cachedResultName":"Leads Instagram","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblx92yORlGihE5Oy"},"columns":{"mappingMode":"defineBelow","value":{"token_Usage_Total":0,"concat_Messages":"Início","thread_id_openai":"={{ $json.id }}","thread_id_created":"={{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }}","airtableID":"={{ $('Airtable - Search User in Leads0').item.json.airtableID }}"},"matchingColumns":["airtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"airtableID","displayName":"airtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"igName","displayName":"igName","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"language","displayName":"language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"obs","displayName":"obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"4b58bb69-5e86-416c-819b-76f175f33dfa","name":"Airtable - Update ThreadID","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-1040,-384],"credentials":null},{"parameters":{},"id":"a49a9631-393f-4837-b267-604c63e3ffde","name":"Merge Thread","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-864,-208],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"30709591-c9a0-4a59-8e36-43b031179021","leftValue":"={{ $('Airtable - Search User in Leads0').item.json.thread_id_openai }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"418ffd5c-4edd-4afc-b91f-7b974f5b04e8","name":"If - No Thread","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1456,-208]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblx92yORlGihE5Oy","mode":"list","cachedResultName":"Leads Instagram","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblx92yORlGihE5Oy"},"filterByFormula":"={{ '{igName} = \"' + $('Normalizacao').item.json.igName + '\"' }}","returnAll":false,"limit":1,"options":{},"sort":{"property":[{"field":"Created","direction":"desc"}]}},"id":"4ae49122-fd5a-41de-bb91-bfb96b46664a","name":"Airtable - Search User in Leads0","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-2016,32],"alwaysOutputData":true,"credentials":null,"onError":"continueRegularOutput"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"Você deve sempre responder agradecendo o comentário do usuário, e caso na mensagem do usuário exista a palavra \"Quero\", informe que vai enviar uma DM para ele.","role":"system"},{"content":"={{ $('Normalizacao').item.json.igContentTextMessage }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[48,-256],"id":"c31a1bea-ef31-4eae-8917-c42f973094f5","name":"OpenAI","credentials":null},{"parameters":{"resource":"instagram","operation":"comentario","channelId":"={{ $('Normalizacao').item.json.hub***\".\")[1] }}","recipientId":"={{ $('Normalizacao').item.json.fromidDestinatario }}","messageId":"={{ $('Normalizacao').item.json.idComment }}","text":"Obrigado pelo interesse","requestOptions":{}},"type":"n8n-nodes-notificame-hub.notificaMeHub","typeVersion":1,"position":[384,-448],"id":"3f55abd7-e701-40aa-805f-1a50df715112","name":"Enviar Comment","credentials":null},{"parameters":{"method":"POST","url":"={{ $('Notificamehub').item.json.baseUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Token","value":"={{ $('Notificamehub').item.json.apiTokenAccount }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"{{ $('Notificamehub').item.json.*** }}\",\n  \"to\": \"{{ $('Normalizacao').item.json.fromidDestinatario }}\",\n  \"contents\": [\n        {\n            \"type\": \"reply_text\",\n            \"messsageId\": \"{{ $('Normalizacao').item.json.idComment }}\",\n            \"text\": \"{{ $json.message.content }}\"\n        }\n    ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,-256],"id":"26ce9cd6-e87e-4c46-82f7-41e7193797fc","name":"Enviar Comment1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2288,240],"id":"f7fb781b-a56f-462a-8c96-e524a641bdd5","name":"No Operation, do nothing1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fdc006de-c5b3-48ba-b305-bc1766aaf3f5","leftValue":"={{ $('Normalizacao').item.json.igName }}","rightValue":"={{ $('Notificamehub').item.json.accountOwner }}","operator":{"type":"string","operation":"notEquals"}},{"id":"ada76348-4462-4c4d-a5a0-3f71a347a9c7","leftValue":"={{ $('Normalizacao').item.json.igName }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2464,48],"id":"a7fc307e-826f-4eb7-85ae-86013b4bf8c1","name":"If - Message is not from me"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"4f1d50dc-feaf-43f6-aab0-77b78c7106ea","leftValue":"={{ $json.status }}","rightValue":"queued","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"14514587-a483-423a-a753-c18e644b1ba7","leftValue":"={{ $json.status }}","rightValue":"in_progress","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"6e4c5361-6cd1-4c5a-bd59-db4441963687","name":"If - Queued or In progress?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[3872,-16]},{"parameters":{},"id":"8beef11e-9a74-4791-9f6d-e719f979c5b5","name":"Queued Messages1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2912,224]},{"parameters":{"assignments":{"assignments":[{"id":"503f68f8-831b-4d46-98eb-299d99a5d8e5","name":"uuid","value":"={{ $('Airtable - Update RunID').item.json.fields.linkMeet.split('/').slice(-2, -1)[0] }}","type":"string"}]},"options":{}},"id":"630941f8-7b2c-4ed4-a986-169aa06a95ed","name":"Get uuid1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[5792,544]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update RunID').item.json.fields.thread_id_openai }}/runs/{{ $('Airtable - Update RunID').item.json.fields.last_Run }}/cancel   ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"f6921b57-1cc3-47ef-a764-f9c8d7b5537d","name":"Cancel a Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6128,1152],"credentials":null},{"parameters":{"content":"## Fluxo Principal","height":2773,"width":5581},"id":"2664dcc1-57df-4ada-8aed-b56d64ed74e3","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[1600,-688],"typeVersion":1},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblx92yORlGihE5Oy","mode":"list","cachedResultName":"Leads Instagram","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblx92yORlGihE5Oy"},"columns":{"mappingMode":"defineBelow","value":{"last_Run":"={{ $json.id }}","airtableID":"={{ $('Airtable - Search User in Leads').item.json.airtableID }}"},"matchingColumns":["airtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"airtableID","displayName":"airtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"igName","displayName":"igName","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"language","displayName":"language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"obs","displayName":"obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"bf8f267a-dd1e-4f1c-b743-5755e65aef31","name":"Airtable - Update RunID","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[3392,-16],"credentials":null},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update RunID').item.json.fields.thread_id_openai }}/runs/{{ $('Airtable - Update RunID').item.json.fields.last_Run }} ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"148aaef3-da72-40d4-bcb4-ba6da758bda5","name":"Get Run Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3648,-16],"credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"15bd43a9-2c70-4d83-aa49-f14e0a44f03e","name":"tool_calls","value":"={{ $json.required_action.submit_tool_outputs.tool_calls }}","type":"array"}]},"options":{}},"id":"1689e56b-1027-4d72-86d7-19bbdf4a8f6f","name":"Captura Tool Calls","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[4384,-16],"alwaysOutputData":false},{"parameters":{"fieldToSplitOut":"tool_calls","options":{"destinationFieldName":"properties"}},"id":"a5feffa9-c2be-4d0c-99ff-7e56aba7c174","name":"Split Out Tool Calls","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[4608,-16]},{"parameters":{"assignments":{"assignments":[{"id":"b5868dac-c776-4a8b-9e44-d5275d06d1c4","name":"arguments","value":"={{ $json.properties.function.arguments }}","type":"object"}]},"includeOtherFields":true,"options":{}},"id":"3e00f186-69b8-4869-a0f0-5e3463cf9dc7","name":"Separa Arguments","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[5088,0]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d6820d31-01fe-4999-a577-bc90bbe48c85","leftValue":"={{ $json.properties.function.name }}","rightValue":"get_user_data","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_user_data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"a97545de-ccbf-4863-b9e4-10c9b1a34860","leftValue":"={{ $json.properties.function.name }}","rightValue":"save_user_data","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"save_user_data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f957b409-80b1-4f0e-9da1-adae95dd3225","leftValue":"={{ $json.properties.function.name }}","rightValue":"appointment_booking","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"booking"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3f78382d-2114-4bfe-ba2b-a609e3abc5df","leftValue":"={{ $json.properties.function.name }}","rightValue":"cancel_booking","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancel_booking"}]},"options":{}},"id":"b334b87c-8537-4ef7-9ff6-72353d07241f","name":"Escolha da Tool Function","type":"n8n-nodes-base.switch","typeVersion":3,"position":[5312,32]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblx92yORlGihE5Oy","mode":"list","cachedResultName":"Leads Instagram","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblx92yORlGihE5Oy"},"columns":{"mappingMode":"defineBelow","value":{"last_Message":"=Data: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: {{ $('Pega a ultima mensagem OpenAI').item.json.data[0].content[0].text.value }}","concat_Messages":"={{ $('Airtable - Update RunID').item.json.fields.concat_Messages }}\n\nData: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: {{ $('Pega a ultima mensagem OpenAI').item.json.data[0].content[0].text.value }}","token_Usage_Total":"={{ Number($('Airtable - Update RunID').item.json.fields.token_Usage_Total || 0) + Number($('Get Run Status').item.json.usage.total_tokens || 0) }}","airtableID":"={{ $('Airtable - Update RunID').item.json.fields.airtableID }}"},"matchingColumns":["airtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"airtableID","displayName":"airtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"igName","displayName":"igName","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"language","displayName":"language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"obs","displayName":"obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"7996834a-74c8-4ebe-bb16-024700fbbd73","name":"Airtable - Update Text last_Message e concat_Message e Token Usage","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[5280,1184],"credentials":null,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"503f68f8-831b-4d46-98eb-299d99a5d8e5","name":"uuid","value":"={{ $('Airtable - Update RunID').item.json.fields.linkMeet.split('/').slice(-2, -1)[0] }}","type":"string"}]},"options":{}},"id":"accb8b94-20c3-475f-a28b-4cbb88d65a85","name":"Get uuid2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[5568,848]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Search User in Leads').item.json.thread_id_openai }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"user"},{"name":"content","value":"={{ $('Merge Messages').item.json.message }}"}]},"options":{}},"id":"4a86fb12-0609-4a62-a3be-18b7720e52d2","name":"Create Message OpenAI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,32],"credentials":null,"onError":"continueErrorOutput"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Search User in Leads').item.json.thread_id_openai }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"6fdabdc5-fb40-4c63-a3fe-2fa9b6fb70ff","name":"List Runs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1984,240],"credentials":null},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblx92yORlGihE5Oy","mode":"list","cachedResultName":"Leads Instagram","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblx92yORlGihE5Oy"},"columns":{"mappingMode":"defineBelow","value":{"concat_Messages":"={{ $('Airtable - Search User in Leads').item.json.concat_Messages }}\n\nData: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: {{ $('Normalizacao').item.json.igName }} - Message: {{ $('Merge Messages').item.json.message }} ","airtableID":"={{ $('Airtable - Search User in Leads').item.json.airtableID }}"},"matchingColumns":["airtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"airtableID","displayName":"airtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"igName","displayName":"igName","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"language","displayName":"language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"obs","displayName":"obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"abcfdbc6-3490-4149-9eb4-b5956343315d","name":"Airtable - Update concat_Message","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[2032,0],"credentials":null},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Search User in Leads').item.json.thread_id_openai }}/runs/{{ $('Airtable - Search User in Leads').item.json.last_Run }}/cancel     ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"ad02fd13-4707-4254-a994-16987377f80e","name":"Cancel a Run2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2192,240],"credentials":null},{"parameters":{"amount":10},"id":"18f7fa35-e7b0-47a7-854a-e00ad6834b82","name":"Wait 10s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2224,0],"webhookId":"1533d748-525c-4e0b-a82b-849a56d4a5b8"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update concat_Message').item.json.fields.thread_id_openai }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"b112cf96-8e76-4173-ad46-f9ec489a7b32","name":"List Messages","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2448,0],"credentials":null},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"396adb2d-4693-4395-bf0c-410c069cbaae","leftValue":"={{ $('Create Message OpenAI').item.json.id }}","rightValue":"={{ $json.data[0].id }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"a17aa45e-6e88-4deb-ad5c-112e82b5c35d","name":"If - Last message equal to first message - Fila de Mensagens","type":"n8n-nodes-base.if","typeVersion":2,"position":[2688,0]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update concat_Message').item.json.fields.thread_id_openai }}/runs    ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"={{ $('AI').item.json.openai_assistant_id }}"},{"name":"additional_instructions","value":"=Aqui estão algumas informações importantes que voce já tem do usuário:\n\nNome: {{ $('Airtable - Update concat_Message').item.json.fields.Name }}\n\nEmail: {{ $('Airtable - Update concat_Message').item.json.fields.Email }}\n\nTelefone: {{ $('Airtable - Update concat_Message').item.json.fields.Telefone }}\n\nEvento de Agendamento com nossos advogados: {{ $('Airtable - Update concat_Message').item.json.fields['Event Type Name'] }}\n\nLink para Cancelamento da Reunião Evento de Agendamento: {{ $('Airtable - Update concat_Message').item.json.fields.calendly_cancel_url }}\n\nLink para Reagendamento da Reunião Evento de Agendamento: {{ $('Airtable - Update concat_Message').item.json.fields.calendly_reschedule_url }}\n\nData e hora de agora: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }}  \n\nResponda sempre na língua do usuário: {{ $('Airtable - Update concat_Message').item.json.fields.Language }}"}]},"options":{}},"id":"68868344-73f1-42a6-ae0b-a78df33e3b67","name":"Run Assistant","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3040,-16],"alwaysOutputData":true,"retryOnFail":true,"credentials":null},{"parameters":{"amount":4},"id":"02a20d6f-b9ec-4304-98ae-8ee50a62a468","name":"Wait 4s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4048,224],"webhookId":"aa1b52d0-c977-4026-b078-23092a7ae25f"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cfb7aaf8-2c1a-43aa-ba9e-8b371d86f04d","leftValue":"={{ $('Get Run Status').last().json.status }}","rightValue":"requires_action","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"b27fec0a-9ace-476d-9d13-3e7eebfd67ae","name":"If - Requires Action?","type":"n8n-nodes-base.if","typeVersion":2,"position":[4112,0]},{"parameters":{"options":{"reset":"={{ $node[\"Executar Funções Tools\"].context[\"Done\"] }}"}},"id":"5c67cbf1-12ef-4bda-bb31-128e1eea4d00","name":"Executar Funções Tools","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4832,-16]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"6579432a-b8aa-4adc-ab86-da7f84bde973","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[5184,-416]},{"parameters":{"assignments":{"assignments":[{"id":"c5405552-2f77-4c16-9599-477bc72223e6","name":"output","value":"={{ $json.data }}","type":"string"}]},"options":{}},"id":"cf65aa9a-053e-4c18-9cd9-ddc55b17c5de","name":"Concatenar Output em string","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[5392,-416]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Get Run Status').item.json[\"thread_id\"] }}/runs/{{ $('Get Run Status').item.json[\"id\"] }}/submit_tool_outputs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"tool_outputs\": {{ Array.isArray($json.output) ? $json.output[$json.output.length - 1] : $json.output }}\n}","options":{}},"id":"97777649-4ff1-4433-82bd-8e30122190ae","name":"Insert Output","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5600,-368],"credentials":null,"onError":"continueErrorOutput"},{"parameters":{"base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblx92yORlGihE5Oy","mode":"list","cachedResultName":"Leads Instagram","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblx92yORlGihE5Oy"},"id":"={{ $('Airtable - Update RunID').item.json.airtableID }}","options":{}},"id":"4732d0ca-2906-4d0d-b05c-60935bce0657","name":"Airtable - Get User Data","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[5792,0],"credentials":null},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"tool_call_id\": \"{{ $('Separa Arguments').item.json['properties']['id'] }}\",\n  \"output\": \"name: {{ $json[\"Name\"] }} Telefone: {{ $json[\"Whatsapp\"] }} email: {{ $json[\"Email\"] }}\"\n}","options":{}},"id":"c25fef9f-df81-4f14-a3e2-c8b57c214bb3","name":"Tool Call ID - get_user_data","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[6048,80]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblx92yORlGihE5Oy","mode":"list","cachedResultName":"Leads Instagram","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblx92yORlGihE5Oy"},"columns":{"mappingMode":"defineBelow","value":{"airtableID":"={{ $('Airtable - Update RunID').item.json.airtableID }}","name":"={{ $json.arguments.name }}","email":"={{ $json.arguments.email }}","phone":"={{ $json.arguments.phone }}"},"matchingColumns":["airtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"airtableID","displayName":"airtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"igName","displayName":"igName","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"language","displayName":"language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"obs","displayName":"obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"bf76f512-169d-4196-afaf-6fb0ab5ba677","name":"Airtable - Save User Answers","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[5792,304],"credentials":null},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"tool_call_id\": \"{{ $('Separa Arguments').item.json['properties']['id'] }}\",\n  \"output\": \"Cadastro da resposta realizado com sucesso.\"\n}","options":{}},"id":"f3007c2a-afea-448b-9917-d4fe37de94b0","name":"Tool Call ID - save_user_data","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[6032,304]},{"parameters":{"method":"POST","url":"=https://api.calendly.com/scheduled_events/{{ $json.uuid }}/cancellation","authentication":"predefinedCredentialType","nodeCredentialType":"calendlyApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"reason\": \"Appointment canceled by the user\"\n}","options":{}},"id":"7e6ea622-9e62-428a-99a9-5b32a931974b","name":"Cancel Event","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6032,544],"credentials":null},{"parameters":{"resource":"messages-api","instanceName":"cl_bot","remoteJid":"+351913095597","messageText":"=Cancele Reunião Manualmente. {{ $('Normalizacao').item.json.user_name }} - Whatsapp {{ $('Normalizacao').item.json.user_phone }}. linkUrl: {{ $('Airtable - Update RunID').item.json.fields.calendly_cancel_url }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6480,544],"id":"9a98e940-3e3c-448c-9657-e2c75054e108","name":"Envia mensagem Zap - Cancelar reunião","credentials":null},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"tool_call_id\": \"{{ $('Separa Arguments').item.json.properties.id }}\",\n  \"output\": \"Reunião cancelada com sucesso.\"\n} ","options":{}},"id":"9b25a721-8371-4163-af68-e50e34a2b1c2","name":"Tool Call ID - cancel_booking","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[6688,544]},{"parameters":{"url":"=https://api.calendly.com/scheduled_events/{{ $json.uuid }}","authentication":"predefinedCredentialType","nodeCredentialType":"calendlyApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5744,848],"id":"2d3f9de8-97aa-42b5-b77f-80cd830ba768","name":"Get Event Data","credentials":null},{"parameters":{"url":"https://api.calendly.com/event_type_available_times","authentication":"predefinedCredentialType","nodeCredentialType":"calendlyApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"start_time","value":"={{ new Date(Date.now() + 1 * 24 * 60 * 60 * 1000).toISOString().replace('.000Z', '.000000Z') }}"},{"name":"end_time","value":"={{ new Date(Date.now() + 6 * 24 * 60 * 60 * 1000).toISOString().replace('.000Z', '.000000Z') }}\n"},{"name":"event_type","value":"={{ $json.resource.event_type }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"1ccdddcd-ed33-4162-97ca-f5453366efc1","name":"Get Event Availability","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5920,848],"credentials":null,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const data = items[0].json.collection;\nconst low_availability_threshold = 1;\nconst availableTimes = data.slice(0, low_availability_threshold);\n\nreturn availableTimes.map(time => ({ json: time }));\n"},"id":"9617357c-06df-40eb-b792-421c758db8b2","name":"Get First Option","type":"n8n-nodes-base.code","typeVersion":2,"position":[6128,832]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"output\": {\n    \"date\": \"{{ new Date($json.start_time).toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric', timeZone: 'Europe/Lisbon' }) }}\",\n    \"time\": \"{{ new Date($json.start_time).toLocaleTimeString('en-GB', { hour: '2-digit', minute: '2-digit', hour12: false, timeZone: 'Europe/Lisbon' }) }}\",\n    \"link\": \"{{ $json.scheduling_url }}\"\n  }\n}","options":{}},"id":"1e2f1e7f-8e32-42ed-bd91-08e29b1f36f9","name":"Output appointment_booking","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[6304,832]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"output"}]},"options":{"outputFormat":"singleItem"}},"id":"400798b3-c4a4-47c2-9d09-8a9966e70946","name":"Summarize Date and Time","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[6480,832]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"tool_call_id\": \"{{ $('Separa Arguments').item.json.properties.id }}\",\n  \"output\": {{ $json.concatenated_output }}\n}","options":{}},"id":"1438c8de-f9a3-4ca7-b8de-7089efe0e5f5","name":"Tool Call ID - appointment_booking","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[6704,880]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update RunID').item.json.fields.thread_id_openai }}/messages       ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"assistant"},{"name":"content","value":"=Sender: Assistant - Message: Agende a reunião no link: https://calendly.com/telecalls/casas-de-lisboa"}]},"options":{}},"id":"e21e05aa-43d4-4419-b054-cc3d21792479","name":"Create Message OpenAI Link Agendamento","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6512,1152],"credentials":null},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblx92yORlGihE5Oy","mode":"list","cachedResultName":"Leads Instagram","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblx92yORlGihE5Oy"},"columns":{"mappingMode":"defineBelow","value":{"concat_Messages":"={{ $('Airtable - Update RunID').item.json.concat_Messages }}\n\nData: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: Agende a reunião no link: https://calendly.com/telecalls/casas-de-lisboa","last_Message":"=Data: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: Agende a reunião no link: https://calendly.com/telecalls/casas-de-lisboa","airtableID":"={{ $('Airtable - Update RunID').item.json.airtableID }}"},"matchingColumns":["airtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"airtableID","displayName":"airtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"igName","displayName":"igName","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"language","displayName":"language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"obs","displayName":"obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"4e56affb-56e3-45ac-94d4-3c5ba16eef54","name":"Airtable - Update New Message Zap Link Agendamento","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[6704,1152],"credentials":null},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e0051e94-14ac-4315-bff0-f218625bf2c1","leftValue":"={{ $('Get Run Status').last().json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"8dcf0331-73d1-4a07-a4b6-83850d0a379e","leftValue":"={{ $('Get Run Status').last().json.status }}","rightValue":"expired","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expired"}]},"options":{}},"id":"52926c5f-b5bb-49e4-a8e6-72d7dc8571cc","name":"Switch - Run Status Completed","type":"n8n-nodes-base.switch","typeVersion":3,"position":[4320,1488],"alwaysOutputData":true},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update RunID').item.json.fields.thread_id_openai }}/messages?order=desc  ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"92c808ce-98e2-4f42-8eca-886b84794049","name":"Pega a ultima mensagem OpenAI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4480,1312],"credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"b85d717a-4655-4c22-9d0e-74a5b659b128","name":"msgs","value":"={{ $json.data[0].content[0].text.value }}","type":"string"}]},"options":{}},"id":"f7b52227-5dca-4af7-965e-e977400131fd","name":"Msgs","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[4672,1312]},{"parameters":{"jsCode":"// Função para dividir o texto em mensagens com base em duas quebras de linha consecutivas\nfunction splitTextIntoMessages(text) {\n    if (typeof text !== 'string') {\n        console.log('Invalid input: text is not a string', text);\n        throw new Error('Invalid input: text must be a string');\n    }\n    return text.split('\\n\\n').map(part => part.trim()).filter(part => part.length > 0).map(part => {\n        return { json: { message: part } };\n    });\n}\n\n// Log the input data for debugging\nconsole.log('Input items:', JSON.stringify(items, null, 2));\n\n// Check if msgs_output exists and is a string\nconst inputText = items[0]?.json?.msgs;\n\nif (typeof inputText !== 'string') {\n    console.log('Invalid input: items[0].json.msgs_output is not a valid string', inputText);\n    throw new Error('Invalid input: items[0].json.msgs_output is not a valid string');\n}\n\n// Split the text into messages\nconst messages = splitTextIntoMessages(inputText);\n\n// Return the messages as n8n items\nreturn messages;\n"},"id":"d7ad3f0b-dfe5-4644-8696-a6d98f700b65","name":"Quebra Mensagem","type":"n8n-nodes-base.code","typeVersion":2,"position":[4864,1312]},{"parameters":{"options":{}},"id":"9f64c8e6-14c1-454e-973a-dfef3cf4e6c0","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5040,1312]},{"parameters":{"resource":"messages-api","instanceName":"cl_bot","remoteJid":"=+351913095597","messageText":"Erro no último nó do Airtable - Fluxo CLImob IG Lead Qualification","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[5520,1264],"id":"e3a3cec7-c80f-416d-bdbe-82b3e7213ec1","name":"Envia mensagem Zap de erro1","credentials":null},{"parameters":{"method":"POST","url":"={{ $('Notificamehub').item.json.baseUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Token","value":"={{ $('Notificamehub').item.json.apiTokenAccount }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"{{ $('Notificamehub').item.json.*** }}\",\n  \"to\": \"{{ $('Normalizacao').item.json.fromidDestinatario }}\",\n  \"contents\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"Reunião Cancelada\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6272,544],"id":"3962fef9-e455-4b07-a8b1-f9f6c9001ada","name":"Enviar Texto DM2"},{"parameters":{"method":"POST","url":"={{ $('Notificamehub').item.json.baseUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Token","value":"={{ $('Notificamehub').item.json.apiTokenAccount }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"{{ $('Notificamehub').item.json.*** }}\",\n  \"to\": \"{{ $('Normalizacao').item.json.fromidDestinatario }}\",\n  \"contents\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"Agende a reunião no link: https://calendly.com/telecalls/casas-de-lisboa\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6304,1152],"id":"2fab9bf1-2fb8-49c9-8ee1-63b0056ee0d8","name":"Enviar Texto DM3"},{"parameters":{"method":"POST","url":"={{ $('Notificamehub').item.json.baseUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Token","value":"={{ $('Notificamehub').item.json.apiTokenAccount }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"{{ $('Notificamehub').item.json.*** }}\",\n  \"to\": \"{{ $('Normalizacao').item.json.fromidDestinatario }}\",\n  \"contents\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"{{ $json.message }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5280,1424],"id":"f5b697e9-107a-4a5f-bdbd-847446c6975a","name":"Enviar Texto DM4"},{"parameters":{"method":"POST","url":"={{ $('Notificamehub').item.json.baseUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Token","value":"={{ $('Notificamehub').item.json.apiTokenAccount }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"{{ $('Notificamehub').item.json.*** }}\",\n  \"to\": \"{{ $('Normalizacao').item.json.fromidDestinatario }}\",\n  \"contents\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"Tivemos um problema ao processar sua mensagem. Por favor repita ou aguarde um pouco.\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4480,1648],"id":"21a4930c-9b94-422c-a07a-5d9d082695f8","name":"Enviar Texto DM5"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[592,-256],"id":"8e2de07f-ce61-4928-8023-98e41481ac01","name":"Wait 5s","webhookId":"079278e9-3843-4b0f-8b2f-f5e4fb83f547"},{"parameters":{"resource":"instagram","channelId":"={{ $('Normalizacao').item.json.hub***\".\")[1] }}","recipientId":"={{ $('Normalizacao').item.json.fromidDestinatario }}","message":"O que você quer?","requestOptions":{}},"type":"n8n-nodes-notificame-hub.notificaMeHub","typeVersion":1,"position":[784,-256],"id":"da445904-9325-4dee-9762-bc6e8060fc93","name":"Enviar Texto DM1","credentials":null},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"0943353c-2121-4ae5-984c-c5648f26ba7a","name":"Cria thread2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1264,-384],"credentials":null},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[160,768],"id":"aed463ae-bf2b-4a2e-b251-73f6e13bfc47","name":"No Operation, do nothing"},{"parameters":{"resource":"instagram","channelId":"={{ $('Normalizacao').item.json.hub***\".\")[1] }}","recipientId":"={{ $('Normalizacao').item.json.fromidDestinatario }}","message":"Olá, sou o Max, assistente virtual da imobiliária Casas de Lisboa, especialista no mercado imobiliário de Portugal.","requestOptions":{}},"type":"n8n-nodes-notificame-hub.notificaMeHub","typeVersion":1,"position":[-1056,48],"id":"02152aaa-6064-41c9-88e3-9494f79c4cf7","name":"Enviar Texto DM","credentials":null},{"parameters":{"url":"={{ $('Normalizacao').item.json.fileUrl }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,480],"id":"8c75067a-c8de-4ab8-bebe-1a3ffdd40b66","name":"Download Audio"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[432,480],"id":"9429f882-2932-40ef-bab6-56c66c429508","name":"OpenAI1","credentials":null},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblx92yORlGihE5Oy","mode":"list","cachedResultName":"Leads Instagram","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblx92yORlGihE5Oy"},"filterByFormula":"={{ '{igName} = \"' + $('Normalizacao').item.json.igName + '\"' }}","returnAll":false,"limit":1,"options":{},"sort":{"property":[{"field":"Created","direction":"desc"}]}},"id":"b11aeb7f-7f6c-4ed3-b845-6d173d48f6f9","name":"Airtable - Search User in Leads","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[1424,32],"alwaysOutputData":true,"credentials":null,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"beddbea7-a1e9-48a2-84fb-7d843eded789","name":"message","value":"={{ $('Normalizacao').item.json.igContentTextMessage }}","type":"string"}]},"options":{}},"id":"ea428af8-546f-454b-aa46-9eb626891a33","name":"Set Message From Text","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[672,0]},{"parameters":{"assignments":{"assignments":[{"id":"beddbea7-a1e9-48a2-84fb-7d843eded789","name":"message","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"ee9da6b1-bff7-4368-8f7b-52bc3560991d","name":"Set Message From Audio","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[640,480]},{"parameters":{},"id":"a50ac0c1-871c-4c57-bfde-d1e7b00f79bb","name":"Merge Messages","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1104,32]},{"parameters":{"url":"={{ $('Normalizacao').item.json.fileUrl }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,208],"id":"268d5f9e-14d9-4111-9d65-f9446f6e86a3","name":"Download Image"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"What's in this image? Explain it in portuguese language.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[432,208],"id":"08f57ccf-2582-436a-9f4b-a34caa517b12","name":"OpenAI2","credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"beddbea7-a1e9-48a2-84fb-7d843eded789","name":"message","value":"=O usuário enviou uma imagem com a seguinte descrição: {{ $json.content }}","type":"string"}]},"options":{}},"id":"78cc82d3-4737-4a55-b6f2-a534dedd84b3","name":"Set Message From Image","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[672,208]},{"parameters":{"content":"## Tratamento de Tipos de Mensagens","height":1488,"width":1556},"id":"260552bf-aaf2-41e8-b8c1-8c0c197050f4","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-176,-528],"typeVersion":1}],"connections":{"Webhook":{"main":[[{"node":"AI","type":"main","index":0}]]},"AI":{"main":[[{"node":"Notificamehub","type":"main","index":0}]]},"Notificamehub":{"main":[[{"node":"Normalizacao","type":"main","index":0}]]},"Normalizacao":{"main":[[{"node":"If - Message is not from me","type":"main","index":0}]]},"Switch":{"main":[[{"node":"OpenAI","type":"main","index":0}],[{"node":"Set Message From Text","type":"main","index":0}],[{"node":"Download Image","type":"main","index":0}],[{"node":"Download Audio","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If - User is in Leads":{"main":[[{"node":"If - No Thread","type":"main","index":0}],[{"node":"Cria thread1","type":"main","index":0}]]},"Cria thread1":{"main":[[{"node":"Enviar Texto DM","type":"main","index":0}]]},"Airtable - Create User":{"main":[[{"node":"Switch","type":"main","index":0}]]},"ThreadID":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Airtable - Update ThreadID":{"main":[[{"node":"Merge Thread","type":"main","index":0}]]},"Merge Thread":{"main":[[{"node":"ThreadID","type":"main","index":0}]]},"If - No Thread":{"main":[[{"node":"Cria thread2","type":"main","index":0}],[{"node":"Merge Thread","type":"main","index":1}]]},"Airtable - Search User in Leads0":{"main":[[{"node":"If - User is in Leads","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Enviar Comment1","type":"main","index":0}]]},"If - Message is not from me":{"main":[[{"node":"Airtable - Search User in Leads0","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"If - Queued or In progress?1":{"main":[[{"node":"Wait 4s","type":"main","index":0}],[{"node":"If - Requires Action?","type":"main","index":0}]]},"Get uuid1":{"main":[[{"node":"Cancel Event","type":"main","index":0}]]},"Cancel a Run":{"main":[[{"node":"Enviar Texto DM3","type":"main","index":0}]]},"Airtable - Update RunID":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Get Run Status":{"main":[[{"node":"If - Queued or In progress?1","type":"main","index":0}]]},"Captura Tool Calls":{"main":[[{"node":"Split Out Tool Calls","type":"main","index":0}]]},"Split Out Tool Calls":{"main":[[{"node":"Executar Funções Tools","type":"main","index":0}]]},"Separa Arguments":{"main":[[{"node":"Escolha da Tool Function","type":"main","index":0}]]},"Escolha da Tool Function":{"main":[[{"node":"Airtable - Get User Data","type":"main","index":0}],[{"node":"Airtable - Save User Answers","type":"main","index":0}],[{"node":"Get uuid2","type":"main","index":0}],[{"node":"Get uuid1","type":"main","index":0}]]},"Airtable - Update Text last_Message e concat_Message e Token Usage":{"main":[[],[{"node":"Envia mensagem Zap de erro1","type":"main","index":0}]]},"Get uuid2":{"main":[[{"node":"Get Event Data","type":"main","index":0}]]},"Create Message OpenAI":{"main":[[{"node":"Airtable - Update concat_Message","type":"main","index":0}],[{"node":"List Runs","type":"main","index":0}]]},"List Runs":{"main":[[{"node":"Cancel a Run2","type":"main","index":0}]]},"Airtable - Update concat_Message":{"main":[[{"node":"Wait 10s","type":"main","index":0}]]},"Cancel a Run2":{"main":[[{"node":"Create Message OpenAI","type":"main","index":0}]]},"Wait 10s":{"main":[[{"node":"List Messages","type":"main","index":0}]]},"List Messages":{"main":[[{"node":"If - Last message equal to first message - Fila de Mensagens","type":"main","index":0}]]},"If - Last message equal to first message - Fila de Mensagens":{"main":[[{"node":"Run Assistant","type":"main","index":0}],[{"node":"Queued Messages1","type":"main","index":0}]]},"Run Assistant":{"main":[[{"node":"Airtable - Update RunID","type":"main","index":0}]]},"Wait 4s":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"If - Requires Action?":{"main":[[{"node":"Captura Tool Calls","type":"main","index":0}],[{"node":"Switch - Run Status Completed","type":"main","index":0}]]},"Executar Funções Tools":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Separa Arguments","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Concatenar Output em string","type":"main","index":0}]]},"Concatenar Output em string":{"main":[[{"node":"Insert Output","type":"main","index":0}]]},"Insert Output":{"main":[[{"node":"Get Run Status","type":"main","index":0}],[{"node":"Get Run Status","type":"main","index":0}]]},"Airtable - Get User Data":{"main":[[{"node":"Tool Call ID - get_user_data","type":"main","index":0}]]},"Tool Call ID - get_user_data":{"main":[[{"node":"Executar Funções Tools","type":"main","index":0}]]},"Airtable - Save User Answers":{"main":[[{"node":"Tool Call ID - save_user_data","type":"main","index":0}]]},"Tool Call ID - save_user_data":{"main":[[{"node":"Executar Funções Tools","type":"main","index":0}]]},"Cancel Event":{"main":[[{"node":"Enviar Texto DM2","type":"main","index":0}],[]]},"Envia mensagem Zap - Cancelar reunião":{"main":[[{"node":"Tool Call ID - cancel_booking","type":"main","index":0}]]},"Tool Call ID - cancel_booking":{"main":[[{"node":"Executar Funções Tools","type":"main","index":0}]]},"Get Event Data":{"main":[[{"node":"Get Event Availability","type":"main","index":0}]]},"Get Event Availability":{"main":[[{"node":"Get First Option","type":"main","index":0}],[{"node":"Cancel a Run","type":"main","index":0}]]},"Get First Option":{"main":[[{"node":"Output appointment_booking","type":"main","index":0}]]},"Output appointment_booking":{"main":[[{"node":"Summarize Date and Time","type":"main","index":0}]]},"Summarize Date and Time":{"main":[[{"node":"Tool Call ID - appointment_booking","type":"main","index":0}]]},"Tool Call ID - appointment_booking":{"main":[[{"node":"Executar Funções Tools","type":"main","index":0}]]},"Create Message OpenAI Link Agendamento":{"main":[[{"node":"Airtable - Update New Message Zap Link Agendamento","type":"main","index":0}]]},"Switch - Run Status Completed":{"main":[[{"node":"Pega a ultima mensagem OpenAI","type":"main","index":0}],[{"node":"Enviar Texto DM5","type":"main","index":0}]]},"Pega a ultima mensagem OpenAI":{"main":[[{"node":"Msgs","type":"main","index":0}]]},"Msgs":{"main":[[{"node":"Quebra Mensagem","type":"main","index":0}]]},"Quebra Mensagem":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Airtable - Update Text last_Message e concat_Message e Token Usage","type":"main","index":0}],[{"node":"Enviar Texto DM4","type":"main","index":0}]]},"Enviar Texto DM2":{"main":[[{"node":"Envia mensagem Zap - Cancelar reunião","type":"main","index":0}]]},"Enviar Texto DM3":{"main":[[{"node":"Create Message OpenAI Link Agendamento","type":"main","index":0}]]},"Enviar Texto DM4":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Enviar Comment1":{"main":[[{"node":"Wait 5s","type":"main","index":0}]]},"Wait 5s":{"main":[[{"node":"Enviar Texto DM1","type":"main","index":0}]]},"Cria thread2":{"main":[[{"node":"Airtable - Update ThreadID","type":"main","index":0}]]},"Enviar Texto DM":{"main":[[{"node":"Airtable - Create User","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Set Message From Audio","type":"main","index":0}]]},"Airtable - Search User in Leads":{"main":[[{"node":"Create Message OpenAI","type":"main","index":0}]]},"Set Message From Text":{"main":[[{"node":"Merge Messages","type":"main","index":0}]]},"Set Message From Audio":{"main":[[{"node":"Merge Messages","type":"main","index":1}]]},"Merge Messages":{"main":[[{"node":"Airtable - Search User in Leads","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Set Message From Image","type":"main","index":0}]]},"Set Message From Image":{"main":[[{"node":"Merge Messages","type":"main","index":1}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","executionTimeout":1200},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhooksoracle.coletiv.me","content-length":"1307","accept":"*/*","accept-encoding":"deflate, gzip, br, zstd","content-type":"application/json","x-forwarded-for":"44.221.218.64","x-forwarded-host":"webhooksoracle.coletiv.me","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik_traefik.1","x-real-ip":"44.221.218.64"},"params":{},"query":{"hub_access_token":"bbab379a-06f8-11f0-998a-02106e640295.78daa5c9-ae21-4465-80a1-5b3f19a63430"},"body":{"type":"MESSAGE","id":"6a458ff2-aabd-462e-abe9-18b17679104a","timestamp":"2025-04-03 12:30:04 am","subscriptionId":"78daa5c9-ae21-4465-80a1-5b3f19a63430","providerMessageId":"dGg3ZzQwYnh3cFMwcWl2VDRFb0VDVWZ3TnFOVXRndTVqc2hDWFhqQjNGRUlJd0FIN09RSTRwdVBwSHF2VkE4OFhSOGZ5cE1hYUVZUFhOa1BTVzNKSGxXcUlRY0lNbFlWVDlUdDJnWFlUNmRzdjBWNmtxM21PQXNCazMrSTdZQWlQZkYxRUlkcmo3VXpmZUp4NkJwckkvUDllL052eFZPRFdnQTI0YnRTYTBVVllyUnQzNEFQQmpYQzRkVXdqdXZ5MXVZNkswc0oxTGxTeTVMUDhXN0pQd2VXVWdqSnUyU0I5dXg3dzRmdm93TT0=","channel":"instagram","direction":"IN","message":{"id":"6a458ff2-aabd-462e-abe9-18b17679104a","from":"6382800985169353","to":"78daa5c9-ae21-4465-80a1-5b3f19a63430","direction":"IN","channel":"instagram","visitor":{"name":"telemedbrasil","firstName":"Telemedbrasil","lastName":"","picture":"https://scontent-iad3-2.cdninstagram.com/v/t51.2885-19/248763953_570105434270761_8555983686928813197_n.jpg?stp=dst-jpg_s206x206_tt6&_nc_cat=100&ccb=1-7&_nc_sid=bf7eb4&_nc_ohc=_h8wwWa7RcAQ7kNvgHeZscC&_nc_oc=AdkQYARt0niPesWji7xi5USABuFoG8Jd78Po9o0rrWAzkBt2E-ku3-sy1txF3LytFcU&_nc_zt=24&_nc_ht=scontent-iad3-2.cdninstagram.com&edm=ALmAK4EEAAAA&oh=00_AYHx7gClXQD2aRIeoHBNCxc-UkP4WfN54Ua7mg8h_cxGEg&oe=67F026EF"},"contents":[{"type":"text","text":"Quero comprar uma casa em Cascais"}],"timestamp":"2025-04-03 12:30:04 am"}},"webhookUrl":"https://webhooksoracle.coletiv.me/webhook/messageIGNunoCF","executionMode":"production"}}]},"versionId":"f5194888-7820-4de7-b0b4-a9ac20406949","triggerCount":1,"shared":[{"updatedAt":"2025-03-25T15:38:26.316Z","createdAt":"2025-03-25T15:38:26.316Z","role":"workflow:owner","workflowId":"9cYQn6FZTZCevNYj","projectId":"LSMTPZdkzijhKOW0"}],"tags":[]}