climob-zap-lead-qualification-1p6JCFCNCbWLU7LX.json
{"updatedAt":"2025-12-27T17:59:10.846Z","createdAt":"2025-02-25T14:05:15.025Z","id":"1p6JCFCNCbWLU7LX","name":"CLImob Zap Lead Qualification","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"c9521597-3e54-43f1-b90d-9d2d8872cb2b","name":"threadIDVariable","value":"={{ $json.thread_id_openai }}","type":"string"}]},"options":{}},"id":"50142a96-fe2f-4c98-a0af-c7f33fbb63c6","name":"ThreadID","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2272,4608],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"137c0347-2f62-4239-946f-98fb99b00b90","leftValue":"={{ String($('RabbitMQ Trigger').item.json.content.body.data.key.remoteJid).toLowerCase() }}","rightValue":"g.us","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"d60b3644-6f7f-47a2-8df8-cc32d1ffeaa5","name":"If - Is Group","type":"n8n-nodes-base.if","typeVersion":2,"position":[-7168,4624]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblag7S42K0GZhAWB","mode":"list","cachedResultName":"Leads Clientes (Calendly)","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB"},"filterByFormula":"=RIGHT({Telefone}, 8) = {{ $('Normalizacao').item.json.user_phone.slice(-8) }}","returnAll":false,"limit":1,"options":{},"sort":{"property":[{"field":"Created","direction":"desc"}]}},"id":"440b119f-00f9-4476-9076-e707501cc88f","name":"Airtable - Search User in Leads","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-4432,4656],"alwaysOutputData":true,"credentials":null,"onError":"continueRegularOutput"},{"parameters":{},"id":"d94c8827-f9ca-44bd-bbee-b7cc7f2aa3b9","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2656,5520]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblag7S42K0GZhAWB","mode":"list","cachedResultName":"Leads Clientes (Calendly)","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB"},"columns":{"mappingMode":"defineBelow","value":{"off_Bot":false,"Airtable ID ":"={{ $('Airtable - Search User in Leads0').item.json['Airtable ID '] }}"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Enviar Proposta?","displayName":"Enviar Proposta?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cliente?","displayName":"Cliente?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Cliente de quem?","displayName":"Cliente de quem?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Emails","displayName":"Emails","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Qualification Calls","displayName":"Qualification Calls","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Status (from Qualification Calls)","displayName":"Status (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Summary (from Qualification Calls)","displayName":"Summary (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Recording_url (from Qualification Calls)","displayName":"Recording_url (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":true},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"6b0bd09c-dd35-48aa-93c3-4376b6a4c05f","name":"Airtable - Update Bot ON Leads","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-6096,4208],"credentials":null,"onError":"continueErrorOutput"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblag7S42K0GZhAWB","mode":"list","cachedResultName":"Leads Clientes (Calendly)","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB"},"columns":{"mappingMode":"defineBelow","value":{"off_Bot":true,"Airtable ID ":"={{ $('Airtable - Search User in Leads0').item.json['Airtable ID '] }}"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Enviar Proposta?","displayName":"Enviar Proposta?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cliente?","displayName":"Cliente?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Cliente de quem?","displayName":"Cliente de quem?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Emails","displayName":"Emails","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Qualification Calls","displayName":"Qualification Calls","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Status (from Qualification Calls)","displayName":"Status (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Summary (from Qualification Calls)","displayName":"Summary (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Recording_url (from Qualification Calls)","displayName":"Recording_url (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":true},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"e077e934-446c-4096-a77d-c06273d7c1dd","name":"Airtable - Update Bot OFF Leads","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-6096,4448],"credentials":null,"onError":"continueErrorOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Normalizacao').item.json.message_object_textmessage }}","rightValue":"#on","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"#on"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"dcb23115-2ee0-4eb5-94f6-c6b3bc0e3ceb","leftValue":"={{ $('Normalizacao').item.json.message_object_textmessage }}","rightValue":"#off","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"#off"}]},"options":{}},"id":"fd2cec3f-3d2f-4d5b-ad9a-a68958ea6800","name":"Verifica Comando","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-6320,4320]},{"parameters":{"content":"## Ativar/Desativar Bot","height":732.4140750421333,"width":805.1119559794586},"id":"078881b5-3569-4126-8cb5-ec65cc0523aa","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-6656,4112],"typeVersion":1},{"parameters":{"content":"## Gerir Evento","height":524,"width":1045},"id":"032b2a94-a866-460c-9b3a-e98b7ed8adfa","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-4496,4528],"typeVersion":1},{"parameters":{"content":"## Usuário fora das listas - Acionar Chatbase","height":732,"width":1599},"id":"16a08834-1691-433d-8564-747ee9d7559b","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-3280,5024],"typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"bc590144-e352-4b1b-9530-1541496352d8","leftValue":"={{ $('Airtable - Search User in Leads').item.json.off_Bot }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c224ae8f-8a13-4ec2-ac6b-cc25f607de80","name":"If - Off-Bot1","type":"n8n-nodes-base.if","typeVersion":2,"position":[-3888,4880]},{"parameters":{},"id":"a24d2ba7-0f31-446c-afab-d2fde2fdcc6f","name":"No Operation, do nothing6","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3696,4800]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"4f1d50dc-feaf-43f6-aab0-77b78c7106ea","leftValue":"={{ $json.status }}","rightValue":"queued","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"14514587-a483-423a-a753-c18e644b1ba7","leftValue":"={{ $json.status }}","rightValue":"in_progress","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"1f4a0eac-90b5-431b-b37a-925d9a7586c9","name":"If - Queued or In progress?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[1072,4608]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"bc590144-e352-4b1b-9530-1541496352d8","leftValue":"={{ $('Airtable - Update concat_Message').item.json.off_Bot }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"79a32cbd-36aa-4c06-9b06-511ae6621dd7","name":"If - Off-Bot2","type":"n8n-nodes-base.if","typeVersion":2,"position":[112,4592]},{"parameters":{},"id":"22031d1c-ef20-425e-914c-bba7103009d4","name":"Queued Messages1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[112,4832]},{"parameters":{},"id":"662ebd09-f153-4c38-85a4-dac576c526f5","name":"No Operation, do nothing4","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1040,3920]},{"parameters":{},"id":"78528204-4c49-4fec-a6d6-2d3438b5178c","name":"No Operation, do nothing7","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[384,4384]},{"parameters":{"assignments":{"assignments":[{"id":"503f68f8-831b-4d46-98eb-299d99a5d8e5","name":"uuid","value":"={{ $('Airtable - Update RunID').item.json.fields.linkMeet.split('/').slice(-2, -1)[0] }}","type":"string"}]},"options":{}},"id":"67f00fee-846f-4909-8950-eb6e3fd86ece","name":"Get uuid1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2992,5152]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update RunID').item.json.fields.thread_id_openai }}/runs/{{ $('Airtable - Update RunID').item.json.fields.last_Run }}/cancel   ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"e516f42a-e19b-48af-a970-ea9622f1e05f","name":"Cancel a Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3328,5744],"credentials":null},{"parameters":{"content":"## Fluxo Principal","height":2773,"width":5581},"id":"84f79974-0ba4-4450-ba10-c759f8be84a5","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[-1344,3808],"typeVersion":1},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblag7S42K0GZhAWB","mode":"list","cachedResultName":"Leads Clientes (Calendly)","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB"},"columns":{"mappingMode":"defineBelow","value":{"last_Run":"={{ $json.id }}","Airtable ID ":"={{ $('Airtable - Update concat_Message').item.json.fields['Airtable ID '] }}"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Enviar Proposta?","displayName":"Enviar Proposta?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cliente?","displayName":"Cliente?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Cliente de quem?","displayName":"Cliente de quem?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Emails","displayName":"Emails","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Qualification Calls","displayName":"Qualification Calls","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Status (from Qualification Calls)","displayName":"Status (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Summary (from Qualification Calls)","displayName":"Summary (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Recording_url (from Qualification Calls)","displayName":"Recording_url (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"6a702f4d-cd79-43ce-b72f-2ba4f0cb0efd","name":"Airtable - Update RunID","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[624,4608],"credentials":null},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update RunID').item.json.fields.thread_id_openai }}/runs/{{ $('Airtable - Update RunID').item.json.fields.last_Run }} ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"42a3ca90-6999-41ca-b3c9-aeb70adcd6c7","name":"Get Run Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[848,4608],"credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"15bd43a9-2c70-4d83-aa49-f14e0a44f03e","name":"tool_calls","value":"={{ $json.required_action.submit_tool_outputs.tool_calls }}","type":"array"}]},"options":{}},"id":"fcec673e-4a0e-41b4-ad5e-a4f945b1fe10","name":"Captura Tool Calls","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1584,4608],"alwaysOutputData":false},{"parameters":{"fieldToSplitOut":"tool_calls","options":{"destinationFieldName":"properties"}},"id":"ebd1a6fc-0b06-4ef7-a90d-6f1143abe0fd","name":"Split Out Tool Calls","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1808,4608]},{"parameters":{"assignments":{"assignments":[{"id":"b5868dac-c776-4a8b-9e44-d5275d06d1c4","name":"arguments","value":"={{ $json.properties.function.arguments }}","type":"object"}]},"includeOtherFields":true,"options":{}},"id":"6d08ea22-10ae-4288-b569-b9a82398bd1a","name":"Separa Arguments","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2288,4624]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d6820d31-01fe-4999-a577-bc90bbe48c85","leftValue":"={{ $json.properties.function.name }}","rightValue":"get_user_data","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_user_data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"a97545de-ccbf-4863-b9e4-10c9b1a34860","leftValue":"={{ $json.properties.function.name }}","rightValue":"save_user_data","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"save_user_data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f957b409-80b1-4f0e-9da1-adae95dd3225","leftValue":"={{ $json.properties.function.name }}","rightValue":"appointment_booking","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"booking"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3f78382d-2114-4bfe-ba2b-a609e3abc5df","leftValue":"={{ $json.properties.function.name }}","rightValue":"cancel_booking","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancel_booking"}]},"options":{}},"id":"af855c1e-38de-4611-91c4-a0fab4d07637","name":"Escolha da Tool Function","type":"n8n-nodes-base.switch","typeVersion":3,"position":[2512,4624]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblag7S42K0GZhAWB","mode":"list","cachedResultName":"Leads Clientes (Calendly)","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB"},"columns":{"mappingMode":"defineBelow","value":{"Airtable ID ":"={{ $('Airtable - Update RunID').item.json.fields['Airtable ID '] }}","last_Message":"=Data: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: {{ $('Pega a ultima mensagem OpenAI').item.json.data[0].content[0].text.value }}","concat_Messages":"={{ $('Airtable - Update RunID').item.json.fields.concat_Messages }}\n\nData: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: {{ $('Pega a ultima mensagem OpenAI').item.json.data[0].content[0].text.value }}","token_Usage_Total":"={{ $('Airtable - Update RunID').item.json.fields.token_Usage_Total + $('Get Run Status').item.json.usage.total_tokens }}"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Enviar Proposta?","displayName":"Enviar Proposta?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cliente?","displayName":"Cliente?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Cliente de quem?","displayName":"Cliente de quem?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Emails","displayName":"Emails","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Qualification Calls","displayName":"Qualification Calls","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Status (from Qualification Calls)","displayName":"Status (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Summary (from Qualification Calls)","displayName":"Summary (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Recording_url (from Qualification Calls)","displayName":"Recording_url (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"26992965-3f77-4640-ba4a-5527fe19303e","name":"Airtable - Update Text last_Message e concat_Message e Token Usage","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[2480,5792],"credentials":null,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e3ee6eae-6e60-4b6d-bf8a-5f07e97693d0","leftValue":"={{ $json['Event Type Name'] }}","rightValue":"Visita Casas de Lisboa","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"edc9f3d3-22f9-44d4-bdee-49c1758880b8","name":"If - Visita Casas de Lisboa","type":"n8n-nodes-base.if","typeVersion":2,"position":[-4096,4656]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Normalizacao').item.json.content_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52bbb4cb-7a7e-4bac-9159-5fe4fc170430","leftValue":"={{ $('Normalizacao').item.json.content_type }}","rightValue":"image","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9171f9e2-e0a5-4152-ad3d-62eac8392e6d","leftValue":"={{ $('Normalizacao').item.json.content_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{"fallbackOutput":"extra"}},"id":"69647b21-b858-4afa-8d7e-2cb8b023fe4c","name":"Off List Leads Chatbase Switch Media Max (CL Bot)","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-2912,5136]},{"parameters":{"jsCode":"// Custom UUID generation function\nfunction uuidv4() {\n    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n        const r = Math.random() * 16 | 0,\n              v = c === 'x' ? r : (r & 0x3 | 0x8);\n        return v.toString(16);\n    });\n}\n\n// Get all input data from n8n\nconst inputData = $input.all();\nconst outputData = [];\n\n// Process each input item\nfor (let item of inputData) {\n    // Ensure 'conversations' object exists\n    let conversations = item.json?.conversations || {};\n\n    // Extract phone number safely\n    const phone = item.json?.Telefone || \"Unknown\";  // Airtable field \"Telefone\"\n\n    // Extract the message content safely\n    const messageText = item.json?.concat_Messages || \"No message provided\";  \n\n    // Extract or generate a conversation ID\n    let conversationId = uuidv4();\n\n    // Ensure a conversation exists for this phone number\n    if (!conversations[phone]) {\n        conversations[phone] = { conversationId, conversation: [] };\n    }\n\n    // Create message object\n    const message = {\n        text: messageText,\n        timestamp: new Date().toISOString()\n    };\n\n    // Append message to conversation\n    conversations[phone].conversation.push(message);\n\n    // Push structured output\n    outputData.push({\n        ...item.json,\n        conversationId,\n        conversation: conversations[phone].conversation\n    });\n}\n\n// Return structured data\nreturn outputData;"},"id":"b551ac1d-f000-488e-a83e-26112a66ed19","name":"Off List Leads conversationId Generator Chatbase Max (CL Bot)","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2352,5504]},{"parameters":{"assignments":{"assignments":[{"id":"b0a7008a-6be9-4f46-9c9f-aac0047e566b","name":"user_phone","value":"={{ $('RabbitMQ Trigger').item.json.content.body.data.key.remoteJid.replace(/@.*/, '') || \"unknown\" }}","type":"string"},{"id":"ee8753a0-3e64-4130-a806-b70eae5ecf8d","name":"url_zap_provider","value":"={{ $('RabbitMQ Trigger').item.json.content.body.server_url || \"unknown\" }}","type":"string"},{"id":"58cacd80-861f-46d3-8c67-2258d6e0966b","name":"nome_instancia","value":"={{ $('RabbitMQ Trigger').item.json.content.body.instance || \"unknown\" }}","type":"string"},{"id":"de91b4ae-4164-41ba-a7c2-3edb6ee4ba3e","name":"message_id","value":"={{ $('RabbitMQ Trigger').item.json.content.body.data.key.id || \"unknown\" }}","type":"string"},{"id":"364824f0-a0c0-42d7-bf1d-d2f0be203c4d","name":"chat_id","value":"={{ $('RabbitMQ Trigger').item.json.content.body.data.key.remoteJid || \"unknown\" }}","type":"string"},{"id":"9bfc8bb3-6f77-42b4-8269-8043298e8888","name":"content_type","value":"={{ $('RabbitMQ Trigger').item.json.content.body?.data?.message?.conversation ? \"text\" : \"\" || $('RabbitMQ Trigger').item.json.content.body?.data?.message?.imageMessage ? \"image\" : \"\" || $('RabbitMQ Trigger').item.json.content.body?.data?.message?.documentMessage ? \"document\" : \"\" || $('RabbitMQ Trigger').item.json.content.body?.data?.message?.audioMessage ? \"audio\" : \"\" || \"unknown\" }}","type":"string"},{"id":"2449a6b4-4e21-4c13-8236-61ff1956a554","name":"timestamp","value":"={{ $('RabbitMQ Trigger').item.json.content.body.data.messageTimestamp }}","type":"number"},{"id":"359220da-80ca-4bf5-a5ed-4623cad6ad63","name":"content_url","value":"={{ $('RabbitMQ Trigger').item.json.content.body?.data?.message?.audioMessage?.url || $('RabbitMQ Trigger').item.json.content.body?.data?.message?.imageMessage?.url || $('RabbitMQ Trigger').item.json.content.body?.data?.message?.documentMessage?.url || \"unknown\" }}","type":"string"},{"id":"157701bc-a841-4ae4-8e70-d8853aee0795","name":"message_object_zapi","value":"={{ null }}","type":"object"},{"id":"b111a750-e08a-4466-94ef-58d67c898523","name":"user_name","value":"={{ $('RabbitMQ Trigger').item.json.content.body.data.pushName || \"unknown\" }}","type":"string"},{"id":"5ebacbea-17a4-442a-838e-85743c6cbe05","name":"from_me","value":"={{ $('RabbitMQ Trigger').item.json.content.body.data.key.fromMe || \"unknown\"}}","type":"string"},{"id":"562aaf1b-614f-47ec-8194-1eb30a6f51b3","name":"message_object_evo","value":"={{ $('RabbitMQ Trigger').item.json.content.body.data.message || null }}","type":"object"},{"id":"6d45ac32-91a6-4908-9f13-03772f2cc389","name":"message_object_textmessage","value":"={{ $('RabbitMQ Trigger').item.json.content.body.data.message.conversation || \"unknown\" }}","type":"string"},{"id":"40916090-12b1-4aa1-9daf-a41a2523eb5c","name":"is_group","value":"={{ $('RabbitMQ Trigger').item.json.content.body.data?.key?.isGroup || $('RabbitMQ Trigger').item.json.content.body.data.message.senderKeyDistributionMessage.groupId || \"unknown\" }}","type":"string"}]},"options":{}},"id":"57640aa5-612f-4234-985c-1dd1f0515bed","name":"Normalizacao","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-7360,4624]},{"parameters":{"assignments":{"assignments":[{"id":"2a177ef5-8f2b-48d6-aa14-74f8cb1e049a","name":"gemini_api_key","value":"AIzaSyC5XbEFTLwEIahTLuDa21AM45jZzgmrt5g","type":"string"},{"id":"4e393e46-5476-46b0-bec4-f29277efc038","name":"openai_assistant_id","value":"asst_LrLgRRta7vFmhFo7bBXYcHwA","type":"string"},{"id":"24e7ecdc-b178-42ec-afec-a8518adb2dc1","name":"chatbase_agent_id","value":"IQbeXUUeT8mAJqvC7K7dA","type":"string"}]},"options":{}},"id":"ffc96e51-1e54-4a2e-b234-8da1ec8ec36d","name":"AI","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-7536,4624]},{"parameters":{"assignments":{"assignments":[{"id":"9a2c10c4-74b4-48d0-a8c5-ebe095e7eab5","name":"evo_api_key","value":"2vGHmKALc8VcXLSIuKQO","type":"string"},{"id":"840baa4a-ba9c-49f9-b08b-928815b93a34","name":"evo_instanciaID","value":"D00D294EB23D-4BC9-B91D-ABFA63076CA7","type":"string"},{"id":"41d08b2d-5f5c-4703-99cc-734d3a59728c","name":"nome_da_instancia","value":"cl_bot","type":"string"}]},"options":{}},"id":"ab791d88-64ab-4ba5-b9a2-909e65f95c69","name":"Evo Credentials","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-7888,4624]},{"parameters":{"assignments":{"assignments":[{"id":"503b2c0f-f889-4a71-8d96-136dc6d2773d","name":"z-api_instanciaID","value":"3CE1F33CC7D0F0A61DE9EEE17BD0D626","type":"string"},{"id":"5d692ded-8de3-4878-b1a1-91f8de4e26ec","name":"z-api_instancia_tokenID","value":"E1A4AE25C2EBBD6AA4380791","type":"string"},{"id":"241a5052-bd42-4a99-b99d-180bc4033312","name":"z-api_client_token","value":"F424e60c3a35c47fdb94513e0bb06e501S","type":"string"}]},"options":{}},"id":"8b04c36c-904f-48d3-818e-6eecd059c6bb","name":"Z-api Credentials","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-7696,4624]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblkzb1ttunKLMdtH","mode":"list","cachedResultName":"Group Manager","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblkzb1ttunKLMdtH"},"filterByFormula":"={Name} = '{{ $('Webhook').item.json.body.chatName }}'","options":{}},"id":"93f11499-3025-4e15-bfc7-1a93b1c8795a","name":"Airtable - Search Group","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-6496,3664],"alwaysOutputData":true,"credentials":null},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"abdc51b1-c595-49d4-8bcb-f47ed719dec4","leftValue":"={{ !!Object.keys($node[\"Airtable - Search Group\"].data).length }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c8a44bb8-613c-41bd-8081-856310e4dd88","name":"If - Group in List","type":"n8n-nodes-base.if","typeVersion":2,"position":[-6144,3568]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"bc590144-e352-4b1b-9530-1541496352d8","leftValue":"={{ $('Airtable - Search Group').item.json.off_Bot }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c63427a6-f904-45ae-ba0d-e6a2c684150e","name":"If - On-Bot Group","type":"n8n-nodes-base.if","typeVersion":2,"position":[-6320,3664]},{"parameters":{"content":"## Grupos","height":641,"width":1027},"id":"55b9b8d5-6c56-4d5e-8056-2018ce233391","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-6656,3392],"typeVersion":1},{"parameters":{},"id":"6b83ea76-4e98-4978-840b-b3142b8bf599","name":"No Operation, do nothing10","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-6144,3792]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5920,3664],"id":"a51a9817-b3c7-498b-8b30-ab60b8d190a4","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5920,3472],"id":"04be1d3e-61eb-4215-bfa8-201596b3aa44","name":"No Operation, do nothing2"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"={{ $('Normalizacao').item.json.user_phone }}","messageText":"Ops! Parece que você tentou enviar um áudio, no entanto não conseguimos identificar esse tipo de arquivo, a não ser que seja solicitado. Pedimos desculpas por qualquer inconveniente, mas para continuar nossa conversa, por favor, evite enviar mídias e utilize apenas mensagens de texto.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2352,5120],"id":"a5c1fb7d-cf81-42a0-8e21-d38bebe1008d","name":"Off List Leads Envia mensagem Zap Chatbase - Sem Audio","credentials":null},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"={{ $('Normalizacao').item.json.user_phone }}","messageText":"Ops! Parece que você tentou enviar uma imagem, no entanto não conseguimos identificar esse tipo de arquivo, a não ser que seja solicitado. Pedimos desculpas por qualquer inconveniente, mas para continuar nossa conversa, por favor, evite enviar mídias e utilize apenas mensagens de texto.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2352,5296],"id":"2f5d052c-0bce-464f-a981-21cda6ed48c6","name":"Off List Leads Envia mensagem Zap Chatbase - Sem Imagem","credentials":null},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Normalizacao').item.json.content_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52bbb4cb-7a7e-4bac-9159-5fe4fc170430","leftValue":"={{ $('Normalizacao').item.json.content_type }}","rightValue":"image","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9171f9e2-e0a5-4152-ad3d-62eac8392e6d","leftValue":"={{ $('Normalizacao').item.json.content_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{"fallbackOutput":"extra"}},"id":"0146221c-47bd-4e78-9051-86c01a446911","name":"In List Qualificado Switch Media Max (CL Bot)","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-1216,4608]},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"={{ $('Normalizacao').item.json.user_phone }}","messageText":"={{ $('Off List Leads Create Message in Chatbase').item.json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1920,5504],"id":"e4017f15-6b07-4c7e-b90d-f4875e16ba22","name":"Off List Leads Envia mensagem Zap Chatbase Max (CL Bot)1","credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"503f68f8-831b-4d46-98eb-299d99a5d8e5","name":"uuid","value":"={{ $('Airtable - Update RunID').item.json.fields.linkMeet.split('/').slice(-2, -1)[0] }}","type":"string"}]},"options":{}},"id":"d26b0cf9-cb67-40ae-9362-138d0692c504","name":"Get uuid2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2768,5440]},{"parameters":{"content":"## Set Variables","height":232,"width":705},"id":"19e77019-d0a7-4d35-966e-8aa5d6b9c04f","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-7920,4560],"typeVersion":1},{"parameters":{"content":"## Criar e Gerir Thread","height":488,"width":1144},"id":"09b5678a-2af2-4183-82a6-4bb31f16dfae","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[-3072,4336],"typeVersion":1},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblag7S42K0GZhAWB","mode":"list","cachedResultName":"Leads Clientes (Calendly)","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB"},"columns":{"mappingMode":"defineBelow","value":{"Airtable ID ":"={{ $('Airtable - Search User in Leads').item.json['Airtable ID '] }}","token_Usage_Total":0,"concat_Messages":"Início","thread_id_openai":"={{ $json.id }}","thread_id_created":"={{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }}"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Enviar Proposta?","displayName":"Enviar Proposta?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cliente?","displayName":"Cliente?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Cliente de quem?","displayName":"Cliente de quem?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Emails","displayName":"Emails","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Qualification Calls","displayName":"Qualification Calls","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Status (from Qualification Calls)","displayName":"Status (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Summary (from Qualification Calls)","displayName":"Summary (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Recording_url (from Qualification Calls)","displayName":"Recording_url (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":true},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"18011f6b-b2de-4f5b-a329-7088e7a63d60","name":"Airtable - Update ThreadID","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-2624,4432],"credentials":null},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"dde04f46-8a32-4839-b0a4-e9749449a754","name":"Cria thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2800,4432],"credentials":null},{"parameters":{},"id":"f14f8dd9-c9ed-4e41-8229-c9f3dbb4edb9","name":"Merge Thread","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-2464,4608],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"30709591-c9a0-4a59-8e36-43b031179021","leftValue":"={{ $('Airtable - Search User in Leads').item.json.thread_id_openai }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"1347070e-6be6-40d3-9038-9c428787d5f2","name":"If - No Thread","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2960,4608]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblag7S42K0GZhAWB","mode":"list","cachedResultName":"Leads Clientes (Calendly)","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB"},"columns":{"mappingMode":"defineBelow","value":{"thread_id_openai":"={{ $json.threadIDVariable }}","Airtable ID ":"={{ $('Airtable - Search User in Leads').item.json['Airtable ID '] }}"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Enviar Proposta?","displayName":"Enviar Proposta?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cliente?","displayName":"Cliente?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Cliente de quem?","displayName":"Cliente de quem?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Emails","displayName":"Emails","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Qualification Calls","displayName":"Qualification Calls","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Status (from Qualification Calls)","displayName":"Status (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Summary (from Qualification Calls)","displayName":"Summary (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Recording_url (from Qualification Calls)","displayName":"Recording_url (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":true},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"5aaf55d5-77b1-417a-a17d-d81c11fb458d","name":"Airtable - Update ThreadID de novo","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-2080,4608],"credentials":null},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo').item.json.fields.thread_id_openai }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"user"},{"name":"content","value":"={{ $('Normalizacao').item.json.message_object_textmessage }}"}]},"options":{}},"id":"0e5052b5-fae6-4d72-adb1-acfda845f4f0","name":"Create Message OpenAI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-848,4624],"credentials":null,"onError":"continueErrorOutput"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo').item.json.fields.thread_id_openai }}/runs  ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"fee3f555-8b18-44ad-b9c3-a60a9303b6e7","name":"List Runs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-688,4912],"credentials":null},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblag7S42K0GZhAWB","mode":"list","cachedResultName":"Leads Clientes (Calendly)","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB"},"columns":{"mappingMode":"defineBelow","value":{"concat_Messages":"={{ $('Airtable - Update ThreadID de novo').item.json.fields.concat_Messages }}\n\nData: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: {{ $('Normalizacao').item.json.user_name }} - Message: {{ $('Normalizacao').item.json.message_object_textmessage }} ","Airtable ID ":"={{ $('Airtable - Update ThreadID de novo').item.json.fields['Airtable ID '] }}"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Enviar Proposta?","displayName":"Enviar Proposta?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cliente?","displayName":"Cliente?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Cliente de quem?","displayName":"Cliente de quem?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Emails","displayName":"Emails","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Qualification Calls","displayName":"Qualification Calls","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Status (from Qualification Calls)","displayName":"Status (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Summary (from Qualification Calls)","displayName":"Summary (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Recording_url (from Qualification Calls)","displayName":"Recording_url (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"1ec2132b-23dc-4ab4-8785-e0e830199d0b","name":"Airtable - Update concat_Message","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-640,4608],"credentials":null},{"parameters":{"resource":"messages-api","instanceName":"cl_bot","remoteJid":"={{ $('Normalizacao').item.json.user_phone }}","messageText":"Ops! Parece que você tentou enviar um áudio, no entanto não conseguimos identificar esse tipo de arquivo, a não ser que seja solicitado. Pedimos desculpas por qualquer inconveniente, mas para continuar nossa conversa, por favor, evite enviar mídias e utilize apenas mensagens de texto.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-800,4080],"id":"320ebfe6-1898-490a-8ecb-edd7f65f8632","name":"Envia mensagem Zap - Sem Audio","credentials":null},{"parameters":{"resource":"messages-api","instanceName":"cl_bot","remoteJid":"={{ $('Normalizacao').item.json.user_phone }}","messageText":"Ops! Parece que você tentou enviar uma imagem, no entanto não conseguimos identificar esse tipo de arquivo, a não ser que seja solicitado. Pedimos desculpas por qualquer inconveniente, mas para continuar nossa conversa, por favor, evite enviar mídias e utilize apenas mensagens de texto.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-800,4352],"id":"beb91bea-a5cb-4daa-8e18-ba1140951eec","name":"Envia mensagem Zap - Sem Imagem","credentials":null},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo').item.json.fields.thread_id_openai }}/runs/{{ $('Airtable - Update ThreadID de novo').item.json.fields.last_Run }}\n/cancel     ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"583e1eab-6bc4-4d8e-8089-830e673b641b","name":"Cancel a Run2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-528,4912],"credentials":null},{"parameters":{"amount":10},"id":"ec25c04b-aae7-494a-ad0f-a6595614508b","name":"Wait 10s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-464,4608],"webhookId":"1533d748-525c-4e0b-a82b-849a56d4a5b8"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo').item.json.fields.thread_id_openai }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"dc6c4b65-b09e-46d6-91f0-ceb54ee07d29","name":"List Messages","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-304,4608],"credentials":null},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"396adb2d-4693-4395-bf0c-410c069cbaae","leftValue":"={{ $('Create Message OpenAI').item.json.id }}","rightValue":"={{ $json.data[0].id }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"77f988c9-3cee-4480-babf-68c7b7dc84e9","name":"If - Last message equal to first message - Fila de Mensagens","type":"n8n-nodes-base.if","typeVersion":2,"position":[-128,4608]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update concat_Message').item.json.fields.thread_id_openai }}/runs    ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"={{ $('AI').item.json.openai_assistant_id }}"},{"name":"additional_instructions","value":"=Aqui estão algumas informações importantes que voce já tem do usuário:\n\nNome: {{ $('Airtable - Update concat_Message').item.json.fields.Name }}\n\nEmail: {{ $('Airtable - Update concat_Message').item.json.fields.Email }}\n\nTelefone: {{ $('Airtable - Update concat_Message').item.json.fields.Telefone }}\n\nEvento de Agendamento com nossos advogados: {{ $('Airtable - Update concat_Message').item.json.fields['Event Type Name'] }}\n\nLink para Cancelamento da Reunião Evento de Agendamento: {{ $('Airtable - Update concat_Message').item.json.fields.calendly_cancel_url }}\n\nLink para Reagendamento da Reunião Evento de Agendamento: {{ $('Airtable - Update concat_Message').item.json.fields.calendly_reschedule_url }}\n\nData e hora de agora: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }}  \n\nResponda sempre na língua do usuário: {{ $('Airtable - Update concat_Message').item.json.fields.Language }}"}]},"options":{}},"id":"d70209b5-9bd4-4677-8a50-c2ab0f911c24","name":"Run Assistant","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,4608],"alwaysOutputData":true,"retryOnFail":true,"credentials":null},{"parameters":{"amount":4},"id":"f48c8579-33d9-415c-8892-81a307a38f72","name":"Wait 4s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1248,4832],"webhookId":"aa1b52d0-c977-4026-b078-23092a7ae25f"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cfb7aaf8-2c1a-43aa-ba9e-8b371d86f04d","leftValue":"={{ $('Get Run Status').last().json.status }}","rightValue":"requires_action","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"12c051e3-5462-49be-bf94-53cc70b3f597","name":"If - Requires Action?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1312,4624]},{"parameters":{"options":{"reset":"={{ $node[\"Executar Funções Tools\"].context[\"Done\"] }}"}},"id":"c9c03a4e-11fb-4e56-af7f-8297988b3fa5","name":"Executar Funções Tools","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2032,4608]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"e6b55519-17bd-46c5-8abf-d8f5797d84dd","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2384,4192]},{"parameters":{"assignments":{"assignments":[{"id":"c5405552-2f77-4c16-9599-477bc72223e6","name":"output","value":"={{ $json.data }}","type":"string"}]},"options":{}},"id":"6e05795f-2da6-496e-98c0-fdb472f1f282","name":"Concatenar Output em string","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2592,4192]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Get Run Status').item.json[\"thread_id\"] }}/runs/{{ $('Get Run Status').item.json[\"id\"] }}/submit_tool_outputs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"tool_outputs\": {{ Array.isArray($json.output) ? $json.output[$json.output.length - 1] : $json.output }}\n}","options":{}},"id":"fcea15eb-fc8c-4c58-85c7-2532750cd574","name":"Insert Output","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,4240],"credentials":null,"onError":"continueErrorOutput"},{"parameters":{"base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblag7S42K0GZhAWB","mode":"list","cachedResultName":"Leads Clientes (Calendly)","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB"},"id":"={{ $('Airtable - Update RunID').item.json.fields['Airtable ID '] }}","options":{}},"id":"02fd140d-aefc-45dd-a54a-2d639c7eeb71","name":"Airtable - Get User Data","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[2992,4624],"credentials":null},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"tool_call_id\": \"{{ $('Separa Arguments').item.json['properties']['id'] }}\",\n  \"output\": \"name: {{ $json[\"Name\"] }} Telefone: {{ $json[\"Whatsapp\"] }} email: {{ $json[\"Email\"] }}\"\n}","options":{}},"id":"0d2063e9-5fe0-46b9-9aa2-606a2cc96ebf","name":"Tool Call ID - get_user_data","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3248,4672]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblag7S42K0GZhAWB","mode":"list","cachedResultName":"Leads Clientes (Calendly)","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB"},"columns":{"mappingMode":"defineBelow","value":{"Airtable ID ":"={{ $('Airtable - Update RunID').item.json.fields['Airtable ID '] }}"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Enviar Proposta?","displayName":"Enviar Proposta?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cliente?","displayName":"Cliente?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Cliente de quem?","displayName":"Cliente de quem?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Emails","displayName":"Emails","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Qualification Calls","displayName":"Qualification Calls","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Status (from Qualification Calls)","displayName":"Status (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Summary (from Qualification Calls)","displayName":"Summary (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Recording_url (from Qualification Calls)","displayName":"Recording_url (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"1da26dcb-1e82-4106-95cc-0b1dccc8cd84","name":"Airtable - Save User Answers","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[3008,4912],"credentials":null},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"tool_call_id\": \"{{ $('Separa Arguments').item.json['properties']['id'] }}\",\n  \"output\": \"Cadastro da resposta realizado com sucesso.\"\n}","options":{}},"id":"550b5974-ad28-4ed1-88a1-a9c1514268ad","name":"Tool Call ID - save_user_data","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3232,4912]},{"parameters":{"method":"POST","url":"=https://api.calendly.com/scheduled_events/{{ $json.uuid }}/cancellation","authentication":"predefinedCredentialType","nodeCredentialType":"calendlyApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"reason\": \"Appointment canceled by the user\"\n}","options":{}},"id":"38cab3cb-d094-4005-adfb-c1d3eaf07d81","name":"Cancel Event","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3232,5152],"credentials":null,"onError":"continueErrorOutput"},{"parameters":{"resource":"messages-api","instanceName":"cl_bot","remoteJid":"+351913095597","messageText":"=Cancele Reunião Manualmente. {{ $('Normalizacao').item.json.user_name }} - Whatsapp {{ $('Normalizacao').item.json.user_phone }}. linkUrl: {{ $('Airtable - Update RunID').item.json.fields.calendly_cancel_url }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3488,4992],"id":"373b230e-7da4-4a9f-96bc-4476f60240c6","name":"Envia mensagem Zap - Cancelar reunião","credentials":null},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblag7S42K0GZhAWB","mode":"list","cachedResultName":"Leads Clientes (Calendly)","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB"},"columns":{"mappingMode":"defineBelow","value":{"Obs":"REUNIÃO CANCELADA PELA AUTOMAÇÃO","Airtable ID ":"={{ $('Airtable - Update RunID').item.json.fields['Airtable ID '] }}"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Enviar Proposta?","displayName":"Enviar Proposta?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cliente?","displayName":"Cliente?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Cliente de quem?","displayName":"Cliente de quem?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Emails","displayName":"Emails","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Qualification Calls","displayName":"Qualification Calls","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Status (from Qualification Calls)","displayName":"Status (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Summary (from Qualification Calls)","displayName":"Summary (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Recording_url (from Qualification Calls)","displayName":"Recording_url (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"11d1f7d4-884e-42b1-80dc-7aad503478ad","name":"Airtable - Update Reunião Cancelada","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[3760,5120],"credentials":null},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"tool_call_id\": \"{{ $('Separa Arguments').item.json.properties.id }}\",\n  \"output\": \"Reunião cancelada com sucesso.\"\n} ","options":{}},"id":"0c5a4842-6416-433a-a93c-3b61d1404951","name":"Tool Call ID - cancel_booking","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3968,5152]},{"parameters":{"url":"=https://api.calendly.com/scheduled_events/{{ $json.uuid }}","authentication":"predefinedCredentialType","nodeCredentialType":"calendlyApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2944,5440],"id":"cddacc60-4250-4b61-afe6-1e7e11038074","name":"Get Event Data","credentials":null},{"parameters":{"url":"https://api.calendly.com/event_type_available_times","authentication":"predefinedCredentialType","nodeCredentialType":"calendlyApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"start_time","value":"={{ new Date(Date.now() + 1 * 24 * 60 * 60 * 1000).toISOString().replace('.000Z', '.000000Z') }}"},{"name":"end_time","value":"={{ new Date(Date.now() + 6 * 24 * 60 * 60 * 1000).toISOString().replace('.000Z', '.000000Z') }}\n"},{"name":"event_type","value":"={{ $json.resource.event_type }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"9be4fca9-b421-47db-b9a3-10a00ce024c0","name":"Get Event Availability","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3120,5440],"credentials":null,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const data = items[0].json.collection;\nconst low_availability_threshold = 1;\nconst availableTimes = data.slice(0, low_availability_threshold);\n\nreturn availableTimes.map(time => ({ json: time }));\n"},"id":"f9cc9818-81de-4da7-b9f2-2318c6709b02","name":"Get First Option","type":"n8n-nodes-base.code","typeVersion":2,"position":[3328,5424]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"output\": {\n    \"date\": \"{{ new Date($json.start_time).toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric', timeZone: 'Europe/Lisbon' }) }}\",\n    \"time\": \"{{ new Date($json.start_time).toLocaleTimeString('en-GB', { hour: '2-digit', minute: '2-digit', hour12: false, timeZone: 'Europe/Lisbon' }) }}\",\n    \"link\": \"{{ $json.scheduling_url }}\"\n  }\n}","options":{}},"id":"a0d8c249-d6e7-4d31-b58b-a50ecdc579a9","name":"Output appointment_booking","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3504,5424]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"output"}]},"options":{"outputFormat":"singleItem"}},"id":"f824eb9a-4850-4c10-a9ab-897c444a6d4d","name":"Summarize Date and Time","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[3680,5424]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"tool_call_id\": \"{{ $('Separa Arguments').item.json.properties.id }}\",\n  \"output\": {{ $json.concatenated_output }}\n}","options":{}},"id":"fda15a78-f679-4037-84c9-682484eb2d04","name":"Tool Call ID - appointment_booking","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3904,5488]},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"={{ $('Normalizacao').item.json.user_phone }}","messageText":"=Agende a reunião no link: https://calendly.com/telecalls/casas-de-lisboa","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3504,5744],"id":"18874a67-d6b8-44b2-85c5-e0bc4d9ee50f","name":"Envia resposta Zap Link Agendamento","credentials":null},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update RunID').item.json.fields.thread_id_openai }}/messages       ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"assistant"},{"name":"content","value":"=Sender: Assistant - Message: Agende a reunião no link: https://calendly.com/telecalls/casas-de-lisboa"}]},"options":{}},"id":"47a2aa9f-73fc-49c4-aeee-afaebf920444","name":"Create Message OpenAI Link Agendamento","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3712,5744],"credentials":null},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblag7S42K0GZhAWB","mode":"list","cachedResultName":"Leads Clientes (Calendly)","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB"},"columns":{"mappingMode":"defineBelow","value":{"Airtable ID ":"={{ $('Airtable - Update RunID').item.json.fields['Airtable ID '] }}","concat_Messages":"={{ $('Airtable - Update RunID').item.json.concat_Messages }}\n\nData: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: Agende a reunião no link: https://calendly.com/telecalls/casas-de-lisboa","last_Message":"=Data: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: Agende a reunião no link: https://calendly.com/telecalls/casas-de-lisboa"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Enviar Proposta?","displayName":"Enviar Proposta?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cliente?","displayName":"Cliente?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Cliente de quem?","displayName":"Cliente de quem?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Emails","displayName":"Emails","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Qualification Calls","displayName":"Qualification Calls","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Status (from Qualification Calls)","displayName":"Status (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Summary (from Qualification Calls)","displayName":"Summary (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Recording_url (from Qualification Calls)","displayName":"Recording_url (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"036fd4e6-6ec9-4f37-a554-928128799cc3","name":"Airtable - Update New Message Zap Link Agendamento","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[3904,5744],"credentials":null},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e0051e94-14ac-4315-bff0-f218625bf2c1","leftValue":"={{ $('Get Run Status').last().json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"8dcf0331-73d1-4a07-a4b6-83850d0a379e","leftValue":"={{ $('Get Run Status').last().json.status }}","rightValue":"expired","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expired"}]},"options":{}},"id":"1bb7f197-2e12-4dd0-aebc-bea76b845285","name":"Switch - Run Status Completed","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1520,6080],"alwaysOutputData":true},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"={{ $('Normalizacao').item.json.user_phone }}","messageText":"Tivemos um problema ao processar sua mensagem. Por favor repita ou aguarde um pouco.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1712,6272],"id":"f72b89d8-d07e-422b-93f7-7c4c271a2764","name":"Envia mensagem Zap de erro","credentials":null},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update RunID').item.json.fields.thread_id_openai }}/messages?order=desc  ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"f5f732ec-0653-4315-a0c0-9dab5afc1b3c","name":"Pega a ultima mensagem OpenAI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,5904],"credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"b85d717a-4655-4c22-9d0e-74a5b659b128","name":"msgs","value":"={{ $json.data[0].content[0].text.value }}","type":"string"}]},"options":{}},"id":"6ba69534-185b-46f3-88bb-97615e080a3e","name":"Msgs","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1872,5904]},{"parameters":{"jsCode":"// Função para dividir o texto em mensagens com base em duas quebras de linha consecutivas\nfunction splitTextIntoMessages(text) {\n    if (typeof text !== 'string') {\n        console.log('Invalid input: text is not a string', text);\n        throw new Error('Invalid input: text must be a string');\n    }\n    return text.split('\\n\\n').map(part => part.trim()).filter(part => part.length > 0).map(part => {\n        return { json: { message: part } };\n    });\n}\n\n// Log the input data for debugging\nconsole.log('Input items:', JSON.stringify(items, null, 2));\n\n// Check if msgs_output exists and is a string\nconst inputText = items[0]?.json?.msgs;\n\nif (typeof inputText !== 'string') {\n    console.log('Invalid input: items[0].json.msgs_output is not a valid string', inputText);\n    throw new Error('Invalid input: items[0].json.msgs_output is not a valid string');\n}\n\n// Split the text into messages\nconst messages = splitTextIntoMessages(inputText);\n\n// Return the messages as n8n items\nreturn messages;\n"},"id":"5ef1693d-6314-478b-88ab-bdec4bbc7890","name":"Quebra Mensagem","type":"n8n-nodes-base.code","typeVersion":2,"position":[2064,5904]},{"parameters":{"options":{}},"id":"1f234330-b1f3-4b63-bec0-584755e8f6cc","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2240,5904]},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"={{ $('Normalizacao').item.json.user_phone }}","messageText":"={{ $json.message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2480,6032],"id":"c372a8bb-74a1-4d43-ba22-39e22d99fd65","name":"Envia resposta Zap","credentials":null},{"parameters":{"content":"## Criar e Gerir Usuário","height":576,"width":1276},"id":"ba1943dc-8492-46d5-92cd-e223b48443aa","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-5808,4528],"typeVersion":1},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5088,4912],"id":"7ce15176-08a6-4a12-a264-a33e62eff46c","name":"No Operation, do nothing3"},{"parameters":{"method":"POST","url":"https://www.chatbase.co/api/v1/chat","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fb24393b-842e-486d-a9c9-a6ccc1bcb520"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    { \"content\": \"Como posso te ajudar?\", \n       \"role\": \"assistant\",\n        \"content\": \"{{ $('Normalizacao').item.json.message_object_textmessage }}\", \n        \"role\": \"user\" }\n  ],\n  \"chatbotId\": \"{{ $('AI').item.json.chatbase_agent_id }}\",\n  \"stream\": true,\n  \"temperature\": 0.4,\n  \"model\": \"gpt-4o\",\n  \"conversationId\": \"{{ $json.conversationId }}\"\n}  ","options":{}},"id":"1145007a-0535-43e7-b57a-9f7406d436e1","name":"Off List Leads Create Message in Chatbase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2128,5504]},{"parameters":{"queue":"cl_atendimento_oracle.webhook","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]},"acknowledge":"executionFinishesSuccessfully","jsonParseBody":true,"parallelMessages":1}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-8384,4608],"id":"077aad0f-b9ca-4a3b-9449-ef1b2052eef5","name":"RabbitMQ Trigger","credentials":null},{"parameters":{"operation":"deleteMessage"},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[-7904,4384],"id":"c5c5d105-bab4-4c59-859d-c50b5ec2e020","name":"Delete from queue","credentials":null},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8bd55a50-65cd-4a67-8dbc-6e70f360431f","leftValue":"={{ $json.properties.headers['x-delivery-count'] }}","rightValue":3,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-8160,4608],"id":"6222f369-11bb-4185-87ea-c122fe78b401","name":"If - mais de 3 tentativas"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"=+351913095597","messageText":"Erro no último nó do Airtable - Fluxo CLImob Lead Qualification","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2720,5872],"id":"86e8417e-6d60-4c52-96c6-f6d0efe76dac","name":"Envia mensagem Zap de erro1","credentials":null},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblag7S42K0GZhAWB","mode":"list","cachedResultName":"Leads Clientes (Calendly)","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB"},"filterByFormula":"=RIGHT({Telefone}, 8) = {{ $('Normalizacao').item.json.user_phone.slice(-8) }}","returnAll":false,"limit":1,"options":{},"sort":{"property":[{"field":"Created","direction":"desc"}]}},"id":"b9e3c1b6-c0b9-421a-927b-d577a605573f","name":"Airtable - Search User in Leads0","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-6896,4640],"alwaysOutputData":true,"credentials":null,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"dd053edd-dcc0-4b69-b33d-b2aa4423222e","leftValue":"={{ $('Normalizacao').item.json.from_me }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"6cb120da-b36c-40b6-8473-38e366d4e581","name":"If - From Me Leads","type":"n8n-nodes-base.if","typeVersion":2,"position":[-6544,4640]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblag7S42K0GZhAWB","mode":"list","cachedResultName":"Leads Clientes (Calendly)","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB"},"filterByFormula":"=RIGHT({Telefone}, 8) = {{ $('Normalizacao').item.json.user_phone.slice(-8) }}","returnAll":false,"limit":1,"options":{},"sort":{"property":[{"field":"Created","direction":"desc"}]}},"id":"02451817-d748-4f32-83f5-5e1c46e2f2c6","name":"Airtable - Search User in Leads1","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-5728,4656],"alwaysOutputData":true,"credentials":null,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"35712ebe-904b-48bf-837f-03705d40c40b","leftValue":"={{ $json['Event Type Name'] }}","rightValue":"Visita Casas de Lisboa","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"4a5fea91-c5b5-4a5b-a605-2a7cade9bc1c","name":"If - Lead CL Imob","type":"n8n-nodes-base.if","typeVersion":2,"position":[-5520,4656]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19b91a43-c10c-4ef7-989a-eab11bc496ba","leftValue":"={{ $('Normalizacao').item.json.user_phone }}","rightValue":"unknown","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"e99f0f24-d530-4e31-ae86-59a40d53af14","leftValue":"={{ $('Normalizacao').item.json.user_phone }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}},{"id":"f08e876f-c736-4ffc-85cd-d64e9513125b","leftValue":"={{ $('Normalizacao').item.json.user_phone }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5312,4816],"id":"1ce17332-76aa-4669-883b-12feda33a5ad","name":"If - Telefone is unknown"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblag7S42K0GZhAWB","mode":"list","cachedResultName":"Leads Clientes (Calendly)","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $('Normalizacao').item.json.user_name }}","thread_id_openai":"={{ $('Cria thread Lead CL Imob').item.json.id }}","concat_Messages":"Início","thread_id_created":"={{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }}","counter_Messages":0,"token_Usage_Total":0,"Telefone":"={{ $('Normalizacao').item.json.user_phone }}","Email":"Unknown","Event Type Name":"Unknown","Obs":"Contato sem agendamento","tags":"[\"Entrou no Fluxo\"]","last_Message":"={{ $('Normalizacao').item.json.message_object_textmessage }}"},"matchingColumns":[],"schema":[{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Enviar Proposta?","displayName":"Enviar Proposta?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cliente?","displayName":"Cliente?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Cliente de quem?","displayName":"Cliente de quem?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Emails","displayName":"Emails","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Qualification Calls","displayName":"Qualification Calls","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status (from Qualification Calls)","displayName":"Status (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Summary (from Qualification Calls)","displayName":"Summary (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Recording_url (from Qualification Calls)","displayName":"Recording_url (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"a5b75425-aad5-4b73-b7b0-9cca4baa9a15","name":"Airtable - Create User Lead","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-4880,4736],"credentials":null},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"19617bc8-8644-475f-aa36-e3c98967326d","name":"Cria thread Lead CL Imob","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5088,4736],"credentials":null},{"parameters":{},"id":"016a1972-261c-4f22-86fc-a04452dd4dae","name":"Merge User Lead","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-4672,4656]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"abdc51b1-c595-49d4-8bcb-f47ed719dec4","leftValue":"={{ !!Object.keys($node[\"Airtable - Search User in Leads\"].data).length }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"39bfd288-9092-4098-b6e7-23de404afd33","name":"If - User in Leads","type":"n8n-nodes-base.if","typeVersion":2,"position":[-3696,4624]}],"connections":{"ThreadID":{"main":[[{"node":"Airtable - Update ThreadID de novo","type":"main","index":0}]]},"If - Is Group":{"main":[[{"node":"Airtable - Search Group","type":"main","index":0}],[{"node":"Airtable - Search User in Leads0","type":"main","index":0}]]},"Airtable - Search User in Leads":{"main":[[{"node":"If - Visita Casas de Lisboa","type":"main","index":0}]]},"Verifica Comando":{"main":[[{"node":"Airtable - Update Bot ON Leads","type":"main","index":0}],[{"node":"Airtable - Update Bot OFF Leads","type":"main","index":0}]]},"If - Off-Bot1":{"main":[[{"node":"No Operation, do nothing6","type":"main","index":0}],[{"node":"Off List Leads Chatbase Switch Media Max (CL Bot)","type":"main","index":0}]]},"If - Queued or In progress?1":{"main":[[{"node":"Wait 4s","type":"main","index":0}],[{"node":"If - Requires Action?","type":"main","index":0}]]},"If - Off-Bot2":{"main":[[{"node":"No Operation, do nothing7","type":"main","index":0}],[{"node":"Run Assistant","type":"main","index":0}]]},"Get uuid1":{"main":[[{"node":"Cancel Event","type":"main","index":0}]]},"Cancel a Run":{"main":[[{"node":"Envia resposta Zap Link Agendamento","type":"main","index":0}]]},"Airtable - Update RunID":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Get Run Status":{"main":[[{"node":"If - Queued or In progress?1","type":"main","index":0}]]},"Captura Tool Calls":{"main":[[{"node":"Split Out Tool Calls","type":"main","index":0}]]},"Split Out Tool Calls":{"main":[[{"node":"Executar Funções Tools","type":"main","index":0}]]},"Separa Arguments":{"main":[[{"node":"Escolha da Tool Function","type":"main","index":0}]]},"Escolha da Tool Function":{"main":[[{"node":"Airtable - Get User Data","type":"main","index":0}],[{"node":"Airtable - Save User Answers","type":"main","index":0}],[{"node":"Get uuid2","type":"main","index":0}],[{"node":"Get uuid1","type":"main","index":0}]]},"If - Visita Casas de Lisboa":{"main":[[{"node":"If - User in Leads","type":"main","index":0}],[{"node":"If - Off-Bot1","type":"main","index":0}]]},"Off List Leads Chatbase Switch Media Max (CL Bot)":{"main":[[{"node":"Off List Leads Envia mensagem Zap Chatbase - Sem Audio","type":"main","index":0}],[{"node":"Off List Leads Envia mensagem Zap Chatbase - Sem Imagem","type":"main","index":0}],[{"node":"Off List Leads conversationId Generator Chatbase Max (CL Bot)","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Off List Leads conversationId Generator Chatbase Max (CL Bot)":{"main":[[{"node":"Off List Leads Create Message in Chatbase","type":"main","index":0}]]},"AI":{"main":[[{"node":"Normalizacao","type":"main","index":0}]]},"Evo Credentials":{"main":[[{"node":"Z-api Credentials","type":"main","index":0}]]},"Z-api Credentials":{"main":[[{"node":"AI","type":"main","index":0}]]},"Normalizacao":{"main":[[{"node":"If - Is Group","type":"main","index":0}]]},"Airtable - Search Group":{"main":[[{"node":"If - On-Bot Group","type":"main","index":0}]]},"If - Group in List":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"If - On-Bot Group":{"main":[[{"node":"If - Group in List","type":"main","index":0}],[{"node":"No Operation, do nothing10","type":"main","index":0}]]},"In List Qualificado Switch Media Max (CL Bot)":{"main":[[{"node":"Envia mensagem Zap - Sem Audio","type":"main","index":0}],[{"node":"Envia mensagem Zap - Sem Imagem","type":"main","index":0}],[{"node":"Create Message OpenAI","type":"main","index":0}],[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"Get uuid2":{"main":[[{"node":"Get Event Data","type":"main","index":0}]]},"Airtable - Update ThreadID":{"main":[[{"node":"Merge Thread","type":"main","index":0}]]},"Cria thread":{"main":[[{"node":"Airtable - Update ThreadID","type":"main","index":0}]]},"Merge Thread":{"main":[[{"node":"ThreadID","type":"main","index":0}]]},"If - No Thread":{"main":[[{"node":"Cria thread","type":"main","index":0}],[{"node":"Merge Thread","type":"main","index":1}]]},"Airtable - Update ThreadID de novo":{"main":[[{"node":"In List Qualificado Switch Media Max (CL Bot)","type":"main","index":0}]]},"Create Message OpenAI":{"main":[[{"node":"Airtable - Update concat_Message","type":"main","index":0}],[{"node":"List Runs","type":"main","index":0}]]},"List Runs":{"main":[[{"node":"Cancel a Run2","type":"main","index":0}]]},"Airtable - Update concat_Message":{"main":[[{"node":"Wait 10s","type":"main","index":0}]]},"Cancel a Run2":{"main":[[{"node":"Create Message OpenAI","type":"main","index":0}]]},"Wait 10s":{"main":[[{"node":"List Messages","type":"main","index":0}]]},"List Messages":{"main":[[{"node":"If - Last message equal to first message - Fila de Mensagens","type":"main","index":0}]]},"If - Last message equal to first message - Fila de Mensagens":{"main":[[{"node":"If - Off-Bot2","type":"main","index":0}],[{"node":"Queued Messages1","type":"main","index":0}]]},"Run Assistant":{"main":[[{"node":"Airtable - Update RunID","type":"main","index":0}]]},"Wait 4s":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"If - Requires Action?":{"main":[[{"node":"Captura Tool Calls","type":"main","index":0}],[{"node":"Switch - Run Status Completed","type":"main","index":0}]]},"Executar Funções Tools":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Separa Arguments","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Concatenar Output em string","type":"main","index":0}]]},"Concatenar Output em string":{"main":[[{"node":"Insert Output","type":"main","index":0}]]},"Insert Output":{"main":[[{"node":"Get Run Status","type":"main","index":0}],[{"node":"Get Run Status","type":"main","index":0}]]},"Airtable - Get User Data":{"main":[[{"node":"Tool Call ID - get_user_data","type":"main","index":0}]]},"Tool Call ID - get_user_data":{"main":[[{"node":"Executar Funções Tools","type":"main","index":0}]]},"Airtable - Save User Answers":{"main":[[{"node":"Tool Call ID - save_user_data","type":"main","index":0}]]},"Tool Call ID - save_user_data":{"main":[[{"node":"Executar Funções Tools","type":"main","index":0}]]},"Cancel Event":{"main":[[{"node":"Airtable - Update Reunião Cancelada","type":"main","index":0}],[{"node":"Envia mensagem Zap - Cancelar reunião","type":"main","index":0}]]},"Envia mensagem Zap - Cancelar reunião":{"main":[[{"node":"Airtable - Update Reunião Cancelada","type":"main","index":0}]]},"Airtable - Update Reunião Cancelada":{"main":[[{"node":"Tool Call ID - cancel_booking","type":"main","index":0}]]},"Tool Call ID - cancel_booking":{"main":[[{"node":"Executar Funções Tools","type":"main","index":0}]]},"Get Event Data":{"main":[[{"node":"Get Event Availability","type":"main","index":0}]]},"Get Event Availability":{"main":[[{"node":"Get First Option","type":"main","index":0}],[{"node":"Cancel a Run","type":"main","index":0}]]},"Get First Option":{"main":[[{"node":"Output appointment_booking","type":"main","index":0}]]},"Output appointment_booking":{"main":[[{"node":"Summarize Date and Time","type":"main","index":0}]]},"Summarize Date and Time":{"main":[[{"node":"Tool Call ID - appointment_booking","type":"main","index":0}]]},"Tool Call ID - appointment_booking":{"main":[[{"node":"Executar Funções Tools","type":"main","index":0}]]},"Envia resposta Zap Link Agendamento":{"main":[[{"node":"Create Message OpenAI Link Agendamento","type":"main","index":0}]]},"Create Message OpenAI Link Agendamento":{"main":[[{"node":"Airtable - Update New Message Zap Link Agendamento","type":"main","index":0}]]},"Switch - Run Status Completed":{"main":[[{"node":"Pega a ultima mensagem OpenAI","type":"main","index":0}],[{"node":"Envia mensagem Zap de erro","type":"main","index":0}]]},"Pega a ultima mensagem OpenAI":{"main":[[{"node":"Msgs","type":"main","index":0}]]},"Msgs":{"main":[[{"node":"Quebra Mensagem","type":"main","index":0}]]},"Quebra Mensagem":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Airtable - Update Text last_Message e concat_Message e Token Usage","type":"main","index":0}],[{"node":"Envia resposta Zap","type":"main","index":0}]]},"Envia resposta Zap":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Off List Leads Create Message in Chatbase":{"main":[[{"node":"Off List Leads Envia mensagem Zap Chatbase Max (CL Bot)1","type":"main","index":0}]]},"RabbitMQ Trigger":{"main":[[{"node":"If - mais de 3 tentativas","type":"main","index":0}]]},"If - mais de 3 tentativas":{"main":[[{"node":"Delete from queue","type":"main","index":0}],[{"node":"Evo Credentials","type":"main","index":0}]]},"Airtable - Update Text last_Message e concat_Message e Token Usage":{"main":[[],[{"node":"Envia mensagem Zap de erro1","type":"main","index":0}]]},"Airtable - Search User in Leads0":{"main":[[{"node":"If - From Me Leads","type":"main","index":0}]]},"If - From Me Leads":{"main":[[{"node":"Verifica Comando","type":"main","index":0}],[{"node":"Airtable - Search User in Leads1","type":"main","index":0}]]},"Airtable - Search User in Leads1":{"main":[[{"node":"If - Lead CL Imob","type":"main","index":0}]]},"If - Lead CL Imob":{"main":[[{"node":"Merge User Lead","type":"main","index":0}],[{"node":"If - Telefone is unknown","type":"main","index":0}]]},"If - Telefone is unknown":{"main":[[{"node":"Cria thread Lead CL Imob","type":"main","index":0}],[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"Airtable - Create User Lead":{"main":[[{"node":"Merge User Lead","type":"main","index":1}]]},"Cria thread Lead CL Imob":{"main":[[{"node":"Airtable - Create User Lead","type":"main","index":0}]]},"Merge User Lead":{"main":[[{"node":"Airtable - Search User in Leads","type":"main","index":0}]]},"If - User in Leads":{"main":[[{"node":"If - No Thread","type":"main","index":0}],[{"node":"Off List Leads Chatbase Switch Media Max (CL Bot)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","executionTimeout":1200},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a0378450-3fca-43d7-b4f0-6cbf971edea0","triggerCount":1,"shared":[{"updatedAt":"2025-02-25T14:05:15.025Z","createdAt":"2025-02-25T14:05:15.025Z","role":"workflow:owner","workflowId":"1p6JCFCNCbWLU7LX","projectId":"LSMTPZdkzijhKOW0"}],"tags":[]}