climob-lead-qualification-report-to-trello-w4pPKodLibXCCsuR.json
{"createdAt":"2025-02-25T14:12:20.873Z","updatedAt":"2025-02-25T14:12:34.047Z","id":"w4pPKodLibXCCsuR","name":"CLImob Lead Qualification Report to Trello","active":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"a8c29fce-9ae8-45a1-b327-9b0a2a363421","leftValue":"={{ $json.fields['resposta5'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"6b03af64-d1f2-4c7b-b84e-d73b6a2cf67a","name":"If - Lead Respondeu Perguntas","type":"n8n-nodes-base.if","typeVersion":2,"position":[-480,40]},{"parameters":{},"id":"3fd0088e-a8a6-4b70-94ba-bf1a59167868","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-60,440]},{"parameters":{"assignments":{"assignments":[{"id":"5c0e8b9e-7734-44cc-af51-f57f1d7987df","name":"Resumo IA","value":"={{ $json.message.content }}","type":"string"}]},"options":{}},"id":"4072fe1b-3052-40c8-b146-51f80b2c521e","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[400,0]},{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"authentication":"airtableTokenApi","baseId":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"id"},"tableId":{"__rl":true,"value":"tblag7S42K0GZhAWB","mode":"id"},"triggerField":"Last Modified","additionalFields":{}},"id":"25a8ce82-af09-4765-ba85-ff097ae215d9","name":"Airtable Trigger TJ Leads Calendly Qualification","type":"n8n-nodes-base.airtableTrigger","typeVersion":1,"position":[-700,40]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appdXUjiqIKJCM0Nr","mode":"list","cachedResultName":"Telejud","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr"},"table":{"__rl":true,"value":"tblag7S42K0GZhAWB","mode":"list","cachedResultName":"Leads Clientes (Calendly)","cachedResultUrl":"https://airtable.com/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB"},"columns":{"mappingMode":"defineBelow","value":{"Airtable ID ":"={{ $('Airtable Trigger TJ Leads Calendly Qualification').item.json.id }}","lead_Report":"={{ $('OpenAI').item.json.message.content }}"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Enviar Proposta?","displayName":"Enviar Proposta?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cliente?","displayName":"Cliente?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Cliente de quem?","displayName":"Cliente de quem?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Emails","displayName":"Emails","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Qualification Calls","displayName":"Qualification Calls","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Status (from Qualification Calls)","displayName":"Status (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Summary (from Qualification Calls)","displayName":"Summary (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Recording_url (from Qualification Calls)","displayName":"Recording_url (from Qualification Calls)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}]},"options":{}},"id":"3ad9aca8-1797-45f0-96f7-7cbabcb4e877","name":"Airtable - Update Tag e Lead Report","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[1140,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"a8c29fce-9ae8-45a1-b327-9b0a2a363421","leftValue":"={{ $('Airtable Trigger TJ Leads Calendly Qualification').item.json.fields.lead_Report }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"ccc8ae8f-c649-41ac-9c2b-e84806a2d2ca","name":"If - Lead Report Necessário","type":"n8n-nodes-base.if","typeVersion":2,"position":[-240,20]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3BA420DED68C40D7E2682E99D8C4921B/token/11C80E39098BB6AEB4EEE997/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"F424e60c3a35c47fdb94513e0bb06e501S"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"351913095597\",\n  \"message\": \"O Lead {{ $('Airtable Trigger TJ Leads Calendly Qualification').item.json.fields.Name }} respondeu todas as perguntas para a reunião de triagem.\\n\\n{{ $json['Resumo IA'].replace(/(\\r\\n|\\n|\\r)/g, '\\\\n\\\\n').replace(/\"/g, '') }}\"\n}","options":{}},"id":"b3b3a924-9071-4358-8d0f-0e9790e46eb0","name":"Envia mensagem Zap para o Expert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,0]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Sua tarefa é fazer uma descrição para entendermos o perfil do potencial cliente chamado {{ $('Airtable Trigger TJ Leads Calendly Qualification').item.json.fields.Name }} que agendou uma reunião online com nosso escritório de advogados.\n\nAnalise as respostas do potencial cliente abaixo:\n\nPergunta: Fale com detalhes sobre os problemas que o motivaram a nos procurar e o porquê você agendou uma reunião conosco?\nResposta: {{ $('Airtable Trigger TJ Leads Calendly Qualification').item.json.fields.resposta1 }}\n\nPergunta: Fale um pouco sobre o que você faz.\nResposta: {{ $('Airtable Trigger TJ Leads Calendly Qualification').item.json.fields.resposta2 }}\n\nPergunta: Fale mais sobre você.\nResposta: {{ $('Airtable Trigger TJ Leads Calendly Qualification').item.json.fields.resposta3 }}. {{ $('Airtable Trigger TJ Leads Calendly Qualification').item.json.fields.resposta4 }}\n\nPergunta: Como você nos encontrou?\nResposta: {{ $('Airtable Trigger TJ Leads Calendly Qualification').item.json.fields.resposta5 }}\n\nPergunta: Você já conversou com outros especialistas sobre este assunto?\nResposta: {{ $('Airtable Trigger TJ Leads Calendly Qualification').item.json.fields.resposta6 }}\n\nAgora, escreva em plain text uma descrição completa do interessado para entendermos melhor o seu perfil e como poderemos ajudá-lo.\n\nO nome do lead é: {{ $('Airtable Trigger TJ Leads Calendly Qualification').item.json.Name }}"}]},"options":{}},"id":"bf2a37f8-2e13-43b8-9061-d9ed9bab52e6","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[0,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"239a73eb-d9d8-442c-aa10-ee9cd88be7f3","leftValue":"={{ $json.id }}","rightValue":"661cf24a16681ccc4842f785","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1780,0],"id":"6fa5d774-fa3d-4a9d-b071-d15261232792","name":"Filter - List Lead Calendly"},{"parameters":{"resource":"board","operation":"get","id":{"__rl":true,"value":"https://trello.com/b/Lwtg0qNp/cf-advogados-crm","mode":"url"},"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1340,0],"id":"dcfb7f16-a961-4f0a-a016-d2e609599513","name":"Trello - Board CF CRM"},{"parameters":{"url":"=https://api.trello.com/1/boards/{{ $json.id }}/lists","authentication":"predefinedCredentialType","nodeCredentialType":"trelloApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,0],"id":"24845935-8c5e-4a69-9d4b-e0fd1f98f912","name":"Get All Lists - Board CF CRM"},{"parameters":{"resource":"list","operation":"getCards","id":"661cf24a16681ccc4842f785","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[2020,0],"id":"8cfb9f69-0e9f-4dff-85a1-c96a795174fe","name":"Trello - Get All Cards on List Lead Calendly"},{"parameters":{"fieldToSplitOut":"name","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2240,0],"id":"cb221f29-7091-4478-873a-e824cbd9060b","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"226cdc23-253d-4cd9-828f-465dd67c715d","leftValue":"={{ $json.name }}","rightValue":"={{ $('Trello Create Comment Board Carol Blog').first().json.data.card.name }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2460,0],"id":"0302115e-e78b-40dc-8ad8-e4801ec28046","name":"Filter Card"},{"parameters":{"resource":"cardComment","cardId":{"__rl":true,"value":"={{ $('Filter Card').item.json.id }}","mode":"id"},"text":"={{ $('OpenAI').item.json.message.content }}"},"id":"ff183d61-cfbd-4458-b760-cf45af4d239a","name":"Trello Create Comment on Board CF CRM","type":"n8n-nodes-base.trello","typeVersion":1,"position":[2680,0]},{"parameters":{"resource":"cardComment","cardId":{"__rl":true,"value":"={{ $('Airtable Trigger TJ Leads Calendly Qualification').item.json.fields.trello_ID_Card }}","mode":"id"},"text":"={{ $('OpenAI').item.json.message.content }}"},"id":"ae5d6532-61be-4a33-b696-3cf441466fc1","name":"Trello Create Comment Board Carol Blog","type":"n8n-nodes-base.trello","typeVersion":1,"position":[900,0]}],"connections":{"If - Lead Respondeu Perguntas":{"main":[[{"node":"If - Lead Report Necessário","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Envia mensagem Zap para o Expert","type":"main","index":0}]]},"Airtable Trigger TJ Leads Calendly Qualification":{"main":[[{"node":"If - Lead Respondeu Perguntas","type":"main","index":0}]]},"If - Lead Report Necessário":{"main":[[{"node":"OpenAI","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Envia mensagem Zap para o Expert":{"main":[[{"node":"Trello Create Comment Board Carol Blog","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Airtable - Update Tag e Lead Report":{"main":[[{"node":"Trello - Board CF CRM","type":"main","index":0}]]},"Filter - List Lead Calendly":{"main":[[{"node":"Trello - Get All Cards on List Lead Calendly","type":"main","index":0}]]},"Trello - Board CF CRM":{"main":[[{"node":"Get All Lists - Board CF CRM","type":"main","index":0}]]},"Get All Lists - Board CF CRM":{"main":[[{"node":"Filter - List Lead Calendly","type":"main","index":0}]]},"Trello - Get All Cards on List Lead Calendly":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter Card","type":"main","index":0}]]},"Filter Card":{"main":[[{"node":"Trello Create Comment on Board CF CRM","type":"main","index":0}]]},"Trello Create Comment Board Carol Blog":{"main":[[{"node":"Airtable - Update Tag e Lead Report","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Airtable Trigger TJ Leads Calendly Qualification":[{"json":{"id":"recGV7peHdCfXzIbt","createdTime":"2025-02-12T10:38:42.000Z","fields":{"Event Type Name":"Fale Conosco CF","Calendly Start Date & Time":"2025-02-20T13:00:00.000Z","Calendly Event Created Date & Time":"2025-02-12T10:38:38.224Z","Email":"daiane.lima07@outlook.com","Airtable ID ":"recGV7peHdCfXzIbt","Name":"Daiane Lima","Telefone":"351932176235","Enviar Proposta?":"Não","off_Bot":true,"thread_id_openai":"thread_88chnbeRTGajIeX5zQ9Ym8Z7","last_Run":"run_QvTfxCKAxRTt2q4OxzS1fDUR","resposta1":"Gostaria de ajuda para um divórcio de comum acordo!","resposta2":"Eu sou empregada de limpeza, sou efetiva na empresa!","resposta3":"Sou brasileira.","resposta4":"Moro sim!","resposta5":"Através da internet.","resposta6":"Não","Created":"2025-02-12T10:38:42.000Z","Last Modified":"2025-02-12T10:56:24.000Z","trello_ID_Card":"67ac7a33c1ba099f272cfecd","Language":"Português","last_Message":"Data: 2025-02-12 10:55 - Sender: Assistant - Message: Muito obrigado por responder a todas as perguntas, Daiane. Todas essas informações serão consideradas na sua reunião com um dos nossos advogados.","concat_Messages":"Início\n\nData: 2025-02-12 10:49 - Sender: Daiane Lima - Message: Ok\n\nData: 2025-02-12 10:49 - Sender: Assistant - Message: Olá Daiane Lima! Sou o Nuno, do escritório Carolina Felix Advogados. Antes da sua reunião online com um dos nossos advogados, gostaria de fazer algumas perguntas rápidas para entender melhor a sua situação. Isso será muito útil para a sua reunião. \n\nPrimeiramente, poderia me contar com detalhes sobre os problemas que a motivaram a procurar um advogado e por que você agendou uma reunião conosco?\n\nData: 2025-02-12 10:50 - Sender: Daiane Lima - Message: Gostaria de ajuda para um divórcio de comum acordo!\n\nData: 2025-02-12 10:50 - Sender: Assistant - Message: Obrigado por partilhar essa informação. Agora, poderia me contar qual é a sua atividade atual? Você é empreendedora, estudante, aposentada? Fale um pouco sobre sua vida profissional.\n\nData: 2025-02-12 10:51 - Sender: Daiane Lima - Message: Eu sou empregada de limpeza, sou efetiva na empresa!\n\nData: 2025-02-12 10:52 - Sender: Assistant - Message: Obrigado por partilhar, Daiane. Qual é a sua nacionalidade?\n\nData: 2025-02-12 10:52 - Sender: Daiane Lima - Message: Sou brasileira\n\nData: 2025-02-12 10:52 - Sender: Assistant - Message: Obrigado! Você mora em Portugal?\n\nData: 2025-02-12 10:53 - Sender: Daiane Lima - Message: Moro sim!\n\nData: 2025-02-12 10:53 - Sender: Assistant - Message: Obrigado por confirmar. Como você descobriu nosso escritório?\n\nData: 2025-02-12 10:54 - Sender: Daiane Lima - Message: Através da internet\n\nData: 2025-02-12 10:55 - Sender: Assistant - Message: Ótimo, Daiane! Por último, você já conversou com outros advogados sobre este assunto?\n\nData: 2025-02-12 10:55 - Sender: Daiane Lima - Message: Não\n\nData: 2025-02-12 10:55 - Sender: Assistant - Message: Muito obrigado por responder a todas as perguntas, Daiane. Todas essas informações serão consideradas na sua reunião com um dos nossos advogados.","token_Usage_Total":28933,"counter_Messages":7,"thread_id_created":"2025-02-12T10:56:00.000Z","linkMeet":"https://calendly.com/events/1f5a1476-a00a-4894-8872-aaf8a7683891/google_meet","Obs":"Usuário pediu pra falar com humano","calendly_cancel_url":"https://calendly.com/cancellations/945669b5-8732-40ea-aec8-1b058a5c91e5","calendly_reschedule_url":"https://calendly.com/reschedulings/945669b5-8732-40ea-aec8-1b058a5c91e5"}}}]},"versionId":"3afe81ab-72ae-4fe5-9214-29df2329b95c","triggerCount":0,"tags":[]}