jinaai-gsheet-real-estate-scraper-8KcoxHr2hhktSja5.json
{"updatedAt":"2025-02-25T14:43:45.819Z","createdAt":"2025-02-25T14:43:45.819Z","id":"8KcoxHr2hhktSja5","name":"JinaAI GSheet Real Estate Scraper","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"722d5460-efa9-4b25-9c28-09bd8e6b2c2d","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"url":"=https://r.jina.ai/{{ $json.Idealista_Link }}","options":{}},"id":"3bcbe416-ab52-4d5c-b193-f3e1b3e03328","name":"Jina AI Scraper","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,0]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tbl1KUBXh9510d3eJ","mode":"list","cachedResultName":"Listings","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tbl1KUBXh9510d3eJ"},"filterByFormula":"{Morada} = \"\"","options":{}},"id":"0e052d83-e69e-4816-97d7-331734f4c216","name":"Airtable","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[220,0]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tbl1KUBXh9510d3eJ","mode":"list","cachedResultName":"Listings","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tbl1KUBXh9510d3eJ"},"columns":{"mappingMode":"defineBelow","value":{"Airtable ID":"={{ $('Airtable').item.json['Airtable ID'] }}","Morada":"={{ $json.choices[0].message.content.address }},  {{ $json.choices[0].message.content.neighborhood }},  {{ $json.choices[0].message.content.city }}","Cidade":"={{ $json.choices[0].message.content.city }}","Tag_Name":"={{ $json.choices[0].message.content.name }}","Propriedade_Info":"={{ $json.choices[0].message.content.description }}"},"matchingColumns":["Airtable ID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID","displayName":"Airtable ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Morada","displayName":"Morada","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Andar","displayName":"Andar","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cidade","displayName":"Cidade","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Locais","displayName":"Locais","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Info_fromLocais","displayName":"Info_fromLocais","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Link_Info_fromLocais","displayName":"Link_Info_fromLocais","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Active","value":"Active"},{"name":"Offer Made","value":"Offer Made"},{"name":"In Contract","value":"In Contract"},{"name":"Off Market","value":"Off Market"},{"name":"None","value":"None"}],"readOnly":false,"removed":true},{"id":"Tag_Name","displayName":"Tag_Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Propriedade_Info","displayName":"Propriedade_Info","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Propriedade_Resumo","displayName":"Propriedade_Resumo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Asking_Price","displayName":"Asking_Price","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Area (m2)","displayName":"Area (m2)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"N_Quartos","displayName":"N_Quartos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"N_Banheiros","displayName":"N_Banheiros","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Certificado_Energetico","displayName":"Certificado_Energetico","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Attachments","displayName":"Attachments","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Idealista_Link","displayName":"Idealista_Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Site_Link","displayName":"Site_Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Agent","displayName":"Agent","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Agent (from Agent)","displayName":"Agent (from Agent)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Company","displayName":"Company","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Leads","displayName":"Leads","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Name_fromLeads","displayName":"Name_fromLeads","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"First_Listed","displayName":"First_Listed","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}]},"options":{}},"id":"d183d447-4ece-4e2c-b3f2-a8652bb4d716","name":"Airtable1","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[1080,0]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"Você é um especialista em mercado imobiliário com muita experiência que recebe informações propriedades. Não escreva símbolos como backticks ou aspas (“) em suas respostas.","role":"system"},{"content":"Eu sou um especialista em mercado imobiliário e quero promover o imóvel abaixo:\n\nApartamento T2 à venda na rua dos Parceiros, 1142\n\n228.000€ \n158 m² área bruta \nT2 com elevador \nGaragem incluída\n\nRua dos Parceiros, 1142, Parceiros e Azoia, Leiria\n\nANG1013\n\nDescrição do imóvel:\nApartamento T2, em bom estado de conservação, inserido em condomínio fechado com piscina exterior, localizado na Urbanização de Santa Clara, Leiria.\nO apartamento é constituído por:\n- Sala de estar ampla, com ar condicionado e acesso a varanda e espaço exterior- Cozinha equipada com frigorifico, máquina de lavar roupa e loiça, forno, placa, exaustor e esquentador a gás\n- Quarto suite, com roupeiro embutido\n- Quarto com roupeiro embutido\n- Casa de banho da suite com banheira\n- Casa de banho com base de duche\n- Garagem box\n- Sótão para arrumos\n\nPrincipais características:\n- Estores elétricos\n- Aspiração central\n- Ar condicionado na sala\n- Pré-instalação de ar condicionado nas restantes divisões\n- Varanda- Parcela de terreno com 50 m2, integrante ao imóvel\n- Piscina e espaço de jardim com churrasqueira, pertencente ao condomínio\n\nLocalização e envolvente: Localizada na tranquila urbanização de Santa Clara, Parceiros.A cidade de Leiria fica a 5 minutos de distância, onde pode encontrar todo o tipo de serviços e comércio, tais como restaurantes, supermercados, mercado, hospital público, finanças, correios, bancos, etc. Muito próximo dos principais nós de acesso às autoestradas A8 e A1\n\nOutros valores:\nValor do IMI: 349,5€/ano\nValor de condomínio: 38€/mês\nConstruído em 2010\nPrédio Com elevador\nAr condicionado\nPiscina\nZonas verdes\nCertificado energético\nClasse energética: C\n\nAnúncio atualizado há 4 dias\n\nPreço do imóvel:228.000€\nPreço por m²:1.443€/m²\nLocalização: Rua dos Parceiros, 1142, Parceiros e Azoia, Leiria\n\nAnúncio atualizado no dia 22 de Março\n\nLink adicional www.angariax.pt/imoveis/show.aspx?idcont=1228\n\nReferência do anúncio ANG1013\nProfissional ANGARIAX\nAngariax AMI 17744\nLeiria - Pousos - Barreira e Cortes\n\nQuero extrair algumas informações do imóvel acima e quero que você escreva a resposta no formato JSON abaixo:\n\n{\n  \"name\":\"property title enters here“,\n  \"description\":\"description of the property enters here\",\n  \"address\":\"property address enters here“,\n  \"neighborhood\":\"neighborhood enters here“,\n  \"city\":\"city enters here\",\n  \"price\":\"property asking price“,\n  \"area\":\"the area of the property enters here“,\n  \"numberRooms\":\"the number of rooms enters here“,\n  \"agent\":\"agent contact info enters here“\n  }\n\nReturn the output in json format only. I don´t want text or characters before or after the json is returned and don´t say JSON at the beginning. Never use symbols like backticks or quotation marks (“) in your responses."},{"content":"{\n  \"name\":\"Apartamento T2 à venda na Rua dos Parceiros, 1142“,\n  \"description\":\"Apartamento T2, em bom estado de conservação, inserido em condomínio fechado com piscina exterior, localizado na Urbanização de Santa Clara, Leiria.\nO apartamento é constituído por:\n- Sala de estar ampla, com ar condicionado e acesso a varanda e espaço exterior- Cozinha equipada com frigorifico, máquina de lavar roupa e loiça, forno, placa, exaustor e esquentador a gás\n- Quarto suite, com roupeiro embutido\n- Quarto com roupeiro embutido\n- Casa de banho da suite com banheira\n- Casa de banho com base de duche\n- Garagem box\n- Sótão para arrumos\nPrincipais características:\n- Estores elétricos\n- Aspiração central\n- Ar condicionado na sala\n- Pré-instalação de ar condicionado nas restantes divisões\n- Varanda- Parcela de terreno com 50 m2, integrante ao imóvel\n- Piscina e espaço de jardim com churrasqueira, pertencente ao condomínio\n- Sala de estar ampla, com ar condicionado e acesso a varanda e espaço exterior\n- Cozinha equipada com frigorifico, máquina de lavar roupa e loiça, forno, placa, exaustor e esquentador a gás\n- Quarto suite, com roupeiro embutido\n- Quarto com roupeiro embutido\n- Casa de banho da suite com banheira\n- Casa de banho com base de duche\n- Garagem box\n- Sótão para arrumos\n- Estores elétricos\n- Aspiração central\n- Ar condicionado na sala\n- Pré-instalação de ar condicionado nas restantes divisões\n- Varanda- Parcela de terreno com 50 m2, integrante ao imóvel\n- Piscina e espaço de jardim com churrasqueira, pertencente ao condomínio\nApartamento T2, em bom estado de conservação, inserido em condomínio fechado com piscina\",\n  \"address\":\"Rua dos Parceiros, 1142“,\n  \"neighborhood\":\"Parceiros e Azoia“,\n  \"city\":\"Leiria\",\n  \"price\":\"228000“,\n  \"area\":\"158“,\n  \"numberRooms\":\"2“,\n  \"agent\":\"ANGARIAX“,\n}","role":"assistant"},{"content":"=Below are informations scraped from a property:\n\n{{ $json.data }}\n\nI want you to extract some informations about this property and write them into this json format:\n\n{\n  \"name\":\"property title enters here“,\n  \"description\":\"description enters here\",\n  \"address\":\"property address enters here“,\n  \"neighborhood\":\"neighborhood enters here“,\n  \"city\":\"city enters here\",\n  \"price\":\"property asking price“,\n  \"area\":\"the area of the property enters here“,\n  \"numberRooms\":\"the number of rooms enters here“,\n  \"agent\":\"agent contact info enters here“\n  }\n\nReturn the output in json format only. I don´t want text or characters before or after the json is returned and don´t say JSON at the beginning. Never use symbols like backticks or quotation marks (“) in your responses."}]},"simplify":false,"jsonOutput":true,"options":{}},"id":"5b004b28-d78c-429c-afd6-a94c6a8ce1e5","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[700,0]}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Jina AI Scraper":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"Jina AI Scraper","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Airtable1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f8f56113-1ba3-4881-b004-5dde145f077d","triggerCount":0,"shared":[{"updatedAt":"2025-02-25T14:43:45.819Z","createdAt":"2025-02-25T14:43:45.819Z","role":"workflow:owner","workflowId":"8KcoxHr2hhktSja5","projectId":"LSMTPZdkzijhKOW0"}],"tags":[]}