real-estate-bot-lKIjHQRG9k49Jn5t.json
{"createdAt":"2025-02-25T14:44:47.876Z","updatedAt":"2025-02-25T14:44:47.876Z","id":"lKIjHQRG9k49Jn5t","name":"Real Estate Bot","active":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"46585015-202f-48e9-8e3e-e9d0a75649c0","leftValue":"={{ $('Normalizacao').item.json['from me?'] }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"01496a9e-5d96-41ea-97e1-b68a6028caff","name":"If - From me","type":"n8n-nodes-base.if","typeVersion":2,"position":[-7500,1700]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"off_Bot":true,"AirtableID":"={{ $('Airtable - Search User 1').item.json.AirtableID }}"},"matchingColumns":["AirtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"AirtableID","displayName":"AirtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}]},"options":{}},"id":"9377632f-dc35-4a5b-a91e-ea2db4a465b2","name":"Airtable - Update Bot Off","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-7120,1560]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"off_Bot":false,"AirtableID":"={{ $('Airtable - Search User 1').item.json.AirtableID }}"},"matchingColumns":["AirtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"AirtableID","displayName":"AirtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}]},"options":{}},"id":"727e5592-f8c1-45ae-9741-d636863fa2e4","name":"Airtable - Update Bot On","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-7120,1260]},{"parameters":{"content":"## Ativar/Desativar Bot","height":732.4140750421333,"width":676.8992889485663},"id":"f8cf8890-d097-4f72-bc61-59e1401b30d0","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-7540,1200],"typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"abdc51b1-c595-49d4-8bcb-f47ed719dec4","leftValue":"={{ $('Airtable - Search User 1').item.json.AirtableID }}","rightValue":"1999-12-31T19:00:00.000-05:00","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e9b71313-f291-45cb-ae51-73f422c9818f","name":"If - User is in Leads","type":"n8n-nodes-base.if","typeVersion":2,"position":[-6760,1720]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"251b6d78-bd88-4da7-801d-d33e244fca44","name":"Cria thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6600,1880]},{"parameters":{},"id":"485a2c4c-3c76-4b9e-90ea-6d1db9fd151d","name":"Merge User","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-5960,1720]},{"parameters":{"url":"=https://sync.api.cloudconvert.com/v2/jobs/{{ $('Show a Job in CloudConvert').item.json.data.tasks[0].job_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiODczNTNkYzlhMmVlNjU4ZDUxOWViMWM3ZmFkNTk5YTE2ZTE5OTk5ODk3ZDAxNmEyY2QzODFjYzFmZGNjZGIwZTE1NzJiM2UxYjczZmZjODgiLCJpYXQiOjE2OTEzMTI4OTAuNDk1MTExLCJuYmYiOjE2OTEzMTI4OTAuNDk1MTEyLCJleHAiOjQ4NDY5ODY0OTAuNDg3ODc2LCJzdWIiOiI0NDg5MzAwOSIsInNjb3BlcyI6WyJ1c2VyLnJlYWQiLCJ1c2VyLndyaXRlIiwidGFzay5yZWFkIiwidGFzay53cml0ZSIsIndlYmhvb2sucmVhZCIsIndlYmhvb2sud3JpdGUiLCJwcmVzZXQucmVhZCIsInByZXNldC53cml0ZSJdfQ.Dty-l3L4I70eo5o3PUbIFOhiRSz-b3pgp1hHCaUgJu3G4i-rQj-f2wlKzmpShkXWPSAeoS5WxpErAwAN3kFyX9-eU7nr3Ks2HwUFsPije-pX448ghwlXImY3atelkhbGBsCpPxxe3rXM4xWtDYlxYhOIzARki2NKAIVkSfMDmv2oV104wYtt_CJd6--8YN79CDCIocPDaPQOtzFFRLowbCFHR8wAbN3fVzPzKA_eFBbhSUY70VjXQVWsWj49i50NMut_CGrWKYGWtBT-SPnvxdgPHDh6L2REpMZuKLmWnwWgfeLoVNjgJ1FJFRhzSRzVjfEk5A45CNDBOLf4F83HMB-Rck6Rdq1FMyQaIWRKEpi10s_hupMoP6iRHPJRJwZdEAK9JtsZNa4LZs9czVECLMd81gyAbKRMI9k6Mee-LmKdO3oN3kwLPjXclSP8Pj-6jft8sqHHKUq8SI3LGezbWknz6f7JQcY_vEhz1gv3h5cUGiVlWLgmOsPaU_uB4iAPbjbfimjYQKaJzLM8XddXZ26iTOu7_o-4ONd0ZJu6IzfFR1R85WM6NkTybbp9Z9W_rhaOk_Yp5jAlA2vZADBoRtvI89Yn-_RAotYLQx5HiHUDWL6HSG1L2MntuwVMu1utTRbLAJGnNpwLlMk_UDb_yMD2jROPLI_wm3laRz_9-W4"}]},"options":{}},"id":"f8bf8b02-16e5-4405-a131-2df65869842c","name":"Get JSON from CloudConvert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2720,1200]},{"parameters":{"url":"=https://api.cloudconvert.com/v2/jobs/{{ $('ogg to mp3 Create a Job no CloudConvert').item.json.data.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiODczNTNkYzlhMmVlNjU4ZDUxOWViMWM3ZmFkNTk5YTE2ZTE5OTk5ODk3ZDAxNmEyY2QzODFjYzFmZGNjZGIwZTE1NzJiM2UxYjczZmZjODgiLCJpYXQiOjE2OTEzMTI4OTAuNDk1MTExLCJuYmYiOjE2OTEzMTI4OTAuNDk1MTEyLCJleHAiOjQ4NDY5ODY0OTAuNDg3ODc2LCJzdWIiOiI0NDg5MzAwOSIsInNjb3BlcyI6WyJ1c2VyLnJlYWQiLCJ1c2VyLndyaXRlIiwidGFzay5yZWFkIiwidGFzay53cml0ZSIsIndlYmhvb2sucmVhZCIsIndlYmhvb2sud3JpdGUiLCJwcmVzZXQucmVhZCIsInByZXNldC53cml0ZSJdfQ.Dty-l3L4I70eo5o3PUbIFOhiRSz-b3pgp1hHCaUgJu3G4i-rQj-f2wlKzmpShkXWPSAeoS5WxpErAwAN3kFyX9-eU7nr3Ks2HwUFsPije-pX448ghwlXImY3atelkhbGBsCpPxxe3rXM4xWtDYlxYhOIzARki2NKAIVkSfMDmv2oV104wYtt_CJd6--8YN79CDCIocPDaPQOtzFFRLowbCFHR8wAbN3fVzPzKA_eFBbhSUY70VjXQVWsWj49i50NMut_CGrWKYGWtBT-SPnvxdgPHDh6L2REpMZuKLmWnwWgfeLoVNjgJ1FJFRhzSRzVjfEk5A45CNDBOLf4F83HMB-Rck6Rdq1FMyQaIWRKEpi10s_hupMoP6iRHPJRJwZdEAK9JtsZNa4LZs9czVECLMd81gyAbKRMI9k6Mee-LmKdO3oN3kwLPjXclSP8Pj-6jft8sqHHKUq8SI3LGezbWknz6f7JQcY_vEhz1gv3h5cUGiVlWLgmOsPaU_uB4iAPbjbfimjYQKaJzLM8XddXZ26iTOu7_o-4ONd0ZJu6IzfFR1R85WM6NkTybbp9Z9W_rhaOk_Yp5jAlA2vZADBoRtvI89Yn-_RAotYLQx5HiHUDWL6HSG1L2MntuwVMu1utTRbLAJGnNpwLlMk_UDb_yMD2jROPLI_wm3laRz_9-W4"}]},"options":{}},"id":"139c36da-bd64-4928-96d5-f4eab1f24932","name":"Show a Job in CloudConvert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3060,1340]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"018d37bf-2a88-4f24-a748-5eeaec24ab18","leftValue":"={{ $json.data.status }}","rightValue":"finished","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"e93d197c-ec38-4960-aacc-e286e344c33d","name":"If Status Finished","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2880,1340]},{"parameters":{"assignments":{"assignments":[{"id":"beddbea7-a1e9-48a2-84fb-7d843eded789","name":"message","value":"={{ $('Webhook').item.json.body.text.message }}","type":"string"}]},"options":{}},"id":"6f5f1050-010d-4f6f-a38e-bcb95886cccd","name":"Set Message From Text","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2680,1740]},{"parameters":{},"id":"18b7ac37-6aa9-4abb-92dc-4f5ded983b48","name":"Merge Messages","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-1880,1760]},{"parameters":{"method":"POST","url":"https://api.cloudconvert.com/v2/jobs","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiODczNTNkYzlhMmVlNjU4ZDUxOWViMWM3ZmFkNTk5YTE2ZTE5OTk5ODk3ZDAxNmEyY2QzODFjYzFmZGNjZGIwZTE1NzJiM2UxYjczZmZjODgiLCJpYXQiOjE2OTEzMTI4OTAuNDk1MTExLCJuYmYiOjE2OTEzMTI4OTAuNDk1MTEyLCJleHAiOjQ4NDY5ODY0OTAuNDg3ODc2LCJzdWIiOiI0NDg5MzAwOSIsInNjb3BlcyI6WyJ1c2VyLnJlYWQiLCJ1c2VyLndyaXRlIiwidGFzay5yZWFkIiwidGFzay53cml0ZSIsIndlYmhvb2sucmVhZCIsIndlYmhvb2sud3JpdGUiLCJwcmVzZXQucmVhZCIsInByZXNldC53cml0ZSJdfQ.Dty-l3L4I70eo5o3PUbIFOhiRSz-b3pgp1hHCaUgJu3G4i-rQj-f2wlKzmpShkXWPSAeoS5WxpErAwAN3kFyX9-eU7nr3Ks2HwUFsPije-pX448ghwlXImY3atelkhbGBsCpPxxe3rXM4xWtDYlxYhOIzARki2NKAIVkSfMDmv2oV104wYtt_CJd6--8YN79CDCIocPDaPQOtzFFRLowbCFHR8wAbN3fVzPzKA_eFBbhSUY70VjXQVWsWj49i50NMut_CGrWKYGWtBT-SPnvxdgPHDh6L2REpMZuKLmWnwWgfeLoVNjgJ1FJFRhzSRzVjfEk5A45CNDBOLf4F83HMB-Rck6Rdq1FMyQaIWRKEpi10s_hupMoP6iRHPJRJwZdEAK9JtsZNa4LZs9czVECLMd81gyAbKRMI9k6Mee-LmKdO3oN3kwLPjXclSP8Pj-6jft8sqHHKUq8SI3LGezbWknz6f7JQcY_vEhz1gv3h5cUGiVlWLgmOsPaU_uB4iAPbjbfimjYQKaJzLM8XddXZ26iTOu7_o-4ONd0ZJu6IzfFR1R85WM6NkTybbp9Z9W_rhaOk_Yp5jAlA2vZADBoRtvI89Yn-_RAotYLQx5HiHUDWL6HSG1L2MntuwVMu1utTRbLAJGnNpwLlMk_UDb_yMD2jROPLI_wm3laRz_9-W4"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"tasks\": {\n        \"import_audio\": {\n            \"operation\": \"import/url\",\n            \"url\": \"{{ $('Normalizacao').item.json.message_object_zapi.audioUrl }}\",\n            \"filename\": \"audio-{{ $('Normalizacao').item.json.message_id }}.ogg\"\n        },\n        \"convert_audio\": {\n            \"operation\": \"convert\",\n            \"input_format\": \"ogg\",\n            \"output_format\": \"mp3\",\n            \"engine\": \"ffmpeg\",\n            \"input\": [\"import_audio\"],\n            \"audio_codec\": \"mp3\",\n            \"audio_qscale\": 0,\n            \"engine_version\": \"6.0.1\",\n            \"filename\": \"audio-$('Normalizacao').item.json.message_id }}.mp3\",\n            \"timeout\": 120\n        },\n        \"export_audio\": {\n            \"operation\": \"export/url\",\n            \"input\": [\"convert_audio\"],\n            \"archive_multiple_files\": false\n        }\n    },\n    \"tag\": \"jobbuilder\"\n}","options":{}},"id":"548fb405-edf6-4c1e-895f-a210bb820e6b","name":"ogg to mp3 Create a Job no CloudConvert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3420,1340]},{"parameters":{"url":"={{ $json.data.tasks[0].result.files[0].url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"e09aad10-cbb9-4348-8ade-854e78e33912","name":"Get mp3 File","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2540,1200],"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/instances/{{ $('Z-api Credentials').item.json['z-api_instanciaID'] }}/token/{{ $('Z-api Credentials').item.json['z-api_instancia_tokenID'] }}/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"={{ $('Z-api Credentials').item.json['z-api_client_token'] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=phone","value":"={{ $('Normalizacao').item.json.user_phone }}"},{"name":"message","value":"=*Transcrição do Audio:* \n{{ $json.text }}"}]},"options":{}},"id":"90ed7f2e-2ead-4d11-b2f1-62869d3cd270","name":"Envia transcrição do audio Zap User","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2200,1180]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"model","value":"whisper-1"}]},"options":{"response":{}}},"id":"aab5d0ed-fb92-4cef-aac9-93646ec735f6","name":"Create Transcription OpenAI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2360,1180]},{"parameters":{"assignments":{"assignments":[{"id":"beddbea7-a1e9-48a2-84fb-7d843eded789","name":"message","value":"={{ $('Create Transcription OpenAI').item.json.text }}","type":"string"}]},"options":{}},"id":"3690fe9d-ec69-482d-b120-9a151acc9ef2","name":"Set Message From Audio","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2040,1180]},{"parameters":{"content":"## Gerir Media Types da Mensagem","height":1704.8334077663476,"width":1862.8514225014492},"id":"67a65a59-3e81-4aa8-8cc1-625cfe410cf2","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-3600,1100],"typeVersion":1},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo').item.json.fields.thread_id_openai }}/runs/{{ $('List Runs').item.json[\"first_id\"] }}/cancel ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"5f7ffe62-2af4-4d6c-a4a2-02a3d2bf3ef6","name":"Cancel a Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1460,2020]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo').item.json.fields.thread_id_openai }}/messages ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"user"},{"name":"content","value":"={{ $('Webhook').item.json.body.text.message }}\n\nData e hora de agora: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }}"}]},"options":{}},"id":"f15a04c7-88be-43e6-8ef8-95caced74148","name":"Create Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,1840],"onError":"continueErrorOutput"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo').item.json.fields.thread_id_openai }}/runs   ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"80f0d6e2-0ded-4304-aee9-db7a0928a698","name":"List Runs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,2020]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo').item.json.fields.thread_id_openai }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"f6c834fb-772d-48d2-8588-6537d317a637","name":"List Messages","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,1820]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"396adb2d-4693-4395-bf0c-410c069cbaae","leftValue":"={{ $('Create Message').item.json.id }}","rightValue":"={{ $json.data[0].id }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"e760b63c-7b6d-4be7-8fcc-d79672d73931","name":"If - Last message equal to first message - Fila de Mensagens","type":"n8n-nodes-base.if","typeVersion":2,"position":[2180,1820]},{"parameters":{},"id":"2c0c9b98-b3e2-4e82-9020-010b18863767","name":"Queue Message","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2380,1960]},{"parameters":{"content":"## Aguarda Mensagens Picadas pra enviar tudo de uma vez","height":369.94098946897,"width":830.4978502607303},"id":"d7a8a1ad-dd56-45b3-b545-c935e8f848cf","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1720,1740],"typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"bc590144-e352-4b1b-9530-1541496352d8","leftValue":"={{ $('Airtable - Update ThreadID de novo').item.json.off_Bot }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"6d31e463-72d3-483d-a316-8ff16220792c","name":"If - Off-Bot","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1640,1760]},{"parameters":{},"id":"470c4018-2e25-46a0-8601-5f7d65640a5d","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1420,1520]},{"parameters":{"content":"## Create Message Assistant OpenAI","height":505.68354057384374,"width":612.5780148398112},"id":"5fc37a02-1ea0-43f6-b59f-5a90458a0938","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1020,1740],"typeVersion":1},{"parameters":{"amount":4},"id":"11a154b4-d8b3-4f8f-b1ca-7cc256a845b8","name":"Wait 4s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3420,1960],"webhookId":"aa1b52d0-c977-4026-b078-23092a7ae25f"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"4fbc5f93-0475-4fe3-8daa-59150e0afcd6","leftValue":"={{ $json.status }}","rightValue":"queued","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"5e37e566-5e2a-4961-a7c4-19362f5b71f7","leftValue":"={{ $json.status }}","rightValue":"in_progress","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"548ffdfd-bac1-49c7-83c3-9b329cbe7601","name":"If - Run Status queued or in_progress","type":"n8n-nodes-base.if","typeVersion":2,"position":[3280,1800]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"last_Run":"={{ $json.id }}","AirtableID":"={{ $('Airtable - Search User 3').item.json.AirtableID }}"},"matchingColumns":["AirtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"AirtableID","displayName":"AirtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}]},"options":{}},"id":"b9ab8333-4c12-430a-b918-0dad3e13ca1d","name":"Airtable - Update RunID","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[2860,1800]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo').item.json.fields.thread_id_openai }}/runs/{{ $('Run Assistant').item.json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"a2684507-8a1b-414b-8d08-00173baa9808","name":"Get Run Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3060,1800]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update concat_Message').item.json.fields.thread_id_openai }}/runs  ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"},{"name":"additional_instructions","value":"=O Nome deste Usuário é {{ $('Airtable - Update ThreadID de novo').item.json.fields.Name }}. Responda sempre na mesma língua do usuário: {{ $('Airtable - Update ThreadID de novo').item.json.fields.Language }}. Seguem informações importantes: A Data e hora de agora é {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }}. O Link para Cancelamento da Reunião Evento de Agendamento: {{ $('Airtable - Update ThreadID de novo').item.json.calendly_cancel_url }} e o Link para Reagendamento da Reunião Evento de Agendamento: {{ $('Airtable - Update ThreadID de novo').item.json.calendly_reschedule_url }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"asst_ZDO6WsWV5SnjW5yMY9XXUPfa"}]},"options":{}},"id":"5b1b58af-0222-4f56-9401-0d566f1a60ca","name":"Run Assistant","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2660,1800]},{"parameters":{"content":"## Run Assistant OpenAI","height":505.68354057384374,"width":971.2671105296424},"id":"dfb8f48d-943a-4f77-b7c4-10343c4e7ca2","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[2620,1700],"typeVersion":1},{"parameters":{"content":"## Criar e Gerir Usuário","height":488.14640160913893,"width":995.7766954122012},"id":"b935c8e6-dd5d-4054-bffb-b9ee558ef31f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-6820,1600],"typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"30709591-c9a0-4a59-8e36-43b031179021","leftValue":"={{ $json.thread_id_openai }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"f980be6c-e3a1-472c-ac22-e74e51999116","name":"No Thread","type":"n8n-nodes-base.if","typeVersion":2,"position":[-5460,1720]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"off_Bot":false,"AirtableID":"={{ $('Airtable - Search User 2').item.json.AirtableID }}","thread_id_created":"={{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }}","thread_id_openai":"={{ $('Cria thread de novo').item.json.id }}","tags":"=[]","chatbase_ConversationID":"={{ \"\" }}"},"matchingColumns":["AirtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Counter_Messages","displayName":"Counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"AirtableID","displayName":"AirtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Mkt","value":"Mkt"},{"name":"Suporte","value":"Suporte"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"EntrouNoFluxo","value":"EntrouNoFluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false},{"id":"chatbase_ConversationID","displayName":"chatbase_ConversationID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}]},"options":{}},"id":"1020cfc3-686b-46f7-9b83-6be86325cc56","name":"Airtable - Update User","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-4400,1540]},{"parameters":{"content":"## Gerir Thread do Usuário na OpenAI (Cria nova thread se última mensagem há mais de 24h)","height":493.39541514440566,"width":1848.9675125912752},"id":"8fe1a71f-7361-47a6-9536-7a3799b0ede6","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[-5500,1440],"typeVersion":1},{"parameters":{},"id":"db95cfb8-e858-428c-93f1-39de7b5e0f83","name":"Merge User1","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-4220,1720]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"71c34521-fa3a-4d7b-9764-8aa54acbbb39","name":"Cria thread de novo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5060,1540]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/instances/{{ $('Z-api Credentials').item.json['z-api_instanciaID'] }}/token/{{ $('Z-api Credentials').item.json['z-api_instancia_tokenID'] }}/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"={{ $('Z-api Credentials').item.json['z-api_client_token'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"phone\": {{ $('Normalizacao').item.json.user_phone }},\n  \"message\": \"Eu sou o Max e conduzirei o seu atendimento daqui pra frente! Vou te enviar um menu para te ajudar com o que precisa!\\n1 - Marketing Imobiliário\\n2 - Compra de Imóvel\\n3 - Venda de Imóvel\\n4 - Aluguéis\\n5 - Suporte\\nBasta *DIGITAR O NÚMERO* da opção escolhida para dar continuidade. Peço que aguarde só mais alguns segundos que já falo com você.\"\n} ","options":{}},"id":"ed03132d-866d-4c55-a790-0be361870a2f","name":"Envia mensagem Zap","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4840,1540]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Cria thread de novo').item.json.id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"assistant"},{"name":"content","value":"=Olá. Aqui é o Max. Vou te enviar um menu para te ajudar com o que precisa! 1 - Marketing Imobiliário 2 - Compra de Imóvel 3 - Venda de Imóvel 4 - Aluguéis 5 - Suporte Basta DIGITAR O NÚMERO da opção escolhida para dar continuidade. Peço que aguarde só mais alguns segundos que já falo com você."}]},"options":{}},"id":"dd213bec-3636-4a06-9d6d-26543137b4e1","name":"Create Message Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4620,1540]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Cria thread').item.json.id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"assistant"},{"name":"content","value":"=Olá. Eu sou o Max e conduzirei o seu atendimento daqui pra frente! Vou te enviar um menu para te ajudar com o que precisa! 1 - Marketing Imobiliário 2 - Compra de Imóvel 3 - Venda de Imóvel 4 - Aluguéis 5 - Suporte Basta DIGITAR O NÚMERO da opção escolhida para dar continuidade. Peço que aguarde só mais alguns segundos que já falo com você."}]},"options":{}},"id":"3bb90013-87d7-41d3-ae94-970acd64c9ae","name":"Create First Message Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6280,1880]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"filterByFormula":"=RIGHT({Whatsapp}, 8) = {{ $('Normalizacao').item.json.user_phone.slice(-8) }}","options":{}},"id":"eb87f083-16a0-4268-b5c3-be62d8254c15","name":"Airtable - Search User 1","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-7740,1700],"alwaysOutputData":true},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"filterByFormula":"=RIGHT({Whatsapp}, 8) = {{ $('Normalizacao').item.json.user_phone.slice(-8) }}","options":{}},"id":"7b4dbed9-5581-4919-bc39-29b469610556","name":"Airtable - Search User 2","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-5700,1720],"alwaysOutputData":true},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"filterByFormula":"=RIGHT({Whatsapp}, 8) = {{ $('Normalizacao').item.json.user_phone.slice(-8) }}","options":{}},"id":"af7e81d1-0ea0-40a0-b0db-0ce6cb2196ee","name":"Airtable - Search User 3","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-4040,1720],"alwaysOutputData":true},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"thread_id_openai":"={{ $json.thread_id_openai }}","AirtableID":"={{ $json.AirtableID }}"},"matchingColumns":["AirtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"AirtableID","displayName":"AirtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}]},"options":{}},"id":"dbe9488e-4b14-4ff4-978a-2d81e55c5330","name":"Airtable - Update ThreadID de novo","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-3820,1720]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"concat_Messages":"={{ $('Airtable - Update ThreadID de novo').item.json.fields.concat_Messages }}\n\nData: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: {{ $('Webhook').item.json.body.senderName }} - Message: {{ $('Merge Messages').item.json.message }}","AirtableID":"={{ $('Airtable - Search User 3').item.json.AirtableID }}"},"matchingColumns":["AirtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"AirtableID","displayName":"AirtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}]},"options":{}},"id":"4f596c92-48ad-47cf-b500-1249758a1bac","name":"Airtable - Update concat_Message","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[1460,1820]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CE1F33CC7D0F0A61DE9EEE17BD0D626/token/E1A4AE25C2EBBD6AA4380791/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"F424e60c3a35c47fdb94513e0bb06e501S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=phone","value":"={{ $('Webhook').item.json.body.phone }}"},{"name":"message","value":"Tivemos um problema ao processar sua mensagem. Por favor repita ou aguarde um pouco."}]},"options":{}},"id":"d3ce4521-c4e3-48bd-869c-0ce9be15f71a","name":"Envia mensagem Zap de erro","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4240,3040]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"tool_call_id\": \"{{ $('Separa Arguments').item.json['properties']['id'] }}\",\n  \"output\": \"name: {{ $json[\"Name\"] }} whatsapp: {{ $json[\"Whatsapp\"] }} email: {{ $json[\"Email\"] }}\"\n}\n","options":{}},"id":"30861cba-d9c1-48ce-8ff5-c0e016acddf2","name":"Tool Call ID - get_user_data","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[5760,1120]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"AirtableID":"={{ $('Airtable - Search User 3').item.json.AirtableID }}","Email":"={{ $('Separa Arguments').item.json.arguments.email }}","Obs":"Lead conversou com bot por Whatsapp"},"matchingColumns":["AirtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Counter_Messages","displayName":"Counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"AirtableID","displayName":"AirtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"}],"readOnly":false,"removed":false}]},"options":{}},"id":"3d3f1e63-e52b-4065-b482-5cfddddee446","name":"Airtable - Save User Data","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[5520,1340]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"tool_call_id\": \"{{ $('Separa Arguments').item.json['properties']['id'] }}\",\n  \"output\": \"Dados cadastrados com sucesso. Nome: {{ $json.fields.Name }} Email: {{ $json.fields.Email }} Whatsapp: {{ $json.fields.Whatsapp }}\"\n}\n","options":{}},"id":"f4568ab9-25f7-43ad-aab5-c6cd0774ca17","name":"Tool Call ID - save_user_data","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[5760,1340]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/messages?order=desc ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"79f873bd-62e0-47f8-86f9-530a69ac1427","name":"Pega a ultima mensagem OpenAI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4220,2820]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CE1F33CC7D0F0A61DE9EEE17BD0D626/token/E1A4AE25C2EBBD6AA4380791/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"F424e60c3a35c47fdb94513e0bb06e501S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=phone","value":"={{ $('Webhook').item.json.body.phone }}"},{"name":"message","value":"={{ $json.message }}"}]},"options":{}},"id":"104892dc-c530-41d0-a8bf-225b5afdfef5","name":"Envia resposta Zap","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5380,2920]},{"parameters":{"base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"id":"={{ $('Airtable - Update ThreadID de novo').item.json.fields.AirtableID }}","options":{}},"id":"63fd6888-6e4e-4d39-ab3f-09efe5a8429a","name":"Airtable - Get User Data","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[5520,1120]},{"parameters":{"jsCode":"return items.map(item => {\n    const args = item.json.arguments;  // Assuming the arguments are stored here\n    let formulaParts = [];\n\n    // Loop over each argument to create part of the formula\n    for (const key in args) {\n        const value = args[key];\n        if (typeof value === 'number' || typeof value === 'boolean') {\n            formulaParts.push(`{${key}} = ${value}`);\n        } else {\n            formulaParts.push(`{${key}} = '${value.replace(/'/g, \"\\\\'\")}'`); // Escape single quotes in values\n        }\n    }\n\n    // Combine all parts with AND\n    const formula = formulaParts.length > 0 ? `AND(${formulaParts.join(', ')})` : \"\";\n    return { json: { formula } };\n});\n"},"id":"804d34e9-e479-4d58-80f3-5724c8655bba","name":"Code - Dynamic Search Formula","type":"n8n-nodes-base.code","typeVersion":2,"position":[5520,940]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"output\": \"name: {{ $json[\"Tag_Name\"] }} address: {{ $json[\"Morada\"] }} city: {{ $json[\"Cidade\"] }} area: {{ $json[\"Area (m2)\"] }} number_rooms: {{ $json[\"N_Quartos\"] }} number_bathrooms: {{ $json[\"N_Banheiros\"] }} price: {{ $json[\"Asking_Price\"] }}\"\n}\n","options":{}},"id":"cd707ea3-c143-40b0-86bd-30339f048158","name":"Output get_property","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[6000,940]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"tool_call_id\": \"{{ $('Separa Arguments').item.json['properties']['id'] }}\",\n  \"output\": \"{{ $json.concatenated_output }}\"\n}","options":{}},"id":"f939f00c-079a-473a-b916-7e2fe79e7f53","name":"Tool Call ID - get_property","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[6400,720]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tbl1KUBXh9510d3eJ","mode":"list","cachedResultName":"Listings","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tbl1KUBXh9510d3eJ"},"filterByFormula":"={{$node[\"Code - Dynamic Search Formula\"].json[\"formula\"]}}","options":{}},"id":"6d06a144-55b2-494e-89a4-6dfcf1059f64","name":"Airtable - Search Listings","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[5760,940],"alwaysOutputData":true},{"parameters":{"jsCode":"const data = items[0].json.collection;\nconst low_availability_threshold = 1;\nconst availableTimes = data.slice(0, low_availability_threshold);\n\nreturn availableTimes.map(time => ({ json: time }));\n"},"id":"92065b6f-b09d-4a64-9867-58e4a6afea95","name":"Get First Option","type":"n8n-nodes-base.code","typeVersion":2,"position":[5760,1640]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"output\": \"date: {{ new Date($json.start_time).toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' }) }} time: {{ new Date($json.start_time).toLocaleTimeString('en-GB', { hour: '2-digit', minute: '2-digit', hour12: false }) }} link: {{ $json.scheduling_url }}\"\n}","options":{}},"id":"d3fc49cd-0a07-4939-9443-26d5b86ae18c","name":"Output appointment_booking","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[5980,1640]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"output"}]},"options":{"outputFormat":"singleItem"}},"id":"1fad7bbd-664a-466a-ac16-d28264ea8e17","name":"Summarize Date and Time","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[6180,1640]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"tool_call_id\": \"{{ $('Separa Arguments').item.json['properties']['id'] }}\",\n  \"output\": \"{{ $json.concatenated_output }}\"\n}","options":{}},"id":"02a27138-853e-417c-ae70-6d6edb6f7e39","name":"Tool Call ID - appointment_booking","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[6400,1700]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"Token_Usage_Total":"={{ Number($('Airtable - Update ThreadID de novo').item.json.fields.Token_Usage_Total) + Number($('Get Run Status').last().json.usage.total_tokens) }} ","last_Message":"=Data: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: {{ $('Pega a ultima mensagem OpenAI').item.json.data[0].content[0].text.value }}","concat_Messages":"={{ $('Airtable - Update RunID').item.json.fields.concat_Messages }}\n\nData: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: {{ $('Pega a ultima mensagem OpenAI').item.json.data[0].content[0].text.value }}","id":"={{ $('Airtable - Search User 3').item.json.AirtableID }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}]},"options":{}},"id":"44059ea8-81dd-4f9c-bbf0-768d15cb4603","name":"Airtable - Update Text last_Message e concat_Message Text e Token Usage","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[5380,2680]},{"parameters":{"url":"https://api.calendly.com/event_type_available_times","authentication":"predefinedCredentialType","nodeCredentialType":"calendlyApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"start_time","value":"={{ new Date(Date.now() + 1 * 24 * 60 * 60 * 1000).toISOString().replace('.000Z', '.000000Z') }}"},{"name":"end_time","value":"={{ new Date(Date.now() + 6 * 24 * 60 * 60 * 1000).toISOString().replace('.000Z', '.000000Z') }}\n"},{"name":"event_type","value":"https://api.calendly.com/event_types/CDGLZIB2I6ENF6CN"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"1e503d6b-d17b-40a4-8f83-ae2a2e5a4ab4","name":"Get Event Availability","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5520,1660],"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CE1F33CC7D0F0A61DE9EEE17BD0D626/token/E1A4AE25C2EBBD6AA4380791/send-link","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"F424e60c3a35c47fdb94513e0bb06e501S"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Webhook').item.json.body.phone }}\",\n  \"message\": \"Agende Reunião\",\n  \"image\": \"https://source.unsplash.com/random/1080x1080/?business\",\n  \"linkUrl\": \"https://www.casasdelisboa.com.br/calendlyvisita\",\n  \"title\": \"Casas de Lisboa\",\n  \"linkDescription\": \"Book an Appointment\"\n} ","options":{}},"id":"47981e7e-affe-4289-bc84-c75ea103a073","name":"Envia resposta Zap Link Agendamento","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5980,1960]},{"parameters":{"options":{}},"id":"b3035467-f19c-4906-9a8d-859a3a6aa7d9","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5140,2840]},{"parameters":{"assignments":{"assignments":[{"id":"b85d717a-4655-4c22-9d0e-74a5b659b128","name":"msgs","value":"={{ $json.data[0].content[0].text.value }}","type":"string"}]},"options":{}},"id":"41295b7f-0599-441f-b901-f5dbb937165f","name":"Msgs","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[4680,2840]},{"parameters":{"jsCode":"// Função para dividir o texto em mensagens com base em duas quebras de linha consecutivas\nfunction splitTextIntoMessages(text) {\n    if (typeof text !== 'string') {\n        console.log('Invalid input: text is not a string', text);\n        throw new Error('Invalid input: text must be a string');\n    }\n    return text.split('\\n\\n').map(part => part.trim()).filter(part => part.length > 0).map(part => {\n        return { json: { message: part } };\n    });\n}\n\n// Log the input data for debugging\nconsole.log('Input items:', JSON.stringify(items, null, 2));\n\n// Check if msgs_output exists and is a string\nconst inputText = items[0]?.json?.msgs;\n\nif (typeof inputText !== 'string') {\n    console.log('Invalid input: items[0].json.msgs_output is not a valid string', inputText);\n    throw new Error('Invalid input: items[0].json.msgs_output is not a valid string');\n}\n\n// Split the text into messages\nconst messages = splitTextIntoMessages(inputText);\n\n// Return the messages as n8n items\nreturn messages;\n"},"id":"d73451cf-5afd-448b-b567-2a67d31ed052","name":"Quebra Mensagem","type":"n8n-nodes-base.code","typeVersion":2,"position":[4900,2840]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update RunID').item.json.fields.thread_id_openai }}/messages       ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"assistant"},{"name":"content","value":"=Agende reunião no link https://www.casasdelisboa.com.br/calendlyvisita"}]},"options":{}},"id":"5ead0c15-732b-4437-842b-a1aab6c359c2","name":"Create Message Zap Link Agendamento","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6180,1960]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"AirtableID":"={{ $('Airtable - Search User 3').item.json.AirtableID }}","concat_Messages":"={{ $('Airtable - Search User 3').item.json.concat_Messages }} \n\nData: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: Agende reunião no link https://www.casasdelisboa.com.br/calendlyvisita","last_Message":"=Data: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: Agende reunião no link https://www.casasdelisboa.com.br/calendlyvisita"},"matchingColumns":["AirtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"AirtableID","displayName":"AirtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}]},"options":{}},"id":"db7797b3-d37c-4bfe-bef0-6dc957e83db3","name":"Airtable - Update Off-Bot New Message Zap Link Agendamento","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[6400,1960]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e0051e94-14ac-4315-bff0-f218625bf2c1","leftValue":"={{ $('Get Run Status').item.json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8dcf0331-73d1-4a07-a4b6-83850d0a379e","leftValue":"={{ $('Get Run Status').item.json.status }}","rightValue":"expired","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expired"}]},"options":{}},"id":"0c04da7d-7c11-43d9-830a-1360282ad4b9","name":"Switch - Run Status Completed","type":"n8n-nodes-base.switch","typeVersion":3,"position":[4000,2840],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"15bd43a9-2c70-4d83-aa49-f14e0a44f03e","name":"tool_calls","value":"={{ $json.required_action.submit_tool_outputs.tool_calls }}","type":"array"}]},"options":{}},"id":"388e074e-0cef-49b2-9a24-248797e5433c","name":"Captura Tool Calls","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[4000,1320],"alwaysOutputData":false},{"parameters":{"fieldToSplitOut":"tool_calls","options":{"destinationFieldName":"properties"}},"id":"474fc9c1-cc1c-48d9-9aa7-374f5bf3a511","name":"Split Out Tool Calls","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[4220,1320]},{"parameters":{"assignments":{"assignments":[{"id":"b5868dac-c776-4a8b-9e44-d5275d06d1c4","name":"arguments","value":"={{ $json.properties.function.arguments }}","type":"object"}]},"includeOtherFields":true,"options":{}},"id":"ef356194-0587-4bb8-aa04-54b1c7159dd3","name":"Separa Arguments","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[4720,1340]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo').item.json.fields.thread_id_openai }}/runs/{{ $('Get Run Status').last().json[\"id\"] }}/submit_tool_outputs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"tool_outputs\": {{ $json.output }}\n} ","options":{}},"id":"3f14758d-1f01-4c4b-8e54-3f2a17ec62e6","name":"Insert Output","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5080,640]},{"parameters":{"assignments":{"assignments":[{"id":"c5405552-2f77-4c16-9599-477bc72223e6","name":"output","value":"={{ $json.data }}","type":"string"}]},"options":{}},"id":"149296da-29ec-429d-b136-caa51bfbd444","name":"Concatenar output em string","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[4880,640]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"7798f602-fb59-4535-895c-a2ec36c695d0","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4660,640]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"df4d145d-6bac-48cd-a15e-3a3c525baf03","leftValue":"={{ $('Webhook').item.json.body.audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"fb5ccb3e-dcba-4b50-b8d8-f054f181e0e0","name":"If - É Áudio","type":"n8n-nodes-base.if","typeVersion":2,"position":[4420,2820]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/speech","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"tts-1"},{"name":"input","value":"={{ $json.data[0].content[0].text.value }}"},{"name":"voice","value":"alloy"}]},"options":{}},"id":"fe9745c4-f6f9-40ac-ac15-aaa22a13114b","name":"Gerar Áudio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4700,3480]},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"02c1bd14-692d-471b-adf7-ebb8cdf99565","name":"Converte para base64","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[4920,3480]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CE1F33CC7D0F0A61DE9EEE17BD0D626/token/E1A4AE25C2EBBD6AA4380791/send-audio","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"F424e60c3a35c47fdb94513e0bb06e501S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=phone","value":"={{ $('Webhook').item.json.body.phone }}"},{"name":"audio","value":"=data:audio/mp3;base64,{{ $json.data }}"}]},"options":{}},"id":"dc14a83f-2c05-48f9-98da-5d40c1592735","name":"Envia resposta Zap User em Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5140,3480]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CE1F33CC7D0F0A61DE9EEE17BD0D626/token/E1A4AE25C2EBBD6AA4380791/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"F424e60c3a35c47fdb94513e0bb06e501S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=phone","value":"={{ $('Webhook').item.json.body.phone }}"},{"name":"message","value":"=*Transcrição do Audio:* \n{{ $('Pega a ultima mensagem OpenAI').item.json.data[0].content[0].text.value }}"}]},"options":{}},"id":"36094c44-89e3-40a5-a278-400945479eb6","name":"Envia transcrição do audio Zap User1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5360,3480]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"Token_Usage_Total":"={{ Number($('Airtable - Update ThreadID de novo').item.json.fields.Token_Usage_Total) + Number($('Get Run Status').last().json.usage.total_tokens) }} ","last_Message":"=Data: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: {{ $('Pega a ultima mensagem OpenAI').item.json.data[0].content[0].text.value }}","concat_Messages":"={{ $('Airtable - Update RunID').item.json.fields.concat_Messages }}\n\nData: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: {{ $('Pega a ultima mensagem OpenAI').item.json.data[0].content[0].text.value }}","id":"={{ $('Airtable - Search User 3').item.json.AirtableID }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}]},"options":{}},"id":"2147f644-cb10-4931-936a-f8dba7ac57e0","name":"Airtable - Update Text last_Message e concat_Message Text e Token Usage1","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[5600,3480]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update RunID').item.json.fields.thread_id_openai }}/runs/{{ $('Airtable - Update RunID').item.json.fields.last_Run }}/cancel   ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"bba090bc-9031-4456-914b-312793c37c97","name":"Cancel a Run1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5760,1960]},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items Tools\"].context[\"Done\"] }}"}},"id":"68788c87-d713-42d5-821b-364a49a7c5b0","name":"Loop Over Items Tools","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4440,1320]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"output"}]},"options":{"outputFormat":"singleItem"}},"id":"0c34fd0c-0113-42f0-bbac-dc50bba873d0","name":"Summarize Search","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[6200,940]},{"parameters":{"assignments":{"assignments":[{"id":"503f68f8-831b-4d46-98eb-299d99a5d8e5","name":"uuid","value":"={{ $('Airtable - Update ThreadID de novo Lead a Qualificar').item.json.fields.linkMeet.split('/').slice(-2, -1)[0] }}","type":"string"}]},"options":{}},"id":"3350cc2c-9215-4d17-ae10-fe4eb9ba00f7","name":"Get uuid","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[5520,2240]},{"parameters":{"method":"POST","url":"=https://api.calendly.com/scheduled_events/{{ $json.uuid }}/cancellation","authentication":"predefinedCredentialType","nodeCredentialType":"calendlyApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"reason\": \"Appointment canceled by the user\"\n}","options":{}},"id":"3b5ff5f8-2ae1-4b17-a9b6-72cdcd47eff9","name":"Cancel Event","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5740,2240]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"tool_call_id\": \"{{ $('Separa Arguments - Qualificador').item.json['properties']['id'] }}\",\n  \"output\": \"Reunião cancelada com sucesso.\"\n}","options":{}},"id":"ee92f2a8-2a00-44c8-b77e-d24ec53a81ee","name":"Tool Call ID - cancel_booking","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[6200,2240]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"Notas":"REUNIÃO CANCELADA PELO USUÁRIO","AirtableID":"={{ $('Airtable - Search User 3').item.json.AirtableID }}"},"matchingColumns":["AirtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Counter_Messages","displayName":"Counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"AirtableID","displayName":"AirtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}]},"options":{}},"id":"7e2fa74f-bbf0-41b2-963a-15b4191935ba","name":"Airtable - Update Reunião Cancelada","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[5980,2240]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.properties.function.name }}","rightValue":"get_property","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_property"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"d6820d31-01fe-4999-a577-bc90bbe48c85","leftValue":"={{ $json.properties.function.name }}","rightValue":"get_user_data","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_user_data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a97545de-ccbf-4863-b9e4-10c9b1a34860","leftValue":"={{ $json.properties.function.name }}","rightValue":"save_user_data","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"save_user_data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"f79b85a2-05d1-4471-b506-07573b2434c0","leftValue":"={{ $json.properties.function.name }}","rightValue":"appointment_booking","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"booking"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"4d22cee2-3c36-4b75-acfe-0fc4bbfadb2e","leftValue":"={{ $json.properties.function.name }}","rightValue":"cancel_booking","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancel_booking"}]},"options":{}},"id":"3aae8818-20db-4489-bb04-c0cfcab451ae","name":"Escolha da Tool Function","type":"n8n-nodes-base.switch","typeVersion":3,"position":[5020,1320]},{"parameters":{"content":"## Responde em Audio","height":303.49532351870687,"width":863.4041986970985},"id":"27f10aab-df6f-4ba5-b01e-6d6c3866532e","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[4660,3400],"typeVersion":1},{"parameters":{"content":"## Responde em Texto","height":673.1275368439842,"width":1680.4859334161329},"id":"a9bc3211-0cea-4d4b-92a1-6143955a6b8d","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[3940,2600],"typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"526284ff-e692-48f1-9050-04099c43d627","leftValue":"={{ $('Get Run Status').item.json.status }}","rightValue":"requires_action","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"d0de10fe-5e82-4efd-a51c-9d47151614c5","name":"If If - Run Status requires_action1","type":"n8n-nodes-base.if","typeVersion":2,"position":[3640,1800]},{"parameters":{},"id":"ba6a1028-cc53-4ad9-8de4-492d47bc625b","name":"No Operation, do nothing4","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[540,3940]},{"parameters":{"content":"## Acionar Suporte Humano","height":732.4140750421333,"width":1418.527043334228},"id":"fe05334a-c927-4013-ad57-820851ebbae6","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[120,3400],"typeVersion":1},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CE1F33CC7D0F0A61DE9EEE17BD0D626/token/E1A4AE25C2EBBD6AA4380791/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"F424e60c3a35c47fdb94513e0bb06e501S"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=  {\n  \"phone\": {{ $('Webhook') }},\n  \"message\": \"Ops! Parece que você tentou enviar um áudio, no entanto não conseguimos identificar esse tipo de arquivo, a não ser que seja solicitado. Pedimos desculpas por qualquer inconveniente, mas para continuar nossa conversa, por favor, evite enviar mídias e utilize apenas mensagens de texto.\"\n}","options":{}},"id":"18a3e05e-9bce-45a2-8448-70f5ed05eae1","name":"Suporte - Envia mensagem Zap Chatbase - Sem Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,3440]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CE1F33CC7D0F0A61DE9EEE17BD0D626/token/E1A4AE25C2EBBD6AA4380791/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"F424e60c3a35c47fdb94513e0bb06e501S"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=  {\n  \"phone\": {{ $('Webhook').item.json.body.phone }},\n  \"message\": \"Ops! Parece que você tentou enviar uma imagem, no entanto não conseguimos identificar esse tipo de arquivo, a não ser que seja solicitado. Pedimos desculpas por qualquer inconveniente, mas para continuar nossa conversa, por favor, evite enviar mídias e utilize apenas mensagens de texto.\"\n}","options":{}},"id":"24d2c347-3504-4811-a6cb-5b04cdf2f552","name":"Suporte - Envia mensagem Zap Chatbase - Sem Imagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,3640]},{"parameters":{},"id":"2cfa9b3d-34f2-495c-9fce-31f9751b050b","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[420,580]},{"parameters":{"content":"## Acionar Chatbase","height":784.032403573226,"width":1851.0848119506113},"id":"c8d8068b-e1b4-40bd-a5af-79aee4b126ac","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"52bbb4cb-7a7e-4bac-9159-5fe4fc170430","leftValue":"={{ $('Webhook').item.json.body.image }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"9171f9e2-e0a5-4152-ad3d-62eac8392e6d","leftValue":"={{ $('Webhook').item.json.body.text }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{"fallbackOutput":"extra"}},"id":"d79c9ec2-9b9d-49ed-8b1e-4b1f6f0f4153","name":"Mkt - Chatbase Switch Media","type":"n8n-nodes-base.switch","typeVersion":3,"position":[100,120]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CE1F33CC7D0F0A61DE9EEE17BD0D626/token/E1A4AE25C2EBBD6AA4380791/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"F424e60c3a35c47fdb94513e0bb06e501S"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=  {\n  \"phone\": {{ $('Webhook') }},\n  \"message\": \"Ops! Parece que você tentou enviar um áudio, no entanto não conseguimos identificar esse tipo de arquivo, a não ser que seja solicitado. Pedimos desculpas por qualquer inconveniente, mas para continuar nossa conversa, por favor, evite enviar mídias e utilize apenas mensagens de texto.\"\n}","options":{}},"id":"6ee6c963-6bb6-4c41-801c-422ee8877259","name":"Mkt - Envia mensagem Zap Chatbase - Sem Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,40]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CE1F33CC7D0F0A61DE9EEE17BD0D626/token/E1A4AE25C2EBBD6AA4380791/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"F424e60c3a35c47fdb94513e0bb06e501S"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=  {\n  \"phone\": {{ $('Webhook').item.json.body.phone }},\n  \"message\": \"Ops! Parece que você tentou enviar uma imagem, no entanto não conseguimos identificar esse tipo de arquivo, a não ser que seja solicitado. Pedimos desculpas por qualquer inconveniente, mas para continuar nossa conversa, por favor, evite enviar mídias e utilize apenas mensagens de texto.\"\n}","options":{}},"id":"4e6ace16-0c9a-4a85-aa62-2e9ef25102a6","name":"Mkt - Envia mensagem Zap Chatbase - Sem Imagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,240]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CE1F33CC7D0F0A61DE9EEE17BD0D626/token/E1A4AE25C2EBBD6AA4380791/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"F424e60c3a35c47fdb94513e0bb06e501S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Webhook').item.json.body.phone }}"},{"name":"message","value":"={{ $json.data }}"}]},"options":{}},"id":"3ca36af9-6952-43d9-b6db-f5de1fd5ccd7","name":"Mkt - Envia mensagem Zap Chatbase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2840,420]},{"parameters":{"method":"POST","url":"https://www.chatbase.co/api/v1/chat","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fb24393b-842e-486d-a9c9-a6ccc1bcb520"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    { \"content\": \"{{ $json.fields.last_Message.replace(/(\\r\\n|\\n|\\r)/g, ' ').replace(/\"/g, '') }}\", \"role\": \"assistant\" },\n    { \"content\": \"{{ $('Webhook').item.json.body.text.message }}\", \"role\": \"user\" }\n  ],\n  \"chatbotId\": \"E-jgXSDFMG3Sut93_oFo-\",\n  \"stream\": true,\n  \"temperature\": 0.7,\n  \"model\": \"gpt-4o\",\n  \"conversationId\": \"{{ $json.fields.chatbase_ConversationID }}\"\n}","options":{}},"id":"5c489cb0-3be6-409d-bb37-9fd8130733fa","name":"Mkt - Create Message in Chatbase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2600,420]},{"parameters":{"jsCode":"// Custom UUID generation function\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0,\n          v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\n// Simulated in-memory database for conversation storage\nlet conversations = $json[\"conversations\"] || {};\nconst phone = $json[\"connectedPhone\"];\nconst message = {\n  text: $json[\"messageText\"], // Assuming `messageText` contains the new message text\n  timestamp: new Date().toISOString()\n};\n\nlet conversationId = conversations[phone]?.conversationId;\nlet conversation = conversations[phone]?.conversation || [];\n\n// If no conversation exists, create a new one\nif (!conversationId) {\n  conversationId = uuidv4();\n}\n\n// Append the new message to the conversation\nconversation.push(message);\n\n// Store the conversation back in the 'database'\nconversations[phone] = { conversationId, conversation };\n\nreturn [{ ...$json, conversationId, conversation }];\n"},"id":"7e098766-74a0-4be1-a73b-a53449f3eb66","name":"Mkt - conversationId Generator Chatbase","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,600]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"AirtableID":"={{ $('Airtable - Search User 3').item.json.AirtableID }}","chatbase_ConversationID":"={{ $('Mkt - conversationId Generator Chatbase').item.json.conversationId }}","tags":"=[\"Mkt\", \"EntrouNoFluxo\"]"},"matchingColumns":["AirtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Counter_Messages","displayName":"Counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"AirtableID","displayName":"AirtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Mkt","value":"Mkt"},{"name":"Compra","value":"Compra"},{"name":"Venda","value":"Venda"},{"name":"Aluguel","value":"Aluguel"},{"name":"Suporte","value":"Suporte"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"EntrouNoFluxo","value":"EntrouNoFluxo"}],"readOnly":false,"removed":false},{"id":"chatbase_ConversationID","displayName":"chatbase_ConversationID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}]},"options":{}},"id":"928c634c-d4f5-4217-b552-add3c50378b2","name":"Airtable - Update chatbaseConversationID","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[1100,600]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"abdc51b1-c595-49d4-8bcb-f47ed719dec4","leftValue":"={{ $('Airtable - Search User 3').item.json.chatbase_ConversationID }}","rightValue":"={{ \"\" }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"ceb4598e-9454-4919-af02-48920fcf9fb2","name":"If - User is in Chatbase","type":"n8n-nodes-base.if","typeVersion":2,"position":[660,440]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"filterByFormula":"=RIGHT({Whatsapp}, 8) = {{ $('Webhook').item.json.body.phone.slice(-8) }}","options":{}},"id":"0f9cda51-8031-45a7-93d9-2aeacc48c6e4","name":"Airtable - Search User 4","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[1580,440],"alwaysOutputData":true},{"parameters":{},"id":"35552527-7213-4d15-88d6-727f0a535588","name":"Merge ConversationID","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1320,440]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"6e46d90b-9ae7-46bf-855f-fc1455b7f053","leftValue":"={{ $('Airtable - Search User 3').item.json.tags }}","rightValue":"EntrouNoFluxo","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"id":"74af1eca-46e0-4e40-82cc-f31f13a67589","name":"If - Entrou no Fluxo","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1420,1780]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Merge Messages').item.json.message }}","rightValue":"1","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mkt"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"d8e977c7-6d33-4404-9e34-19cfb8f33fc1","leftValue":"={{ $('Merge Messages').item.json.message }}","rightValue":"2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Compra"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"75e4b995-0ea4-4572-92d1-c4be617bd359","leftValue":"={{ $('Merge Messages').item.json.message }}","rightValue":"3","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Venda"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"7c7ff5db-6afd-420a-ba81-43ad18784415","leftValue":"={{ $('Merge Messages').item.json.message }}","rightValue":"4","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Aluguel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ef8b8eab-6ae7-45ca-a79a-9ae403e28e63","leftValue":"={{ $('Merge Messages').item.json.message }}","rightValue":"5","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Suporte"}]},"options":{"fallbackOutput":"extra"}},"id":"0b6d3559-738e-49ec-9d40-b7e053603993","name":"Switch Opcao","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-320,1780]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"59b73642-e068-4193-9e69-fb409a452042","leftValue":"={{ DateTime.fromISO($('Airtable - Search User 2').item.json['Last Modified']).setZone('Europe/Lisbon').toISO() }}","rightValue":"={{ $now.setZone('Europe/Lisbon').minus(1, 'days').toISO() }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"id":"ffde8d1c-000a-46f6-a3ef-225bc39c4667","name":"If - Mensagem há menos de 24h","type":"n8n-nodes-base.if","typeVersion":2,"position":[-5260,1740]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"off_Bot":true,"AirtableID":"={{ $('Airtable - Search User 3').item.json.AirtableID }}"},"matchingColumns":["AirtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"AirtableID","displayName":"AirtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}]},"options":{}},"id":"21061fa0-b67b-4f09-8719-0e7a041f2cb6","name":"Airtable - Update Bot Off1","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[800,3840]},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CE1F33CC7D0F0A61DE9EEE17BD0D626/token/E1A4AE25C2EBBD6AA4380791/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"F424e60c3a35c47fdb94513e0bb06e501S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"351913095597"},{"name":"message","value":"=Assuma o atendimento do Bot *\"Real Estate Bot\"*"}]},"options":{}},"id":"313006fb-6f60-4705-9589-0d9e6d5a829d","name":"Suporte - Envia mensagem Zap para Atendente","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,3840]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"52bbb4cb-7a7e-4bac-9159-5fe4fc170430","leftValue":"={{ $('Webhook').item.json.body.image }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"9171f9e2-e0a5-4152-ad3d-62eac8392e6d","leftValue":"={{ $('Webhook').item.json.body.text }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{"fallbackOutput":"extra"}},"id":"ce6cbee3-20a2-486b-8b1e-ea6b389f13ae","name":"Suporte - Switch Media Humano","type":"n8n-nodes-base.switch","typeVersion":3,"position":[220,3520]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo').item.json.fields.thread_id_openai }}/runs/{{ $('List Runs1').item.json[\"first_id\"] }}/cancel ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"b7854844-12a2-4fcf-a291-f1b86f85fcbe","name":"Cancel a Run2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2320,620]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo').item.json.fields.thread_id_openai }}/messages ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"user"},{"name":"content","value":"={{ $('Webhook').item.json.body.text.message }}\n\nData e hora de agora: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }}"}]},"options":{}},"id":"eac7ca82-d256-4678-aa59-a070e89f4d6b","name":"Create Message1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,440],"onError":"continueErrorOutput"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo').item.json.fields.thread_id_openai }}/runs   ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"1a243a26-650c-43f1-bce1-2a147656bb30","name":"List Runs1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2140,620]},{"parameters":{"content":"## Create Message Assistant OpenAI","height":505.68354057384374,"width":612.5780148398112},"id":"f318562f-553f-4dd4-b3ad-2f68dbd6118e","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[1900,360],"typeVersion":1},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"last_Message":"=Data: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: {{ $('Mkt - Create Message in Chatbase').item.json.data }}","concat_Messages":"={{ $('Airtable - Update concat_Message Chatbase').item.json.fields.concat_Messages }}\n\nData: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: Message: {{ $('Mkt - Create Message in Chatbase').item.json.data }}","id":"={{ $('Airtable - Search User 3').item.json.AirtableID }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}]},"options":{}},"id":"1444b781-d6fe-4249-a563-7c5e8c77b1c6","name":"Airtable - Update Text last_Message e concat_Message Text e Token Usage2","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[3100,420]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"concat_Messages":"={{ $('Airtable - Update ThreadID de novo').item.json.fields.concat_Messages }}\n\nData: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: {{ $('Webhook').item.json.body.senderName }} - Message: {{ $('Merge Messages').item.json.message }}","AirtableID":"={{ $('Airtable - Search User 3').item.json.AirtableID }}"},"matchingColumns":["AirtableID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"AirtableID","displayName":"AirtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}]},"options":{}},"id":"1b43bdbe-e470-49df-870a-8473efdf5b88","name":"Airtable - Update concat_Message Chatbase","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[2320,420]},{"parameters":{"amount":10},"id":"43167b66-e2c4-4833-912a-767c2409cc00","name":"Wait 10s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1780,1820],"webhookId":"1533d748-525c-4e0b-a82b-849a56d4a5b8"},{"parameters":{"assignments":{"assignments":[{"id":"b0a7008a-6be9-4f46-9c9f-aac0047e566b","name":"user_phone","value":"={{ $('Webhook').item.json.body?.phone || $('Webhook').item.json.body?.data?.key.remoteJid.replace(/@.*/, '') }}","type":"string"},{"id":"ee8753a0-3e64-4130-a806-b70eae5ecf8d","name":"url_zap_provider","value":"={{ $('Webhook').item.json.body?.server_url || $('Webhook').item.json.headers?.origin || \"unknown\" }}","type":"string"},{"id":"58cacd80-861f-46d3-8c67-2258d6e0966b","name":"Nome instancia","value":"={{ $('Webhook').item.json.body.instance ? $('Webhook').item.json.body.instance + ($('Webhook').item.json.body.connectedPhone ? \"tj_Bot\" : \"\") : ($('Webhook').item.json.body.connectedPhone ? \"tj_Bot\" : \"unknown\") }}","type":"string"},{"id":"de91b4ae-4164-41ba-a7c2-3edb6ee4ba3e","name":"message_id","value":"={{ $('Webhook').item.json.body?.data?.key?.id || $('Webhook').item.json.body?.messageId }}","type":"string"},{"id":"364824f0-a0c0-42d7-bf1d-d2f0be203c4d","name":"chat_id","value":"={{ $('Webhook').item.json.body?.data?.key?.remoteJid || $('Webhook').item.json.body?.chatLid }}","type":"string"},{"id":"9bfc8bb3-6f77-42b4-8269-8043298e8888","name":"content_type","value":"={{ $('Webhook').item.json.body?.data?.message?.extendedTextMessage ? \"text\" : \"\" || $('Webhook').item.json.body?.data?.message?.conversation ? \"text\" : \"\" || $('Webhook').item.json.body?.data?.message?.audioMessage ? \"audio\" : \"\" || $('Webhook').item.json.body?.data?.message?.imageMessage ? \"image\" : \"\" || $('Webhook').item.json.body?.data?.message?.documentMessage ? \"document\" : \"\" || $('Webhook').item.json.body?.text?.message ? \"text\" : \"\" || $('Webhook').item.json.body?.image?.imageUrl ? \"image\" : \"\" || $('Webhook').item.json.body?.audio?.audioUrl ? \"audio\" : \"\" || $('Webhook').item.json.body?.document?.documentUrl ? \"document\" : \"\" || \"unknown\" }}\n\n\n","type":"string"},{"id":"2449a6b4-4e21-4c13-8236-61ff1956a554","name":"timestamp","value":"={{ $('Webhook').item.json.body?.data?.messageTimestamp || $('Webhook').item.json.body?.momment }}","type":"number"},{"id":"359220da-80ca-4bf5-a5ed-4623cad6ad63","name":"content_url","value":"={{ $('Webhook').item.json.body?.data?.message?.audioMessage?.url || $('Webhook').item.json.body?.data?.message?.imageMessage?.url || $('Webhook').item.json.body?.data?.message?.documentMessage?.url || $('Webhook').item.json.body?.image?.imageUrl || $('Webhook').item.json.body?.audio?.audioUrl || $('Webhook').item.json.body?.document?.documentUrl || null }}","type":"string"},{"id":"157701bc-a841-4ae4-8e70-d8853aee0795","name":"message_object_zapi","value":"={{ $('Webhook').item.json.body?.text || $('Webhook').item.json.body?.image || $('Webhook').item.json.body?.audio || $('Webhook').item.json.body?.document || null }}","type":"object"},{"id":"b111a750-e08a-4466-94ef-58d67c898523","name":"user_name","value":"={{ $('Webhook').item.json.body?.data?.pushName || $('Webhook').item.json.body?.senderName || \"not available\" }}","type":"string"},{"id":"5ebacbea-17a4-442a-838e-85743c6cbe05","name":"from me?","value":"={{ $('Webhook').item.json.body.data?.key?.fromMe ?? $('Webhook').item.json.body?.fromMe ?? \"unknown\" }}","type":"string"},{"id":"7cc49509-38ba-4722-b708-bfb1cf5b88a1","name":"is status reply?","value":"={{ $('Webhook').item.json.body.isStatusReply ?? $('Webhook').item.json.body?.isStatusReply ?? \"unknown\" }}","type":"string"},{"id":"562aaf1b-614f-47ec-8194-1eb30a6f51b3","name":"message_object_evo","value":"={{ $('Webhook').item.json.body.data?.message !== undefined ? $('Webhook').item.json.body.data.message : null }}","type":"object"},{"id":"40916090-12b1-4aa1-9daf-a41a2523eb5c","name":"is group?","value":"={{ $('Webhook').item.json.body.data?.key?.isGroup ?? $('Webhook').item.json.body?.isGroup ?? \"unknown\" }}","type":"string"}]},"options":{}},"id":"ddef4d54-cac6-4990-b204-1a53a358a59a","name":"Normalizacao","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-7960,1700]},{"parameters":{"assignments":{"assignments":[{"id":"5436fc3d-1513-4608-a36d-c8f4773d75f1","name":"GROQ_API_KEY","value":"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","type":"string"},{"id":"2a177ef5-8f2b-48d6-aa14-74f8cb1e049a","name":"GEMINI_API_KEY","value":"AIzaSyC5XbEFTLwEIahTLuDa21AM45jZzgmrt5g","type":"string"},{"id":"4e393e46-5476-46b0-bec4-f29277efc038","name":"openai_assistant_id","value":"asst_LrLgRRta7vFmhFo7bBXYcHwA","type":"string"}]},"options":{}},"id":"a1933546-62f0-46c1-8f8c-2a2c53d5e300","name":"AI","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-8140,1700]},{"parameters":{"assignments":{"assignments":[{"id":"9a2c10c4-74b4-48d0-a8c5-ebe095e7eab5","name":"EVO_API_KEY","value":"2vGHmKALc8VcXLSIuKQO","type":"string"},{"id":"840baa4a-ba9c-49f9-b08b-928815b93a34","name":"evo_instanciaID","value":"476507AE5B21-4045-A4CA-8E9068675087","type":"string"}]},"options":{}},"id":"824f2a57-b4f8-45cd-8fde-e4307d41fa52","name":"Evo Credentials","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-8480,1700]},{"parameters":{"assignments":{"assignments":[{"id":"503b2c0f-f889-4a71-8d96-136dc6d2773d","name":"z-api_instanciaID","value":"3CE1F33CC7D0F0A61DE9EEE17BD0D626","type":"string"},{"id":"5d692ded-8de3-4878-b1a1-91f8de4e26ec","name":"z-api_instancia_tokenID","value":"E1A4AE25C2EBBD6AA4380791","type":"string"},{"id":"241a5052-bd42-4a99-b99d-180bc4033312","name":"z-api_client_token","value":"F424e60c3a35c47fdb94513e0bb06e501S","type":"string"}]},"options":{}},"id":"b30e950a-9b64-45ed-8c87-559ae64d2adb","name":"Z-api Credentials","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-8300,1700]},{"parameters":{"content":"## Dados de Entrada","height":323.04700735874474,"width":884.5492508169516},"id":"a4d66e77-dc56-4307-a494-2cebb5fa0e83","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[-8720,1600],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Normalizacao').item.json.message_object_zapi?.message ?? $('Normalizacao').item.json.message_object_evo?.conversation }}","rightValue":"#on","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"#on"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"dcb23115-2ee0-4eb5-94f6-c6b3bc0e3ceb","leftValue":"={{ $('Normalizacao').item.json.message_object_zapi?.message ?? $('Normalizacao').item.json.message_object_evo?.conversation }}","rightValue":"#off","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"#off"}]},"options":{}},"id":"f9a1780a-6ba0-46f7-9914-6ae724f12573","name":"Verifica Comando","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-7320,1420]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/instances/{{ $('Z-api Credentials').item.json['z-api_instanciaID'] }}/token/{{ $('Z-api Credentials').item.json['z-api_instancia_tokenID'] }}/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"={{ $('Z-api Credentials').item.json['z-api_client_token'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=  {\n  \"phone\": {{ $('Normalizacao').item.json.user_phone }},\n  \"message\": \"Eu sou o Max e conduzirei o seu atendimento daqui pra frente! Vou te enviar um menu para te ajudar com o que precisa!\\n1 - Marketing Imobiliário\\n2 - Compra de Imóvel\\n3 - Venda de Imóvel\\n4 - Aluguéis\\n5 - Suporte\\nBasta *DIGITAR O NÚMERO* da opção escolhida para dar continuidade. Peço que aguarde só mais alguns segundos que já falo com você.\"\n} ","options":{}},"id":"3ba135ef-afab-43e5-b61f-2d5fcc7b2621","name":"Envia primeira mensagem Zap","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6440,1880]},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appeFkj0KrO6svhbt","mode":"list","cachedResultName":"Real Estate Listings Manager","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt"},"table":{"__rl":true,"value":"tblcMxt4kltZgTSjM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appeFkj0KrO6svhbt/tblcMxt4kltZgTSjM"},"columns":{"mappingMode":"defineBelow","value":{"Token_Usage_Total":0,"Whatsapp":"={{ $('Normalizacao').item.json.user_phone }}","Name":"={{ $('Normalizacao').item.json.user_name }}","thread_id_openai":"={{ $('Cria thread').item.json.id }}","concat_Messages":"Início","thread_id_created":"={{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }}"},"matchingColumns":[],"schema":[{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Listings to Visit","displayName":"Listings to Visit","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Endereço (from Listings to Visit)","displayName":"Endereço (from Listings to Visit)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Proposal","displayName":"Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Token_Usage_Total","displayName":"Token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Counter_Messages","displayName":"Counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"AirtableID","displayName":"AirtableID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}]},"options":{}},"id":"d04fa9fd-bbe8-476a-8495-a3ee72f6b2cb","name":"Airtable - Create User","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-6100,1880]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/instances/{{ $('Z-api Credentials').item.json['z-api_instanciaID'] }}/token/{{ $('Z-api Credentials').item.json['z-api_instancia_tokenID'] }}/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"={{ $('Z-api Credentials').item.json['z-api_client_token'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"{{ $('Normalizacao').item.json.user_phone }}\",\n  \"message\": \"Por favor envie uma mensagem de texto\"\n} ","options":{}},"id":"e52d85c1-7aee-4209-830e-2033810f4b58","name":"Envia mensagem por z-api - Texts Only","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3120,2540]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/message/sendText/{{ $('Normalizacao').item.json['Nome instancia'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json, text/plain, */*"},{"name":"apikey","value":"={{ $('Evo Credentials').item.json.EVO_API_KEY }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Normalizacao').item.json.chat_id }}"},{"name":"text","value":"Por favor envie uma mensagem de texto"}]},"options":{}},"id":"48655ab6-81f6-4ed0-a988-a0b10d773c5d","name":"Envia mensagem por evo - Texts Only","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-3120,2380]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Normalizacao').item.json.url_zap_provider }}","rightValue":"coletiv","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"evolution"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bce400e6-4afe-41cc-9c27-c89ddd5396f4","leftValue":"={{ $('Normalizacao').item.json.url_zap_provider }}","rightValue":"z-api","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"z-api"}]},"options":{}},"id":"b1625870-f81a-49d8-9e0d-77625e78f502","name":"Switch Zap API Provider","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3380,2520]},{"parameters":{"httpMethod":"POST","path":"realestatebot","options":{}},"id":"2f357149-3641-4ea3-b2ee-b69bf4b64dd1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-8660,1700],"webhookId":"dc41ee56-d437-452f-b851-40e235387b55"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Normalizacao').item.json.url_zap_provider }}","rightValue":"coletiv","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"evolution"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bce400e6-4afe-41cc-9c27-c89ddd5396f4","leftValue":"={{ $('Normalizacao').item.json.url_zap_provider }}","rightValue":"z-api","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"z-api"}]},"options":{}},"id":"20e894c7-c3f8-4595-8d2a-aecfa032aa17","name":"Switch Zap API Provider - ","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3180,2060]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/instances/{{ $('Z-api Credentials').item.json['z-api_instanciaID'] }}/token/{{ $('Z-api Credentials').item.json['z-api_instancia_tokenID'] }}/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"={{ $('Z-api Credentials').item.json['z-api_client_token'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=  {\n  \"phone\": {{ $('Normalizacao').item.json.user_phone }},\n  \"message\": \"*Descrição da imagem*: {{ $('Open AI Vision z-api').item.json.choices[0].message.content }}\"\n} ","options":{}},"id":"c0e062c0-03f0-4609-aa61-501a93a0f6fa","name":"Envia mensagem por z-api - Imagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2400,2200]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/message/sendText/{{ $('Normalizacao').item.json['Nome instancia'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json, text/plain, */*"},{"name":"apikey","value":"={{ $('Evo Credentials').item.json.EVO_API_KEY }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Normalizacao').item.json.chat_id }}"},{"name":"text","value":"=Descrição da imagem: {{ $('Open AI Vision evo').item.json.choices[0].message.content }}"}]},"options":{}},"id":"2df090e3-4bd6-4ab5-a0c7-5c6985800d7e","name":"Envia mensagem por evo - Imagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-2400,1960]},{"parameters":{"assignments":{"assignments":[{"id":"beddbea7-a1e9-48a2-84fb-7d843eded789","name":"message","value":"=O usuário enviou uma imagem. Descrição da imagem: {{ $('Open AI Vision z-api').item.json.choices[0].message.content }}","type":"string"}]},"options":{}},"id":"df29affd-bb85-4106-b572-9bb935580d60","name":"Set Message From Image","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2160,2080]},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/chat/getBase64FromMediaMessage/{{ $('Normalizacao').item.json['Nome instancia'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Evo Credentials').item.json.EVO_API_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('Normalizacao').item.json.message_id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"99102098-7d27-4298-9c31-2247ac428c1f","name":"Get Base64 From Image Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-2960,1960]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Analyse the image provided. Create a prompt for an AI Image Generator. If the image is a photo, describe it like an award winning professional photographer with extreme technical details and use this formula to write the prompt: [subject and action (example: Land Rover Defender)], [environment (example: vibrant Cusco Peru)], [film/camera/lens (example: Kodak portra 400)], [lightning style (example: motivated lightning)]Include specific camera lens and camera settings and be specific with details. Use short and powerful keywords and phrases. Do not use full sentences. Just write the prompt with no explanations.\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"{{ $('Normalizacao').item.json.message_object_zapi.imageUrl }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 300\n} ","options":{}},"id":"f8dd5936-b025-46c5-9506-07da4d5fbe5c","name":"Open AI Vision z-api","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2960,2200]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Analyse the image provided. Create a prompt for an AI Image Generator. If the image is a photo, describe it like an award winning professional photographer with extreme technical details and use this formula to write the prompt: [subject and action (example: Land Rover Defender)], [environment (example: vibrant Cusco Peru)], [film/camera/lens (example: Kodak portra 400)], [lightning style (example: motivated lightning)]Include specific camera lens and camera settings and be specific with details. Use short and powerful keywords and phrases. Do not use full sentences. Just write the prompt with no explanations.\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/jpeg;base64,{{ $('Get Base64 From Image Message').item.json.base64 }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 300\n}","options":{}},"id":"3195de83-a236-4635-a5fb-e41da3360ded","name":"Open AI Vision evo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2780,1960]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo Autobot').item.json.fields.thread_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"assistant"},{"name":"content","value":"=Sender: Assistant - Message: User enviou uma imagem que tem a seguinte descrição: {{ $('Open AI Vision evo').item.json.choices[0].message.content }}"}]},"options":{}},"id":"658d10f3-3e59-46e8-8f4c-f39286070dfa","name":"Create Message Thread - Imagem evo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2600,1960]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo').item.json.fields.thread_id_openai }}/messages      ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"assistant"},{"name":"content","value":"=Sender: Assistant - Message: User enviou uma imagem que tem a seguinte descrição {{ $('Open AI Vision z-api').item.json.choices[0].message.content }}"}]},"options":{}},"id":"6b018750-d1b7-4dde-b236-d979be034b6c","name":"Create Message Thread - Imagem z-api","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2680,2200]},{"parameters":{},"id":"945d9509-96e0-4858-9d10-c0a1cddcc70c","name":"Wait 5s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3240,1340],"webhookId":"dc81e9b7-40bf-4e0f-baef-6bb2ae849564"},{"parameters":{"method":"POST","url":"={{ $('Normalizacao').item.json.url_zap_provider }}/instances/{{ $('Z-api Credentials').item.json['z-api_instanciaID'] }}/token/{{ $('Z-api Credentials').item.json['z-api_instancia_tokenID'] }}/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"={{ $('Z-api Credentials').item.json['z-api_client_token'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=  {\n  \"phone\": {{ $('Normalizacao').item.json.user_phone }},\n  \"message\": \"Não conseguimos entender. Por favor envie a mensagem por texto.\"\n}","options":{}},"id":"cbae8412-5f67-4d7a-b662-69b562d67d96","name":"Envia mensagem por z-api - Erro no Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2360,1440]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Airtable - Search User 3').item.json.tags }}","rightValue":"Mkt","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mkt"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"0a96a50c-f807-4cd5-a3fe-f18f58f09785","leftValue":"={{ $('Airtable - Search User 3').item.json.tags }}","rightValue":"Suporte","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Suporte"}]},"options":{}},"id":"19d3604f-635c-4a47-9c8b-4cb2fe747018","name":"Switch Tags","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-860,1520]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52bbb4cb-7a7e-4bac-9159-5fe4fc170430","leftValue":"={{ $('Webhook').item.json.body.image }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9171f9e2-e0a5-4152-ad3d-62eac8392e6d","leftValue":"={{ $('Webhook').item.json.body.text }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{"fallbackOutput":"extra"}},"id":"8bba71bd-0da9-4d08-85c3-b65a9bd8c859","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-3580,1720]}],"connections":{"If - From me":{"main":[[{"node":"Verifica Comando","type":"main","index":0}],[{"node":"If - User is in Leads","type":"main","index":0}]]},"Cria thread":{"main":[[{"node":"Envia primeira mensagem Zap","type":"main","index":0}]]},"Merge User":{"main":[[{"node":"Airtable - Search User 2","type":"main","index":0}]]},"If - User is in Leads":{"main":[[{"node":"Merge User","type":"main","index":0}],[{"node":"Cria thread","type":"main","index":0}]]},"Get JSON from CloudConvert":{"main":[[{"node":"Get mp3 File","type":"main","index":0}]]},"Show a Job in CloudConvert":{"main":[[{"node":"If Status Finished","type":"main","index":0}]]},"If Status Finished":{"main":[[{"node":"Get JSON from CloudConvert","type":"main","index":0}],[{"node":"Envia mensagem por z-api - Erro no Audio","type":"main","index":0}]]},"Set Message From Text":{"main":[[{"node":"Merge Messages","type":"main","index":0}]]},"ogg to mp3 Create a Job no CloudConvert":{"main":[[{"node":"Wait 5s","type":"main","index":0}]]},"Get mp3 File":{"main":[[{"node":"Create Transcription OpenAI","type":"main","index":0}],[{"node":"Envia mensagem por z-api - Erro no Audio","type":"main","index":0}]]},"Envia transcrição do audio Zap User":{"main":[[{"node":"Set Message From Audio","type":"main","index":0}]]},"Create Transcription OpenAI":{"main":[[{"node":"Envia transcrição do audio Zap User","type":"main","index":0}]]},"Set Message From Audio":{"main":[[{"node":"Merge Messages","type":"main","index":1}]]},"Cancel a Run":{"main":[[{"node":"Create Message","type":"main","index":0}]]},"Create Message":{"main":[[{"node":"Airtable - Update concat_Message","type":"main","index":0}],[{"node":"List Runs","type":"main","index":0}]]},"List Runs":{"main":[[{"node":"Cancel a Run","type":"main","index":0}]]},"List Messages":{"main":[[{"node":"If - Last message equal to first message - Fila de Mensagens","type":"main","index":0}]]},"If - Last message equal to first message - Fila de Mensagens":{"main":[[{"node":"Run Assistant","type":"main","index":0}],[{"node":"Queue Message","type":"main","index":0}]]},"Merge Messages":{"main":[[{"node":"If - Off-Bot","type":"main","index":0}]]},"If - Off-Bot":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"If - Entrou no Fluxo","type":"main","index":0}]]},"Wait 4s":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"If - Run Status queued or in_progress":{"main":[[{"node":"Wait 4s","type":"main","index":0}],[{"node":"If If - Run Status requires_action1","type":"main","index":0}]]},"Airtable - Update RunID":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Get Run Status":{"main":[[{"node":"If - Run Status queued or in_progress","type":"main","index":0}]]},"Run Assistant":{"main":[[{"node":"Airtable - Update RunID","type":"main","index":0}]]},"No Thread":{"main":[[{"node":"Cria thread de novo","type":"main","index":0}],[{"node":"If - Mensagem há menos de 24h","type":"main","index":0}]]},"Airtable - Update User":{"main":[[{"node":"Merge User1","type":"main","index":1}]]},"Merge User1":{"main":[[{"node":"Airtable - Search User 3","type":"main","index":0}]]},"Cria thread de novo":{"main":[[{"node":"Envia mensagem Zap","type":"main","index":0}]]},"Envia mensagem Zap":{"main":[[{"node":"Create Message Thread","type":"main","index":0}]]},"Create Message Thread":{"main":[[{"node":"Airtable - Update User","type":"main","index":0}]]},"Create First Message Thread":{"main":[[{"node":"Airtable - Create User","type":"main","index":0}]]},"Airtable - Search User 1":{"main":[[{"node":"If - From me","type":"main","index":0}]]},"Airtable - Search User 2":{"main":[[{"node":"No Thread","type":"main","index":0}]]},"Airtable - Search User 3":{"main":[[{"node":"Airtable - Update ThreadID de novo","type":"main","index":0}]]},"Airtable - Update concat_Message":{"main":[[{"node":"Wait 10s","type":"main","index":0}]]},"Tool Call ID - get_user_data":{"main":[[{"node":"Loop Over Items Tools","type":"main","index":0}]]},"Airtable - Save User Data":{"main":[[{"node":"Tool Call ID - save_user_data","type":"main","index":0}]]},"Tool Call ID - save_user_data":{"main":[[{"node":"Loop Over Items Tools","type":"main","index":0}]]},"Pega a ultima mensagem OpenAI":{"main":[[{"node":"If - É Áudio","type":"main","index":0}]]},"Envia resposta Zap":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Airtable - Get User Data":{"main":[[{"node":"Tool Call ID - get_user_data","type":"main","index":0}]]},"Code - Dynamic Search Formula":{"main":[[{"node":"Airtable - Search Listings","type":"main","index":0}]]},"Output get_property":{"main":[[{"node":"Summarize Search","type":"main","index":0}]]},"Tool Call ID - get_property":{"main":[[{"node":"Loop Over Items Tools","type":"main","index":0}]]},"Airtable - Search Listings":{"main":[[{"node":"Output get_property","type":"main","index":0}]]},"Get First Option":{"main":[[{"node":"Output appointment_booking","type":"main","index":0}]]},"Output appointment_booking":{"main":[[{"node":"Summarize Date and Time","type":"main","index":0}]]},"Summarize Date and Time":{"main":[[{"node":"Tool Call ID - appointment_booking","type":"main","index":0}]]},"Tool Call ID - appointment_booking":{"main":[[{"node":"Loop Over Items Tools","type":"main","index":0}]]},"Get Event Availability":{"main":[[{"node":"Get First Option","type":"main","index":0}],[{"node":"Cancel a Run1","type":"main","index":0}]]},"Envia resposta Zap Link Agendamento":{"main":[[{"node":"Create Message Zap Link Agendamento","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Airtable - Update Text last_Message e concat_Message Text e Token Usage","type":"main","index":0}],[{"node":"Envia resposta Zap","type":"main","index":0}]]},"Msgs":{"main":[[{"node":"Quebra Mensagem","type":"main","index":0}]]},"Quebra Mensagem":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create Message Zap Link Agendamento":{"main":[[{"node":"Airtable - Update Off-Bot New Message Zap Link Agendamento","type":"main","index":0}]]},"Switch - Run Status Completed":{"main":[[{"node":"Pega a ultima mensagem OpenAI","type":"main","index":0}],[{"node":"Envia mensagem Zap de erro","type":"main","index":0}]]},"Captura Tool Calls":{"main":[[{"node":"Split Out Tool Calls","type":"main","index":0}]]},"Split Out Tool Calls":{"main":[[{"node":"Loop Over Items Tools","type":"main","index":0}]]},"Separa Arguments":{"main":[[{"node":"Escolha da Tool Function","type":"main","index":0}]]},"Concatenar output em string":{"main":[[{"node":"Insert Output","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Concatenar output em string","type":"main","index":0}]]},"If - É Áudio":{"main":[[{"node":"Gerar Áudio","type":"main","index":0}],[{"node":"Msgs","type":"main","index":0}]]},"Gerar Áudio":{"main":[[{"node":"Converte para base64","type":"main","index":0}]]},"Converte para base64":{"main":[[{"node":"Envia resposta Zap User em Audio","type":"main","index":0}]]},"Envia resposta Zap User em Audio":{"main":[[{"node":"Envia transcrição do audio Zap User1","type":"main","index":0}]]},"Envia transcrição do audio Zap User1":{"main":[[{"node":"Airtable - Update Text last_Message e concat_Message Text e Token Usage1","type":"main","index":0}]]},"Cancel a Run1":{"main":[[{"node":"Envia resposta Zap Link Agendamento","type":"main","index":0}]]},"Loop Over Items Tools":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Separa Arguments","type":"main","index":0}]]},"Summarize Search":{"main":[[{"node":"Tool Call ID - get_property","type":"main","index":0}]]},"Get uuid":{"main":[[{"node":"Cancel Event","type":"main","index":0}]]},"Cancel Event":{"main":[[{"node":"Airtable - Update Reunião Cancelada","type":"main","index":0}]]},"Tool Call ID - cancel_booking":{"main":[[{"node":"Loop Over Items Tools","type":"main","index":0}]]},"Airtable - Update Reunião Cancelada":{"main":[[{"node":"Tool Call ID - cancel_booking","type":"main","index":0}]]},"Escolha da Tool Function":{"main":[[{"node":"Code - Dynamic Search Formula","type":"main","index":0}],[{"node":"Airtable - Get User Data","type":"main","index":0}],[{"node":"Airtable - Save User Data","type":"main","index":0}],[{"node":"Get Event Availability","type":"main","index":0}],[{"node":"Get uuid","type":"main","index":0}]]},"If If - Run Status requires_action1":{"main":[[{"node":"Captura Tool Calls","type":"main","index":0}],[{"node":"Switch - Run Status Completed","type":"main","index":0}]]},"Insert Output":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Mkt - Chatbase Switch Media":{"main":[[{"node":"Mkt - Envia mensagem Zap Chatbase - Sem Audio","type":"main","index":0}],[{"node":"Mkt - Envia mensagem Zap Chatbase - Sem Imagem","type":"main","index":0}],[{"node":"If - User is in Chatbase","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Mkt - Create Message in Chatbase":{"main":[[{"node":"Mkt - Envia mensagem Zap Chatbase","type":"main","index":0}]]},"Mkt - conversationId Generator Chatbase":{"main":[[{"node":"Airtable - Update chatbaseConversationID","type":"main","index":0}]]},"If - User is in Chatbase":{"main":[[{"node":"Merge ConversationID","type":"main","index":0}],[{"node":"Mkt - conversationId Generator Chatbase","type":"main","index":0}]]},"Airtable - Update chatbaseConversationID":{"main":[[{"node":"Merge ConversationID","type":"main","index":1}]]},"Airtable - Search User 4":{"main":[[{"node":"Create Message1","type":"main","index":0}]]},"Merge ConversationID":{"main":[[{"node":"Airtable - Search User 4","type":"main","index":0}]]},"If - Entrou no Fluxo":{"main":[[{"node":"Switch Tags","type":"main","index":0}],[{"node":"Switch Opcao","type":"main","index":0}]]},"Switch Opcao":{"main":[[{"node":"Mkt - Chatbase Switch Media","type":"main","index":0}],[{"node":"Create Message","type":"main","index":0}],[{"node":"Create Message","type":"main","index":0}],[{"node":"Create Message","type":"main","index":0}],[{"node":"Suporte - Switch Media Humano","type":"main","index":0}],[{"node":"Create Message","type":"main","index":0}]]},"If - Mensagem há menos de 24h":{"main":[[{"node":"Merge User1","type":"main","index":1}],[{"node":"Cria thread de novo","type":"main","index":0}]]},"Airtable - Update Bot Off1":{"main":[[{"node":"Suporte - Envia mensagem Zap para Atendente","type":"main","index":0}]]},"Suporte - Switch Media Humano":{"main":[[{"node":"Suporte - Envia mensagem Zap Chatbase - Sem Audio","type":"main","index":0}],[{"node":"Suporte - Envia mensagem Zap Chatbase - Sem Imagem","type":"main","index":0}],[{"node":"Airtable - Update Bot Off1","type":"main","index":0}],[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"Cancel a Run2":{"main":[[{"node":"Create Message1","type":"main","index":0}]]},"Create Message1":{"main":[[{"node":"Airtable - Update concat_Message Chatbase","type":"main","index":0}],[{"node":"List Runs1","type":"main","index":0}]]},"List Runs1":{"main":[[{"node":"Cancel a Run2","type":"main","index":0}]]},"Mkt - Envia mensagem Zap Chatbase":{"main":[[{"node":"Airtable - Update Text last_Message e concat_Message Text e Token Usage2","type":"main","index":0}]]},"Airtable - Update concat_Message Chatbase":{"main":[[{"node":"Mkt - Create Message in Chatbase","type":"main","index":0}]]},"Wait 10s":{"main":[[{"node":"List Messages","type":"main","index":0}]]},"AI":{"main":[[{"node":"Normalizacao","type":"main","index":0}]]},"Evo Credentials":{"main":[[{"node":"Z-api Credentials","type":"main","index":0}]]},"Z-api Credentials":{"main":[[{"node":"AI","type":"main","index":0}]]},"Normalizacao":{"main":[[{"node":"Airtable - Search User 1","type":"main","index":0}]]},"Verifica Comando":{"main":[[{"node":"Airtable - Update Bot On","type":"main","index":0}],[{"node":"Airtable - Update Bot Off","type":"main","index":0}]]},"Envia primeira mensagem Zap":{"main":[[{"node":"Create First Message Thread","type":"main","index":0}]]},"Airtable - Create User":{"main":[[{"node":"Merge User","type":"main","index":1}]]},"Switch Zap API Provider":{"main":[[{"node":"Envia mensagem por evo - Texts Only","type":"main","index":0}],[{"node":"Envia mensagem por z-api - Texts Only","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Evo Credentials","type":"main","index":0}]]},"Switch Zap API Provider - ":{"main":[[{"node":"Get Base64 From Image Message","type":"main","index":0}],[{"node":"Open AI Vision z-api","type":"main","index":0}]]},"Envia mensagem por z-api - Imagem":{"main":[[{"node":"Set Message From Image","type":"main","index":0}]]},"Envia mensagem por evo - Imagem":{"main":[[{"node":"Set Message From Image","type":"main","index":0}]]},"Get Base64 From Image Message":{"main":[[{"node":"Open AI Vision evo","type":"main","index":0}]]},"Set Message From Image":{"main":[[{"node":"Merge Messages","type":"main","index":1}]]},"Open AI Vision z-api":{"main":[[{"node":"Create Message Thread - Imagem z-api","type":"main","index":0}]]},"Open AI Vision evo":{"main":[[{"node":"Create Message Thread - Imagem evo","type":"main","index":0}]]},"Create Message Thread - Imagem evo":{"main":[[{"node":"Envia mensagem por evo - Imagem","type":"main","index":0}]]},"Create Message Thread - Imagem z-api":{"main":[[{"node":"Envia mensagem por z-api - Imagem","type":"main","index":0}]]},"Wait 5s":{"main":[[{"node":"Show a Job in CloudConvert","type":"main","index":0}]]},"Switch Tags":{"main":[[{"node":"Mkt - Chatbase Switch Media","type":"main","index":0}],[{"node":"Suporte - Switch Media Humano","type":"main","index":0}]]},"Switch":{"main":[[{"node":"ogg to mp3 Create a Job no CloudConvert","type":"main","index":0}],[{"node":"Switch Zap API Provider - ","type":"main","index":0}],[{"node":"Set Message From Text","type":"main","index":0}],[{"node":"Switch Zap API Provider","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"648441c0-4624-471b-8c4a-192203042705","triggerCount":0,"tags":[]}